
<% content_for :page_specific_breadcrumb do %>
<!-- Titlebar
================================================== -->
<div id="titlebar" class="single">
  <div class="container">

    <div class="sixteen columns">
      <h2>My Account</h2>
      <nav id="breadcrumbs">
        <ul>
          <li></li>
          <li><a href="#">Home</a></li>
          <li>My Account</li>
        </ul>
      </nav>
    </div>

  </div>
</div>

<% end %>
<!-- Content
================================================== -->

<!-- Container -->
<div class="container">

  <div class="my-account">

    <ul class="tabs-nav">
      <li class=""><a href="#tab1">Login</a></li>
      <li><a href="#tab2">Register</a></li>
    </ul>

    <div class="tabs-container">
      <!-- Login -->
      <div class="tab-content" id="tab1" style="display: none;">
      <% if @invalid %>
        <div class="notification error closeable">
          <p><span>Error!</span> Invalid username or password.</p>
          <a class="close" href="#"></a>
        </div>
      <% elsif @not_approved %>
        <div class="notification error">
          <p><span>Error!</span> Email not confirmed, please confirm your email id before login.</p>
          <!-- <a class="close" href="#"></a> -->
        </div>
      <% end %>
        <%= form_tag sessions_path, :class => "login" do %>
          <p class="form-row form-row-wide">
            <label for="username">Username:
              <i class="ln ln-icon-Male"></i>
              <input type="text" class="input-text" name="username" id="username" value="" />
            </label>
          </p>

          <p class="form-row form-row-wide">
            <label for="password">Password:
              <i class="ln ln-icon-Lock-2"></i>
              <input class="input-text" type="password" name="password" id="password"/>
            </label>
          </p>

          <p class="form-row">
            <input type="submit" class="button border fw margin-top-10" name="login" value="Login" />
            <input type="hidden" value="<%= params[:req_path] %>" name="req_path" />
            <label for="rememberme" class="rememberme">
            <input name="rememberme" type="checkbox" id="rememberme" value="forever" /> Remember Me</label>
          </p>

          <p class="lost_password">
            <a href="#" >Lost Your Password?</a>
          </p>
        <% end %>
      </div>

      <!-- Register -->
      <div class="tab-content" id="tab2" style="display: none;">

        <!-- <form method="post" class="register"> -->
        <%= form_for @user, url: users_path, html: {:class => "register"} do |f| %>
          <% @creation_errors.each do |error| %>
            <div class="notification error">
              <p><%= error %>.</p>
            </div>
          <% end %>
        <p class="form-row">
          <label class="inline" for="user_user_type_1">
            <%= f.radio_button :user_type, "1" ,:class => "input-radio" %>
            Employee
          </label>
          <label class="inline" for="user_user_type_2">
            <%= f.radio_button :user_type, "2", :class => "input-radio", :data => {"fv-validations" => "required;", "fv-messages" => "Please select the type.;"} %>
            Employer
          </label>
        </p>
          
        <p class="form-row form-row-wide">
          <label for="username2">Username:
            <i class="ln ln-icon-Male"></i>
            <%= f.text_field :user_name, :class => "input-text", :data => {"fv-validations" => "required;", "fv-messages" => "Cannot be empty.;"} %>
          </label>
        </p>
          
        <p class="form-row form-row-wide">
          <label for="email2">Email Address:
            <i class="ln ln-icon-Mail"></i>
            <%= f.text_field :email, :class => "input-text", :data => {"fv-validations" => "required;email;", "fv-messages" => "Cannot be empty; Must be a valid email.;"} %>
          </label>
        </p>

        <p class="form-row form-row-wide">
          <label for="password1">Password:
            <i class="ln ln-icon-Lock-2"></i>
            <%= f.password_field :password, :class => "input-text", :data => {"fv-validations" => "required;", "fv-messages" => "Cannot be empty.;"} %>
          </label>
        </p>

        <p class="form-row form-row-wide">
          <label for="password2">Repeat Password:
            <i class="ln ln-icon-Lock-2"></i>
            <%= f.password_field :password_confirmation, :class => "input-text", :data => {"fv-validations" => "required;", "fv-messages" => "Cannot be empty.;"} %>
          </label>
        </p>
        
        <p class="form-row">
            <label for="termscondition" class="rememberme">
            <input name="rememberme" type="checkbox" id="termscondition" value="forever" data-fv-validation="required;" data-fv-messages="Please accept terms and condition." /> I have read and agree to the <a href="#">terms and conditions</a> &amp; <a href="<%= privacy_policy_path %>">privacy policy</a>.</label>
        </p>

        <p class="form-row">
          <%= f.submit "Register", :class => "button border fw margin-top-10" %>
        </p>
        <% end %>
        <!-- </form> -->
      </div>
    </div>
  </div>
</div>
<% content_for :page_specific_js do %>
  <script type="text/javascript">
    var new_user_form = $("form#new_user").validateIt();
  </script>
<% end %>