<tr>
	<td><a href="<%= job_path(application.job.uid) %>"><%= application.job.uid %></a></td>
	<td><%= Designation.find(application.job.designation_id).name rescue "" %></td>
	<td><%= application.job.employer_profile.company_name %></td>
	<td><%= application.job.get_locations.join(", ") %></td>
	<td><%= application.created_at.strftime("%d/%m/%Y") %></td>
	<td><%= application.review_status %></td>
	<td><%= application.job.get_job_type %></td>
	<td class="action">
		<a href="<%= job_path(application) %>" data-method="delete" data-confirm="Are you sure?" class="delete"><i class="fa fa-remove"></i> Delete</a>
	</td>
</tr>