<tr>
	<td><a href="<%= job_path(bookmark.uid) %>"><%= bookmark.uid %></a></td>
	<td><%= Designation.find(bookmark.designation_id).name rescue "" %></td>
	<td><%= bookmark.employer_profile.company_name %></td>
	<td><%= bookmark.get_locations.join(", ") %></td>
	<td><%= bookmark.get_job_type %></td>
	<td class="action">
		<a href="<%= bookmark_job_path(bookmark.id, :status => "no") %>" data-confirm="Are you sure?" class="delete"><i class="fa fa-remove"></i> Remove</a>
	</td>
</tr>