<p class="margin-bottom-25">Your job listings are shown in the table below.</p>

<table class="manage-table responsive-table">

	<tr>
		<th><i class="fa fa-file-text"></i> Title</th>
		<th><i class="fa fa-check-square-o"></i> Filled?</th>
		<th><i class="fa fa-calendar"></i> Date Posted</th>
		<th><i class="fa fa-user"></i> Applications</th>
		<th></th>
	</tr>
	<%= render :partial => "job", :collection => @jobs %>
</table>

<br>
<a href="<%= new_member_job_path %>" class="button">Add Job</a>

<% content_for :page_specific_js do %>
	<script type="text/javascript">
		$(".fill-status-btn").on("click",function(){
			var el = $(this),
					status = el.data("status");
			$.ajax({
				url : el.attr("href"),
				data : {"status" : status},
				dataType : "json"
			}).done(function(data){
				if(data.success){
					if(data.status){
						el.find("span").text("Mark not-filled");
						el.data("status", "filled");
						$(".fill-status-area").text("Filled");
					}else{
						el.find("span").text("Mark Filled");
						el.data("status", "notfilled");
						$(".fill-status-area").text("-");
					}
				}
			})
			return false;
		})
	</script>
<% end %>