<div class="container">
	<div class="margin-bottom-20"></div>
	<div class="three columns side-menu">
		<h4>Important Links</h4>
		<ul class="side-menu">
			<li><i class="fa fa-eye" aria-hidden="true"></i><a href="<%= resume_path(current_user.uid) %>">View Profile</a></li>
			<li><i class="fa fa-user" aria-hidden="true"></i><a href="<%= edit_member_profile_path(current_user.user_name) %>"> Edit Profile</a></li>
			<li><i class="fa fa-pencil-square-o" aria-hidden="true"></i><a href="<%= editresume_member_profile_path(current_user.user_name) %>">Edit Resume</a></li>
		</ul>
	</div>
	<div class="thirteen columns">
		<!-- Tabs Navigation -->
		<ul class="tabs-nav">
			<li class="active"><a href="#applications">Job Applications</a></li>
			<li><a href="#bookmarks">Bookmarks</a></li>
			<!-- <li><a href="#alerts">Job Alerts</a></li> -->
		</ul>

		<!-- Tabs Content -->
		<div class="tabs-container">
			<div class="tab-content" id="applications">
				<% if !@applications.blank? %>
					<p class="margin-bottom-25">Your applied jobs are shown below</p>
					<table class="manage-table resumes responsive-table">
						<tr>
							<th><b>#</b> ID</th>
							<th><i class="fa fa-id-badge" aria-hidden="true"></i> Position</th>
							<th><i class="fa fa-building-o"></i> Company</th>
							<th><i class="fa fa-map-marker"></i> Location</th>
							<th><i class="fa fa-calendar-o"></i> Date</th>
							<th><i class="fa fa-check-square-o"></i> Status</th>
							<th><i class="fa fa-users"></i> Job Type</th>
							<th></th>
						</tr>
						<%= render :partial => "application", :collection => @applications %>
					</table>
				<% else %>
					<p class="margin-bottom-25">You haven't applied for any jobs yet.</p>
				<% end %>
			</div>

			<div class="tab-content" id="bookmarks">
				<% if !@bookmarks.blank? %>
					<p class="margin-bottom-25">Your bookmarked jobs are shown below</p>
					<table class="manage-table resumes responsive-table">
						<tr>
							<th><b>#</b> ID</th>
							<th><i class="fa fa-id-badge" aria-hidden="true"></i> Position</th>
							<th><i class="fa fa-building-o"></i> Company</th>
							<th><i class="fa fa-map-marker"></i> Location</th>
							<th><i class="fa fa-users"></i> Job Type</th>
							<th></th>
						</tr>
						<%= render :partial => "bookmark", :collection => @bookmarks %>
					</table>
				<% else %>
					<p class="margin-bottom-25">You haven't bookmarked any jobs yet.</p>
				<% end %>
			</div>

			<div class="tab-content" id="alerts">
			<% if !@alerts.blank? %>
				<p class="margin-bottom-25">Your job alerts are shown below.</p>
				<table class="manage-table resumes responsive-table">
					<tr>
						<th><i class="fa fa-file-text"></i> Alert Name</th>
						<th><i class="fa fa-calendar"></i> Date Created</th>
						<th><i class="fa fa-tags"></i> Keywords</th>
						<th><i class="fa fa-map-marker"></i> Location</th>
						<th><i class="fa fa-clock-o"></i> Frequency</th>
						<th><i class="fa fa-check-square-o"></i> Status</th>
						<th></th>
					</tr>
					<tr>
						<td class="alert-name">Looking for job</td>
						<td>September 30, 2015</td>
						<td class="keywords">Web Developer, PHP, HTML</td>
						<td>London</td>
						<td>Daily</td>
						<td>Enabled</td>
						<td class="action">
							<a href="#"><i class="fa fa-check-circle-o"></i> Show Results</a>
							<a href="#"><i class="fa fa-envelope"></i> Email</a>
							<a href="#"><i class="fa fa-pencil"></i> Edit</a>
							<a href="#"><i class="fa  fa-eye-slash"></i> Disable</a>
							<a href="#" class="delete"><i class="fa fa-remove"></i> Delete</a>
						</td>
					</tr>
				</table>
			<% else %>
				<p class="margin-bottom-25">You don't have any job alerts yet.</p>
			<% end %>
				<br>
				<a href="#small-dialog" class="popup-with-zoom-anim button">Add Alert</a>
				<div id="small-dialog" class="zoom-anim-dialog mfp-hide apply-popup">
					<div class="small-dialog-headline">
						<h2>Add Alert</h2>
					</div>

					<div class="small-dialog-content">
						<form action="#" method="get" >
							<input type="text" placeholder="Alert Name" value=""/>
							<input type="text" placeholder="Keyword" value=""/>
							<input type="text" placeholder="Location" value=""/>

							<!-- Select -->
							<select data-placeholder="Email Frequency" class="chosen-select-no-single">
								<option value="">Email Frequency</option>
								<option value="1">Daily</option>
								<option value="2">Weekly</option>
								<option value="3">Fortnightly</option>
							</select>

							<div class="clearfix"></div>
							<div class="margin-top-15"></div>

							<!-- Select -->
							<select data-placeholder="Job Type" class="chosen-select" multiple>
								<option value="1">Full-Time</option>
								<option value="2">Part-Time</option>
								<option value="3">Internship</option>
								<option value="4">Freelance</option>
								<option value="5">Temporary</option>
							</select>

							<div class="margin-top-20"></div>
							<div class="divider"></div>

							<button class="send">Save Alert</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>