<tr>
	<% job_designation = Designation.find(:id => job.designation_id )rescue nil %>
	<td class="title"><a href="<%= job_path(job.uid) %>" target="_blank"><%= job_designation.name rescue "Not Applicable" %></a></td>
	<% if job.filled %>
		<td class="centered fill-status-area">Filled</td>
	<% else %>
		<td class="centered fill-status-area">-</td>
	<% end %>
	<td><%= job.created_at.strftime("%B %d %Y") %></td>
	<td class="centered"><a href="<%= applications_member_job_path(job.uid) %>" class="button <%= job.job_applications.count > 0 ? "" : "disable" %>">Show (<%= job.job_applications.count %>)</a></td>
	<td class="action">
		<!-- <a href="edit_member_job_path"><i class="fa fa-pencil"></i> Edit</a> -->
		<a href="<%= edit_member_job_path(job.uid, :page=>params[:page]) %>"><i class="fa fa-pencil"></i>Edit</a>
		<% if job.filled %>
			<a href="<%= fill_status_member_job_path(job.id) %>" data-status="filled" class="fill-status-btn"><i class="fa fa-check "></i> <span>Mark not-filled</span></a>
		<% else %>
			<a href="<%= fill_status_member_job_path(job.id) %>" data-status="notfilled" class="fill-status-btn"><i class="fa fa-check "></i> <span>Mark Filled</span></a>
		<% end %>
		<%= link_to member_job_path(:id => job.id) , :method => :delete, :data => {:confirm => "Are you sure?"} do %>
				<i class="fa fa-remove"></i> Delete
		<% end %>
		
	</td>
</tr>	