<%= csrf_meta_tags %>
<% content_for :page_specific_breadcrumb do %>
<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg" style="background-image: url(/assets/banner-home-04.jpg);">
    <div class="container">
        <div class="ten columns">
            <h3 style="color: #c8c8c8;">Welcome</h3>
            <h2><%= current_user.name %></h2>
        </div>
    </div>
</div>
<% end %>
<!-- Content
================================================== -->
<div class="container">
	<div class="seventeen columns">
		<% if current_user.is_employee? %>
			<%= render :partial => "employee_index" %>
		<% elsif current_user.is_employer? %>
			<%= render :partial => "employer_index" %>
		<% end %>
		<br>
	</div>
</div>

<script type="text/javascript">
	$(".disable").on("click",function(){
		return false;
	})
</script>