<div class="inner-fields-holder">
	<div class="inner-box-header <%= i == "XXX" ? "" : "stored-box" %>">
		<span class="delete-object">
			<a class="remove-box" href="#">
				<i class="icon-remove"></i>
				<% if i != "XXX" %>
					<%= fe.hidden_field :_destroy, :value => nil, :class => 'should_destroy' %>
				<% end %>
			</a>
		</span>
	</div>
	<div class="control-group">
		<%= fe.label :school_name, "University / College", :class => "control-label" %>
	  <div class="controls">
	    <%= fe.text_field :school_name, :class => "span11" %>
	  </div>
	</div>

	<div class="control-group">
		<%= fe.label :qualification_type, "Qualification Type", :class => "control-label" %>
	  <div class="controls">
	    <%= fe.select :qualification_type, Education.get_qualification_types, {:selected => (obj.qualification_type rescue ""), :prompt => "Select Qualification Type"}, {:class => "span11 qualification_type"} %>
	  </div>
	</div>
<% if i != "XXX" 
	case obj.qualification_type
	when 0
		qualifications = UgQualification.all.asc(:name).collect{|qual| [qual.name, qual.id]}
		ug = UgQualification.find(obj.qualification_id) rescue nil
		if !ug.nil?
			specializations = ug.subjects.all.asc(:name).collect{|sub| [sub.name, sub.id]}
		else
  		specializations = UgQualification.find(qualifications.first.last).subjects.all.asc(:name).collect{|sub| [sub.name, sub.id]}
		end
	when 1
		qualifications = PgQualification.all.asc(:name).collect{|qual| [qual.name, qual.id]}
		pg = PgQualification.find(obj.qualification_id) rescue nil
		if !pg.nil?
			specializations = pg.specializations.all.asc(:name).collect{|sub| [sub.name, sub.id]}
		else
  		specializations = PgQualification.find(qualifications.first.last).specializations.all.asc(:name).collect{|sub| [sub.name, sub.id]}
		end
	when 2
		qualifications = PhdQualification.all.asc(:name).collect{|qual| [qual.name, qual.id]}
		pq = PhdQualification.find(obj.qualification_id) rescue nil
		if !pq.nil?
			specializations = pq.phd_specializations.all.asc(:name).collect{|sub| [sub.name, sub.id]}
		else
			specializations = PhdQualification.find(qualifications.first.last).phd_specializations.all.asc(:name).collect{|sub| [sub.name, sub.id]}
		end
	end
else
	qualifications = UgQualification.all.asc(:name).collect{|qual| [qual.name, qual.id]}
  specializations = UgQualification.find(qualifications.first.last).subjects.all.asc(:name).collect{|sub| [sub.name, sub.id]}
end %>

	<div class="control-group">
		<%= fe.label :qualification_id, "Qualification", :class => "control-label" %>
	  <div class="controls">
	    <%= fe.select :qualification_id, qualifications, {:selected => (obj.qualification_id rescue ""), :prompt => "Select Qualification"}, {:class => "span11 qualification_id"} %>
	  </div>
	</div>

	<div class="control-group">
		<%= fe.label :specialization_id, "Specialization", :class => "control-label" %>
	  <div class="controls">
	    <%= fe.select :specialization_id, specializations, {:selected => (obj.specialization_id rescue ""), :prompt => "Select Specialization"}, {:class => "span11 specialization_id"} %>
	  </div>
	</div>

	<div class="control-group">
		<%= fe.label :start_date, "Start Date", :class => "control-label" %>
	  <div class="controls">
    <div data-date-format="dd/mm/yyyy"  data-date="<%= obj.start_date.strftime("%d/%m/%Y") rescue "" %>" class="input-append date datepicker">
        <%= fe.text_field :start_date, :value => (obj.start_date.strftime("%d/%m/%Y") rescue ""), :data => {"date-format" => "dd/mm/yyyy"}, :class => "span11" %>
      <span class="add-on"><i class="icon-th"></i></span> </div>
    </div>
	</div>

	<div class="control-group">
		<%= fe.label :end_date, "End Date", :class => "control-label" %>
	  <div class="controls">
    <div data-date-format="dd/mm/yyyy"  data-date="<%= obj.end_date.strftime("%d/%m/%Y") rescue "" %>" class="input-append date datepicker">
        <%= fe.text_field :end_date, :value => (obj.end_date.strftime("%d/%m/%Y") rescue ""), :data => {"date-format" => "dd/mm/yyyy"}, :class => "span11" %>
      <span class="add-on"><i class="icon-th"></i></span> </div>
    </div>
	</div>

	<div class="control-group">
		<%= fe.label :note, "Note", :class => "control-label" %>
	  <div class="controls">
	    <%= fe.text_area :note, :class => "span11", :rows => "5", :placeholder => "Notes / Activities / Responsibilites / Awards won" %>
	  </div>
	</div>
</div>