<div class="inner-fields-holder">
	<div class="inner-box-header <%= i == "XXX" ? "" : "stored-box" %>">
		<span class="delete-object">
			<a class="remove-box" href="#">
				<i class="icon-remove"></i>
				<% if i != "XXX" %>
					<%= fe.hidden_field :_destroy, :value => nil, :class => 'should_destroy' %>
				<% end %>
			</a>
		</span>
	</div>
	<div class="control-group">
		<%= fe.label :company_name, "Company Name", :class => "control-label" %>
	  <div class="controls">
	    <%= fe.text_field :company_name, :class => "span11" %>
	  </div>
	</div>

	<div class="control-group">
		<%= fe.label :designation, "Designation", :class => "control-label" %>
	  <div class="controls">
	    <%= fe.text_field :designation, :class => "span11" %>
	  </div>
	</div>

	<div class="control-group">
		<%= fe.label :specialization, "Specialization", :class => "control-label" %>
	  <div class="controls">
	    <%= fe.text_field :specialization, :class => "span11" %>
	  </div>
	</div>

	<div class="control-group">
		<%= fe.label :start_date, "Start Date", :class => "control-label" %>
	  <div class="controls">
    <div data-date-format="dd/mm/yyyy"  data-date="<%= obj.start_date.strftime("%d/%m/%Y") rescue "" %>" class="input-append date datepicker">
        <%= fe.text_field :start_date, :value => (obj.start_date.strftime("%d/%m/%Y") rescue ""), :data => {"date-format" => "dd/mm/yyyy"}, :class => "span11" %>
      <span class="add-on"><i class="icon-th"></i></span> </div>
    </div>
	</div>

	<div class="control-group">
		<%= fe.label :end_date, "End Date", :class => "control-label" %>
	  <div class="controls">
    <div data-date-format="dd/mm/yyyy"  data-date="<%= obj.end_date.strftime("%d/%m/%Y") rescue "" %>" class="input-append date datepicker">
        <%= fe.text_field :end_date, :value => (obj.end_date.strftime("%d/%m/%Y") rescue ""), :data => {"date-format" => "dd/mm/yyyy"}, :class => "span11" %>
      <span class="add-on"><i class="icon-th"></i></span> </div>
    </div>
	</div>

	<div class="control-group">
		<%= fe.label :note, "Note", :class => "control-label" %>
	  <div class="controls">
	    <%= fe.text_area :note, :class => "span11", :rows => "5", :placeholder => "Notes / Activities / Responsibilites / Awards won" %>
	  </div>
	</div>
</div>