<%= render :partial => "shared/tagit" %>
<% content_for :page_specific_css do %>
	<link rel="stylesheet" href="/assets/backend/select2.css">
	<link rel="stylesheet" href="/assets/backend/uniform.css">
	<link rel="stylesheet" href="/assets/backend/bootstrap-wysihtml5.css" />
<% end %>
<% content_for :page_specific_js do %>
	<script type="text/javascript" src="/assets/backend/wysihtml5-0.3.0.js"></script>
	<script type="text/javascript" src="/assets/backend/bootstrap-datepicker.js"></script>
	<script type="text/javascript" src="/assets/backend/bootstrap-wysihtml5.js"></script> 
	<script type="text/javascript">
	$(document).ready(function(){
		$(".datepicker").datepicker();
		$('.textarea_editor').wysihtml5();
		$("#education-holder .box-to-clone").find("select").select2("destroy");
		$("#experience-holder .box-to-clone").find("select").select2("destroy");
	});
	</script>
<% end %>
<% if !@update_errors.blank? %>
	<div class="alert alert-error alert-block">
		<a class="close" data-dismiss="alert" href="#">×</a>
		<h4 class="alert-heading">Error!</h4>
			<% @update_errors.each do |error| %>
				<p><%= error %>.</p> 
			<% end %>
	</div>
<% end %>

<div class="control-group">
	<label class="sub-heading"><h4>1. Account</h4></label>
</div>

<div class="control-group">
	<%= f.label :user_name, "Username", :class => "control-label" %>
  <div class="controls">
  	<% if @user.new_record? %>
    	<%= f.text_field :user_name, :class => "span11", :placeholder => "Username" %>
    	<%= f.hidden_field :user_type, :value => "1" %>
    	<%= f.hidden_field :basic_registeration_complete, :value => "1" %>
    <% else %>
    	<div><%= @user.user_name %></div>
    <% end %>
  </div>
</div>
<div class="control-group">
	<%= f.label :email, "Email", :class => "control-label" %>
  <div class="controls">
    <%= f.text_field :email, :class => "span11", :placeholder => "Email" %>
  </div>
</div>

<div class="control-group">
	<%= f.label :password, "Password", :class => "control-label" %>
  <div class="controls">
    <%= f.password_field :password, :class => "span11", :placeholder => "Must be between 8 to 20 characters" %>
  </div>
</div>

<div class="control-group">
	<%= f.label :password_confirmation, "Confirm Password", :class => "control-label" %>
  <div class="controls">
    <%= f.password_field :password_confirmation, :class => "span11", :placeholder => "Must be between 8 to 20 characters" %>
  </div>
</div>

<%= f.fields_for :employee_profile do |ep| %>  
  <div class="control-group">
  	<label class="sub-heading"><h4>2. Basic</h4></label>
  </div>

	<div class="control-group">
		<%= ep.label :name, "Full Name", :class => "control-label" %>
	  <div class="controls">
	    <%= ep.text_field :name, :class => "span11" %>
	  </div>
	</div>

	<div class="control-group">
    <%= ep.label :avatar, "Profile Picture", :class => "control-label" %>
    <% if !@user.new_record? && !@user.avatar.thumb.url.nil? %>
	    <div class="controls">
	      <%= image_tag @user.avatar.thumb.url, :width => "75" %>
	    </div>
	  <% end %>
    <div class="controls">
      <%= ep.file_field :avatar %>
    </div>
  </div>

	<div class="control-group">
		<label for="" class="control-label">Gender</label>
	  <div class="controls">
	  <label>
	    <%= ep.radio_button :gender, "male" %>
	    Male
	  </label>
	  <label>
	    <%= ep.radio_button :gender, "female" %>
	    Female
	  </label>
	  </div>
	</div>

	<div class="control-group">
		<%= ep.label :birth_date, "Birth Date", :class => "control-label" %>
	  <div class="controls">
    <div data-date-format="dd/mm/yyyy"  data-date="<%= @user.birth_date.strftime("%d/%m/%Y") rescue Time.now.strftime("%d/%m/%Y") %>" class="input-append date datepicker">
        <%= ep.text_field :birth_date, :value => (@user.birth_date.strftime("%d/%m/%Y") rescue ""), :data => {"date-format" => "dd/mm/yyyy"}, :class => "span11" %>
      <span class="add-on"><i class="icon-th"></i></span> </div>
    </div>
	</div>

	<div class="control-group">
		<label for="" class="control-label">Martial Status</label>
	  <div class="controls">
	  <label>
	    <%= ep.radio_button :maritial_status, "single" %>
	    Single
	  </label>
	  <label>
	    <%= ep.radio_button :maritial_status, "married" %>
	    Married
	  </label>
	  </div>
	</div>

	<div class="control-group">
		<%= ep.label :nationality, "Nationality", :class => "control-label" %>
	  <div class="controls">
	    <%= ep.select :nationality, @countries, {:selected => (@profile.nationality rescue ""), :prompt => "Select Country"}, {:class => "span11"} %>
	  </div>
	</div>
	
	<div class="control-group">
		<%= ep.label :professional_title, "Professional Title", :class => "control-label" %>
	  <div class="controls">
	    <%= ep.text_field :professional_title, :class => "span11", :placeholder => "Manager, Team Leader, CEO" %>
	  </div>
	</div>

	<div class="control-group">
		<%= ep.label :industry_id, "Industry", :class => "control-label" %>
	  <div class="controls">
	    <%= ep.select :industry_id, @industries, {:selected => (@profile.industry_id rescue ""), :prompt => "Select Industry"}, {:class => "span11"} %>
	  </div>
	</div>

	<div class="control-group">
		<%= ep.label :job_category, "Functional Area", :class => "control-label" %>
	  <div class="controls">
	    <%= ep.select :job_category, [""] + @job_categories.collect{|jc| [jc.name, jc.id]}, {:selected => (@profile.job_category rescue ""), :prompt => "Select Functional Area"}, {:class => "span11"} %>
	  </div>
	</div>

	<div class="control-group">
		<%= ep.label :job_sub_category, "Sub Functional Area", :class => "control-label" %>
	  <div class="controls">
	    <%= ep.select :job_sub_category, [""] + @job_sub_categories.collect{|jc| [jc.name, jc.id]}, {:selected => (@profile.job_sub_category rescue ""), :prompt => "Select Sub Functional Area"}, {:class => "span11"} %>
	  </div>
	</div>

	<div class="control-group">
		<%= ep.label :contact_phone_number, "Contact Phone Number", :class => "control-label" %>
	  <div class="controls">
	    <%= ep.text_field :contact_phone_number, :class => "span11", :placeholder => "0265-3030303" %>
	  </div>
	</div>

	<div class="control-group">
		<%= ep.label :mobile_number, "Mobile Number", :class => "control-label" %>
	  <div class="controls">
	    <%= ep.text_field :mobile_number, :class => "span11", :placeholder => "9898988989" %>
	  </div>
	</div>

	<div class="control-group">
		<%= ep.label :skype_id, "Skype ID", :class => "control-label" %>
	  <div class="controls">
	    <%= ep.text_field :skype_id, :class => "span11", :placeholder => "Skype ID" %>
	  </div>
	</div>

	<div class="control-group">
		<%= ep.label :address, "Address", :class => "control-label" %>
	  <div class="controls">
	    <%= ep.text_area :address, :class => "span11" %>
	  </div>
	</div>

	<div class="control-group">
		<%= ep.label :state, "State", :class => "control-label" %>
	  <div class="controls">
	    <%= ep.select :state, @states, {:selected => (@profile.state rescue ""), :prompt => "Select State"}, {:class => "span11"} %>
	  </div>
	</div>

	<div class="control-group">
		<%= ep.label :location, "Location", :class => "control-label" %>
	  <div class="controls">
	    <%= ep.select :location, @locations, {:selected => (@profile.location rescue ""), :prompt => "Select Location"}, {:class => "span11"} %>
	  </div>
	</div>

	<div class="control-group">
		<%= ep.label :preferred_location, "Preferred Location", :class => "control-label" %>
	  <div class="controls">
	    <%= ep.select :preferred_location, @locations, {:selected => (@profile.preferred_location rescue ""), :prompt => "Select Location"}, {:class => "span11"} %>
	  </div>
	</div>

	<div class="control-group">
		<%= ep.label :country, "Country", :class => "control-label" %>
	  <div class="controls">
	    <%= ep.select :country, @countries, {:selected => (@profile.country rescue ""), :prompt => "Select Country"}, {:class => "span11"} %>
	  </div>
	</div>

	<div class="control-group">
    <label class="control-label"></label>
    <div class="controls">
      <label>
				<%= ep.check_box :resume_searchable %>
        Employers can search my resume.
      </label>
    </div>
  </div>

  <div class="control-group">
  	<label class="sub-heading"><h4>3. Resume</h4></label>
  </div>

  <div class="control-group">
		<%= ep.label :headline, "Resume Headline", :class => "control-label" %>
	  <div class="controls">
	   	<%= ep.text_area :headline, :rows => 3, :class => "span11" %>
	   	<div><small><span id="word_counter"><%= @profile.headline.length rescue 0 %></span> / 250</small></div>
    	<div class="hint">Your Resume Headline is the first thing Recruiters will see.</div>
	  </div>
	</div>

  <div class="control-group">
		<%= ep.label :resume_content, "Resume Content", :class => "control-label" %>
	  <div class="controls">
	   	<%= ep.text_area :resume_content, :rows => 6, :class => "textarea_editor span11" %>
	  </div>
	</div>

	<div class="control-group">
		<%= ep.label :video_url, "Video URL", :class => "control-label" %>
	  <div class="controls">
	    <%= ep.text_field :video_url, :class => "span11", :placeholder => "http://www.youtube.com/" %>
	  </div>
	</div>

	<div class="control-group">
		<%= ep.label :years_of_exp, "Total experience in years", :class => "control-label" %>
	  <div class="controls">
	    <%= ep.number_field :years_of_exp, :class => "span11", :placeholder => "Total years of experience." %>
	    <div class="hint">If left empty, experience will be calculated from experience provided.</div>
	  </div>
	</div>

	<div class="control-group">
    <%= ep.label :resume, "Resume", :class => "control-label" %>
    <% if !@user.new_record? && !@user.profile.resume.url.nil? %>
	    <div class="controls">
				<%= link_to "Download uploaded resume here.", @user.profile.resume.url, target: "_blank" %>
	    </div>
	  <% end %>
    <div class="controls">
      <%= ep.file_field :resume %>
    </div>
  </div>
	
	<div class="control-group">
		<label class="sub-heading"><h4>4. URL(s)</h4></label>
	</div>
	<div id="url-holder" class="inner-form-box">
		<div class="box-to-add-urls">
	  <% @profile.urls.each_with_index do |url, i| %>
	    <%= ep.fields_for :urls, url, :child_index => i do |fe| %>
	       <%= render :partial => "url_form", :locals => {:fe => fe, :i => i, :obj => url} %>
	    <% end %>
	  <% end %>
	  </div>
	  <div class="inner-form-box-add-btn">
	  	<button class="btn btn-info" id="add-url-btn">Add URL</button>
	  	 <div class="box-to-clone">
	  		<%  new_object = ep.object.send("urls").build #rescue nil %>
      	<%= ep.fields_for :urls, new_object, :child_index => "XXX" do |fe| %>
        	<%= render :partial => "url_form", :locals => {:fe => fe, :i => "XXX", :obj => new_object} %>
      	<% end %>
	  	</div>
	  </div>
	</div>
	
	<div class="control-group">
		<label class="sub-heading"><h4>5. Education Detail(s)</h4></label>
	</div>
	<div id="education-holder" class="inner-form-box">
		<div class="box-to-add-educations">
	  <% @profile.educations.each_with_index do |edu, i| %>
	    <%= ep.fields_for :educations, edu, :child_index => i do |fe| %>
	       <%= render :partial => "education_form", :locals => {:fe => fe, :i => i, :obj => edu} %>
	    <% end %>
	  <% end %>
	  </div>
	  <div class="inner-form-box-add-btn">
	  	<button class="btn btn-info" id="add-education-btn">Add Education</button>
	  	 <div class="box-to-clone">
	  		<%  new_object = ep.object.send("educations").build #rescue nil %>
      	<%= ep.fields_for :educations, new_object, :child_index => "XXX" do |fe| %>
        	<%= render :partial => "education_form", :locals => {:fe => fe, :i => "XXX", :obj => new_object} %>
      	<% end %>
	  	</div>
	  </div>
	</div>

	<div class="control-group">
		<label class="sub-heading"><h4>6. Work Experience(s)</h4></label>
	</div>
	<div id="experience-holder" class="inner-form-box">
		<div class="box-to-add-experiences">
	  <% @profile.experiences.each_with_index do |edu, i| %>
	    <%= ep.fields_for :experiences, edu, :child_index => i do |fe| %>
	       <%= render :partial => "experience_form", :locals => {:fe => fe, :i => i, :obj => edu} %>
	    <% end %>
	  <% end %>
	  </div>
	  <div class="inner-form-box-add-btn">
	  	<button class="btn btn-info" id="add-experience-btn">Add Experience</button>
	  	 <div class="box-to-clone">
	  		<%  new_object = ep.object.send("experiences").build #rescue nil %>
      	<%= ep.fields_for :experiences, new_object, :child_index => "XXX" do |fe| %>
        	<%= render :partial => "experience_form", :locals => {:fe => fe, :i => "XXX", :obj => new_object} %>
      	<% end %>
	  	</div>
	  </div>
	</div>

	<div class="control-group">
  	<label class="sub-heading"><h4>7. Skills</h4></label>
  </div>

  <div class="control-group">
		<%= ep.label :skills, "Skills", :class => "control-label" %>
	  <div class="controls">
	   	 <ul id="skill-tags">
          <% @profile.skill_tags.each do |tag| %>
            <li><%= tag.name %></li>
          <% end %>
        </ul>
	  </div>
	</div>

<% end %>

<div class="form-actions">
	<% if params[:page] %>
		<input type="hidden" value="<%= params[:page] %>" name="page" >
	<% end %>
	<% if params[:src] %>
		<input type="hidden" value="<%= params[:src] %>" name="src" >
	<% end %>
  <%= f.submit "Save", :class => "btn btn-success" %>
	<a href="#" onclick="window.history.back();" class="btn">Cancel</a>
</div>

<% content_for :page_specific_js do %>
<script type="text/javascript">
	$("#user_employee_profile_attributes_job_category").on("change", function(){
      var select = null;
      var val = $(this).val();
      $.ajax({
        url : "/admin/jobs/get_job_subad",
        data : {"job_category" : val},
        dataType : "html",
        type : "get"
      }).done(function(html){
        var select = $("#user_employee_profile_attributes_job_sub_category");
        select.select2("destroy");
        select.html(html);
        //console.log(html);
        select.select2({disable_search_threshold:10});
      })
    });
</script>
<% end %>

<script type="text/javascript">
	var urlHolder = $("#url-holder .box-to-add-urls");
	$("button#add-url-btn").on("click",function(){
		var clonebox = $(this).parent().find(".box-to-clone").clone(),
				totalEnteries = urlHolder.find(".inner-fields-holder").length,
				old_id = new RegExp("XXX", "g"),
				newurlbox = clonebox.html().replace(old_id, totalEnteries);
				
		$(".box-to-add-urls").append(newurlbox);
		return false;
	})

	var educationHolder = $("#education-holder .box-to-add-educations");
	$("button#add-education-btn").on("click",function(){
		var clonebox = $(this).parent().find(".box-to-clone").clone(),
				totalEnteries = educationHolder.find(".inner-fields-holder").length,
				old_id = new RegExp("XXX", "g"),
				neweducationbox = clonebox.html().replace(old_id, totalEnteries);

		neweducationbox = $(neweducationbox);
		neweducationbox.find(".datepicker").datepicker();
		var x = neweducationbox.find("select").select2();
		neweducationbox.find("select.qualification_type").on("change",changeQualification)
		neweducationbox.find("select.qualification_id").on("change",changeQualification)
		$(".box-to-add-educations").append(neweducationbox);
		return false;
	})

	var experienceHolder = $("#experience-holder .box-to-add-experiences");
	$("button#add-experience-btn").on("click",function(){
		var clonebox = $(this).parent().find(".box-to-clone").clone(),
				totalEnteries = experienceHolder.find(".inner-fields-holder").length,
				old_id = new RegExp("XXX", "g"),
				newexperiencebox = clonebox.html().replace(old_id, totalEnteries);

		newexperiencebox = $(newexperiencebox);
		newexperiencebox.find(".datepicker").datepicker();
		newexperiencebox.find("select").select2();
				
		$(".box-to-add-experiences").append(newexperiencebox);
		return false;
	})

	var changeQualification = function(){
		var select = null,
				dataToSend = null;
		if($(this).hasClass("qualification_type")){
			select = $(this).parents(".inner-fields-holder").find("select.qualification_id");
			dataToSend = {"type" : "qualification", "value" : $(this).val()}
		}else if($(this).hasClass("qualification_id")){
			select = $(this).parents(".inner-fields-holder").find("select.specialization_id");
			var t = $(this).parents(".inner-fields-holder").find("select.qualification_type").val();
			dataToSend = {"type" : "specialization", "value" : $(this).val(), "qualification_type" : t};
		}
		select.select2("destroy");
		select.hide();
		select.parent().append("<span class='content-loading'>Loading...</span>");
		$.ajax({
			url : "/admin/employees/getselectdata",
			data : dataToSend,
			type : "get",
			dataType : "html"
		}).done(function(data){
			select.html(data);
			select.parent().find("span.content-loading").remove();
			select.show();
			select.select2();
		})
	}

	$("body").on("click",".remove-box", function(){
		if($(this).parent().parent().hasClass("stored-box")){
			if(confirm("Are you sure?")){
				$(this).find("input[type=hidden]").val("1");
				$(this).parents(".inner-fields-holder").slideUp();
			}
		}else{
			$(this).parents(".inner-fields-holder").slideUp(function(){
				$(this).remove();
			});
		}
		return false;
	})
	$("form.admin-employee-form").on("submit",function(){
		$(".box-to-clone").remove();
	})

	$(document).on("ready", function(){
		$("select.qualification_type").on("change",changeQualification);
		$("select.qualification_id").on("change",changeQualification);
		var skill_tags_ids = <%= @tag_array_with_ids.to_json.html_safe %>;
		$("#skill-tags").tagit({
		  fieldName : "user[employee_profile_attributes][skill_tag_ids][]",
		  availableTags : <%= @tag_array.to_json.html_safe %>,
		  placeholder : "Specify your skill set",
		  allowSpaces : true,
		  allowDuplicates : false,
		  beforeTagAdded: function(event, ui) {
		    var tags = $("#skill-tags").tagit("assignedTags");
		    if(skill_tags_ids[ui.tagLabel] != undefined){
		      if(tags.indexOf(skill_tags_ids[ui.tagLabel]) == -1){
		        ui.tag.find("input.tagit-hidden-field").val(skill_tags_ids[ui.tagLabel])        
		      }else{
		        return false;
		      }
		    }else{
		      ui.tag.find("input.tagit-hidden-field").attr("name", "new_skill_tags[]")
		    }
		  }
		 })
	});

	var headlineText = "";
  $("#user_employee_profile_attributes_headline").on("keyup",function(){
    var el = $(this),
        len = el.val().length;
    if(len > 250){
      el.val(headlineText);
    }else if(len <= 250){
      headlineText = el.val();
      $("#word_counter").text(len);
    }
  })
</script>







