<div class="inner-fields-holder">
	<div class="inner-box-header <%= i == "XXX" ? "" : "stored-box" %>">
		<span class="delete-object">
			<a class="remove-box" href="#">
				<i class="icon-remove"></i>
				<% if i != "XXX" %>
					<%= fe.hidden_field :_destroy, :value => nil, :class => 'should_destroy' %>
				<% end %>
			</a>
		</span>
	</div>
	<div class="control-group">
		<%= fe.label :name, "Name", :class => "control-label" %>
	  <div class="controls">
	    <%= fe.text_field :name, :class => "span11", :placeholder => "Facebook, LinkedIn" %>
	  </div>
	</div>

	<div class="control-group">
		<%= fe.label :link, "Link", :class => "control-label" %>
	  <div class="controls">
	    <%= fe.text_field :link, :class => "span11", :placeholder => "http://www.example.com/example" %>
	  </div>
	</div>
</div>