<% content_for :breadcrumbs do %>
	<a href="#" class="current" onclick="return false;">Search Employees</a>
<% end %>
<% content_for :page_title do %>
  Search Employees
<% end %>
<%= render :partial => "shared/tagit" %>
<% content_for :page_specific_css do %>
	<link rel="stylesheet" href="/assets/backend/select2.css">
	<link rel="stylesheet" href="/assets/backend/uniform.css">
	<link rel="stylesheet" href="/assets/backend/bootstrap-wysihtml5.css" />
	<style type="text/css">
		.collapsed{
			display: none;
		}
	</style>
<% end %>
<% content_for :page_specific_js do %>
	<script type="text/javascript" src="/assets/backend/wysihtml5-0.3.0.js"></script>
	<script type="text/javascript" src="/assets/backend/bootstrap-datepicker.js"></script>
	<script type="text/javascript" src="/assets/backend/bootstrap-wysihtml5.js"></script> 
	<script type="text/javascript">
	$(document).ready(function(){
		$(".datepicker").datepicker();
		$('.textarea_editor').wysihtml5();
		$("#education-holder .box-to-clone").find("select").select2("destroy");
		$("#experience-holder .box-to-clone").find("select").select2("destroy");
	});
	</script>
<% end %>
<div class="container-fluid">
	<hr />
	<div class="row-fluid">
	  <div class="widget-box">
    	<div class="widget-title"> <span class="icon"> <i class="icon-search"></i> </span>
      	<h5><a href="" id="search-form-collapse-btn">Search for employees </a></h5>
    	</div>
    	<div id="section-to-collapse" class="widget-content nopadding <%= @resumes.count > 0 ? "collapsed" : "" %>">
				<form id="search_form" name="search-form" class="form-horizontal" method="get" action="">
					<div class="control-group">
						<label class="control-label">Keywords</label>
				  	<div class="controls">
				  		<input type="text" name="keywords" class="span11" placeholder="Designation, keywords etc; Seperate keywords with a comma (,)" value="<%= params[:keywords] %>">
				  	</div>
					</div>
					<div class="control-group">
						<label class="control-label">Name</label>
				  	<div class="controls">
				  		<input type="text" name="name" class="span11" placeholder="Name" value="<%= params[:name] %>">
				  	</div>
					</div>
					<div class="control-group">
						<label class="control-label">Sort by</label>
				  	<div class="controls">
				  		<select data-placeholder="Choose Category" name="sort" class="chosen-select-no-single">
								<option <%= params[:sort].present? && params[:sort] == "desc" ? "selected=selected" : "" %> value="desc">Newest</option>
								<option <%= params[:sort] == "asc" ? "selected=selected" : "" %> value="asc">Oldest</option>
							</select>
				  	</div>
					</div>
					<div class="control-group">
						<label class="control-label">Industry</label>
				  	<div class="controls">
				  		<select data-placeholder="Choose Industry" name="industry" class="chosen-select-no-single">
								<option></option>
								<% Industry.all.asc(:name).each do |industry| %>
									<option <%= params[:industry].present? && params[:industry] == industry.id.to_s ? "selected=selected" : "" %> value="<%= industry.id.to_s %>"><%= industry.name %></option>
								<% end %>
							</select>
				  	</div>
					</div>
					<div class="control-group">
						<label class="control-label">Job Category</label>
				  	<div class="controls">
				  		<select data-placeholder="Job Category" id="job_job_category" name="job_category" class="chosen-select-no-single">
							<option></option>
							<% JobCategory.all.asc(:name).each do |cat| %>
								<option <%= params[:job_category].present? && params[:job_category] == cat.id.to_s ? "selected=selected" : "" %> value="<%= cat.id.to_s %>"><%= cat.name %></option>
							<% end %>
						</select>
				  	</div>
					</div>
					<div class="control-group" id="sub_category_filter" style="<%= !params[:job_sub_category].present? ? "display: none;" : "" %>">
						<label class="control-label">Job Sub Category</label>
				  	<div class="controls">
				  		<select data-placeholder="Job Sub Category" id="job_job_sub_category" name="job_sub_category" class="chosen-select-no-single">
								<option></option>
								<% if params[:job_sub_category].present? %>
									<% JobSubCategory.find(params[:job_sub_category]).job_category.job_sub_categories.all.asc(:name).each do |cat| %>
										<option <%= params[:job_sub_category] == cat.id.to_s ? "selected=selected" : "" %> value="<%= cat.id.to_s %>"><%= cat.name %></option>
									<% end %>
								<% end %>
							</select>
				  	</div>
					</div>
					<div class="control-group">
						<label class="control-label">Location</label>
				  	<div class="controls">
				  		<select data-placeholder="Choose City" multiple="multiple" name="location[]" class="chosen-select-no-single">
								<option></option>
								<% ImportantLocation.all.asc(:name).each do |loc| %>
									<option <%= params[:location].present? && params[:location].include?(loc.id.to_s) ? "selected=selected" : "" %> value="<%= loc.id.to_s %>"><%= loc.name %></option>
								<% end %>
							</select>
				  	</div>
					</div>
					<div class="control-group">
						<label class="control-label">Minimun Qualification</label>
				  	<div class="controls">
				  		<select data-placeholder="Select minimum qualification" name="qualification" class="chosen-select-no-single">
								<option value="">Any Qualification</option>
								<% Education.get_qualification_types.each do |qual| %>
									<option <%= params[:qualification].present? && params[:qualification] == qual.last.to_s ? "selected=selected" : "" %> value="<%= qual.last %>"><%= qual.first %></option>
								<% end %>
							</select>
				  	</div>
					</div>
					<div class="control-group">
						<label class="control-label">Minimun Experience</label>
				  	<div class="controls">
				  		<select data-placeholder="Select Year(s)" name="years" class="chosen-select-no-single">
								<option></option>
								<% (0..30).each do |i| %>
									<option <%= params[:years].present? && params[:years] == i.to_s ? "selected=selected" : "" %> value="<%= i %>"><%= i == 0 ? "Fresher" : i %></option>
								<% end %>
							</select>
				  	</div>
					</div>
					<div class="control-group">
						<label class="control-label">Skills</label>
				  	<div class="controls">
				  		<select data-placeholder="Choose Skills" multiple="multiple" name="skills[]" class="chosen-select-no-single">
								<option></option>
								<% SkillTag.all.asc(:name).each do |st| %>
									<option <%= params[:skills].present? && params[:skills].include?(st.id.to_s) ? "selected=selected" : "" %> value="<%= st.id.to_s %>"><%= st.name %></option>
								<% end %>
							</select>
				  	</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<input type="submit" class="btn btn-primary" value="Search">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<% if @resumes.count > 0 %>
<div class="container-fluid">
  <div class="row-fluid">
		<div class="span12">
			<div class="widget-box">
			  <div class="widget-title"> <span class="icon"> <i class="icon-group"></i> </span>
			    <h5>
			    	<%= @resumes.count %> Employee(s) found
			    </h5>
			    <a href="<%= search_admin_employees_path %>"><span class="icon"> <i class="icon-refresh"></i> </span></a>
			  </div>
			  <div class="widget-content nopadding">
			    <table class="table table-bordered table-striped">
			      <thead>
			        <tr>
			          <th>Name</th>
			          <th>Email</th>
			          <th>Contact Number</th>
			          <th>Location</th>
			          <th>Created On</th>
			          <th>Actions</th>
			        </tr>
			      </thead>
			      <tbody>
			      	<% @resumes.each_with_index do |profile,i| %>
			      		<% user = profile.user %>
			      		<tr class="<%= i%2 != 0 ? "even" : "odd" %>">
			      			<td><a href="<%= admin_employee_path(user.user_name, :page => params[:page]) %>"><%= user.name %></a></td>
			      			<td><%= user.email %></td>
			      			<td><%= profile.contact_phone_number %></td>
			      			<td><%= profile.full_location %></td>
			      			<td><%= user.created_at.strftime("%d/%m/%Y") %></td>
			      			<td> 
			      				<a href="<%= edit_admin_employee_path(user.user_name, :page=>params[:page], :src => "search") %>" class="btn btn-mini btn-primary">Edit</a>
			      				<%= link_to "Delete", admin_employee_path(user.user_name, :page=>params[:page], :src => "search"), :method => :delete, :class => "btn btn-mini btn-danger", :data => {:confirm => "Are you sure?"} %>
			      			</td>
			      		</tr>
			      	<% end %>
			     	</tbody>
			    </table>
			  </div>
			</div>
		</div>
	</div>
</div>

<%=
  content_tag :div, class: "bottomnav clearfix" do
    content_tag :div, paginate(@resumes), class: "pagination pagination-centered"
  end
%>
<% end %>
<% content_for :page_specific_js do %>
	<script type="text/javascript">
		$(function() {
		   $("#search_form").submit(function() {
		      $(this).find(":input").filter(function(){ return !this.value; }).attr("disabled", "disabled");
		      return true; // ensure form still submits
		    });
		});

		$("#search-form-collapse-btn").on("click",function(){
			var section = $("#section-to-collapse");
			if(section.hasClass("collapsed")){
				section.removeClass("collapsed");
			}else{
				section.addClass("collapsed");
			}
			return false;
		})

		$("#job_job_category").on("change", function(){
			var val = $(this).val();
			if(val != ""){
				$("#sub_category_filter").show();
				$.ajax({
					url : "/jobs/get_job_sub",
					data : {"job_category" : val},
					dataType : "html",
					type : "get"
				}).done(function(html){
					var select = $("#job_job_sub_category");
					select.select2("destroy");
					select.html(html)
					select.select2({disable_search_threshold:10});
				})
			}
		})
	</script>
<% end %>