<% content_for :breadcrumbs do %>
	<a class="tip-bottom" href="<%= admin_employees_path %>" data-original-title="Employees">Employees</a>
		<a href="#" class="current" onclick="return false;"><%= @user.name %></a>
	<% end %>
	<% content_for :page_title do %>
   <%= @user.name %>
  <% end %>
	<div class="container-fluid">
		<hr>
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
				  <div class="widget-title"> <span class="icon"> <i class="icon-group"></i> </span>
				    <h5><%= @user.name %> Details - <i>Employee</i></h5>
				    <div class="profile-status"><span class="badge <%= @user.basic_registeration_complete ?  "badge-success" : "badge-warning" %>"><%= @user.registration_status %></span></div>
				  </div>
				  <div class="widget-content nopadding">
				    <table class="table table-bordered table-striped">
				      <tbody>
				      	<tr>
				      		<td class="span5">Username</td>
				      		<td><%= @user.user_name %></td>
				      		<td class="span2 show-logo" rowspan="3"><%= image_tag @user.avatar.thumb.url %></td>
				      	</tr>
				      	<tr>
				      		<td class="span5">Email</td>
				      		<td><%= @user.email %></td>
				      	</tr>
				      	<tr>
				      		<td class="span5">Full Name</td>
				      		<td colspan="2"><%= @user.name %></td>
				      	</tr>
				      	<tr>
				      		<td class="span5">Gender</td>
				      		<td colspan="2"><%= @profile.gender.camelize rescue "Not Specified" %></td>
				      	</tr>
				      	<tr>
				      		<td class="span5">Birth Date</td>
				      		<td colspan="2"><%= @profile.birth_date.strftime("%d-%m-%Y") rescue "" %></td>
				      	</tr>
				      	<tr>
				      		<td class="span5">Martial Status</td>
				      		<td colspan="2"><%= @profile.maritial_status.camelize rescue "Not Specified" %></td>
				      	</tr>
				      	<tr>
				      		<td class="span5">Nationality</td>
				      		<td colspan="2"><%= @profile.full_nationality %></td>
				      	</tr>
				      	<tr>
				      		<td class="span5">Professional Title</td>
				      		<td colspan="2"><%= @profile.professional_title %></td>
				      	</tr>
				      	<tr>
				      		<td class="span5">Video URL</td>
				      		<td colspan="2">
				      			<% if !@profile.video_url.nil? %>
				      				<a href="<%= @profile.video_url %>" target="_blank"><%= @profile.video_url %></a>
				      			<% end %>
				      		</td>
				      	</tr>
				      	<tr>
				      		<td class="span5">Resume Content</td>
				      		<td colspan="2">
				      			<div class="expand-content">
				      				<a href="#">Show More</a>
				      				<div style="display: none;">
				      					<%= @profile.resume_content.html_safe rescue "" %>
				      				</div>
				      			</div>
				      		</td>
				      	</tr>
				      	<tr>
				      		<td class="span5">Resume</td>
				      		<td colspan="2">
				      			<% if @profile.resume.url.nil? %>
				      				Resume Not Uploaded
				      			<% else %>
				      				<a href="<%= @profile.resume.url %>" target="_blank">View Resume</a>
				      			<% end %>
				      		</td>
				      	</tr>
				      	<tr>
				      		<td class="span5">Contact Phone Number</td>
				      		<td colspan="2"><%= @profile.contact_phone_number %></td>
				      	</tr>
				      	<tr>
				      		<td class="span5">Mobile Number</td>
				      		<td colspan="2"><%= @profile.mobile_number %></td>
				      	</tr>
				      	<tr>
				      		<td class="span5">Address</td>
				      		<td colspan="2"><%= @profile.address %></td>
				      	</tr>
				      	<tr>
				      		<td class="span5">State</td>
				      		<td colspan="2"><%= @profile.full_state %></td>
				      	</tr>
				      	<tr>
				      		<td class="span5">Location</td>
				      		<td colspan="2"><%= @profile.full_location %></td>
				      	</tr>
				      	<tr>
				      		<td class="span5">Country</td>
				      		<td colspan="2"><%= @profile.full_country %></td>
				      	</tr>
				      	<tr>
				      		<td class="span5">Preffered Location</td>
				      		<td colspan="2"><%= @profile.full_preffered_location %></td>
				      	</tr>
				      	<tr>
				      		<td class="span5">Resume Searchable</td>
				      		<td colspan="2"><%= @profile.resume_searchable ? "Yes" : "No" %></td>
				      	</tr>
				      	<% if !@profile.urls.empty? %>
					      	<tr>
					      		<td colspan="3" class="text-center"><b>URL(s)</b></td>
					      	</tr>
					      	<% @profile.urls.each do |url| %>
					      		<tr>
					      			<td class="text-right"><%= url.name %></td>
					      			<td colspan="2"><a href="<%= url.link %>" target="_blank"><%= url.link %></a></td>
					      		</tr>
					      	<% end %>
					      <% end %>
					      <% if !@profile.educations.empty? %>
					      	<tr>
					      		<td colspan="3" class="text-center"><b>Education Detail(s)</b></td>
					      	</tr>
					      	<% @profile.educations.each do |edu| %>
						      	<tr>
						      		<td colspan="3" class="text-center"><%= edu.get_qualification_type %></td>
						      	</tr>
					      		<tr>
					      			<td class="text-right">School Name</td>
					      			<td colspan="2"><%= edu.school_name %></td>
					      		</tr>
					      		<tr>
					      			<td class="text-right">Qualification</td>
					      			<td colspan="2"><%= edu.get_qualification.name rescue "" %></td>
					      		</tr>
					      		<tr>
					      			<td class="text-right">Specialization</td>
					      			<td colspan="2"><%= edu.get_specialization.name rescue "" %></td>
					      		</tr>
					      		<tr>
					      			<td class="text-right">Period</td>
					      			<td colspan="2"><%= edu.start_date.strftime("%d-%m-%Y") rescue "" %> ~ <%= edu.end_date.strftime("%d-%m-%Y") rescue "Current" %></td>
					      		</tr>
					      			<tr>
					      			<td class="text-right">Note</td>
					      			<td colspan="2"><%= edu.note %></td>
					      		</tr>
					      		<tr>
					      			<td colspan="3"></td>
					      		</tr>
					      	<% end %>
					      <% end %>
				      	<% if !@profile.experiences.empty? %>
					      	<tr>
					      		<td colspan="3" class="text-center"><b>Experience(s)</b></td>
					      	</tr>
					      	<% @profile.experiences.each do |exp| %>
					      		<tr>
					      			<td class="text-right">Company Name</td>
					      			<td colspan="2"><%= exp.company_name %></td>
					      		</tr>
					      		<tr>
					      			<td class="text-right">Designation</td>
					      			<td colspan="2"><%= exp.designation %></td>
					      		</tr>
					      		<tr>
					      			<td class="text-right">Specialization</td>
					      			<td colspan="2"><%= exp.specialization %></td>
					      		</tr>
					      		<tr>
					      			<td class="text-right">Period</td>
					      			<td colspan="2"><%= exp.start_date.strftime("%d-%m-%Y") rescue "" %> ~ <%= exp.end_date.strftime("%d-%m-%Y") rescue "Current" %></td>
					      		</tr>
					      			<tr>
					      			<td class="text-right">Note</td>
					      			<td colspan="2"><%= exp.note %></td>
					      		</tr>
					      		<tr>
					      			<td colspan="3"></td>
					      		</tr>
				      		<% end %>
				      	<% end %>
				      	<% if !@profile.skill_tags.empty? %>
				      		<tr>
				      			<td class="span5">Skills</td>
				      			<td colspan="3">
						      		<% @profile.skill_tags.each do |tag| %>
												<span class="label"><%= tag.name %></span>
						      		<% end %>
				      			</td>
				      		</tr>
				      	<% end %>
				      </tbody>
				    </table>
				  </div>
				</div>
				<a href="<%= admin_employees_path(:page => params[:page]) %>" class="btn btn-info">Back to List</a>
				<a href="<%= edit_admin_employee_path(@user.user_name, :page => params[:page]) %>" class="btn btn-warning">Edit</a>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$(".expand-content a").on("click",function(){
			if(!$(this).hasClass("expanded")){
				$(this).addClass("expanded");
				$(this).parent().find("div").slideDown();
				$(this).text("Show Less");
			}else{
				$(this).removeClass("expanded");
				$(this).parent().find("div").slideUp();
				$(this).text("Show More");
			}
			return false;
		})
	</script>