<li>
	<a href="<%= job_path(job.uid) %>">
		<% if job.is_premium? && current_user.is_premium? %>
			<% if job.employer_profile.avatar.url.nil? %>
				<img src="/assets/job-list-logo-01.png" alt="">
			<% else %>
				<img src="<%= job.employer_profile.avatar.url %>" alt="">
			<% end %>
		<% elsif !job.is_premium? %>
			<% if job.employer_profile.avatar.url.nil? %>
				<img src="/assets/job-list-logo-01.png" alt="">
			<% else %>
				<img src="<%= job.employer_profile.avatar.url %>" alt="">
			<% end %>
		<% else %>
			<img src="/assets/job-list-logo-01.png" alt="">
		<% end %>
		<div class="job-list-content">
			<h4>
				<%= job.job_category.name %> - <%= job.job_sub_category.name %>
				<span class="<%= job.get_job_type.downcase %>"><%= job.get_job_type %></span>
			</h4>
			<div class="job-icons">
				<span><i class="fa fa-briefcase"></i> 
					<% if job.is_premium? && current_user.is_premium? %>
						<%= job.employer_profile.company_name %>
					<% elsif !job.is_premium? %>
						<%= job.employer_profile.company_name %>
					<% else %>
						Premium job posting
					<% end %>
				</span>
				<span><i class="fa fa-map-marker"></i> <%= job.get_locations.join(", ") %></span>
				<% if job.display_salary && !job.salary.blank? %>
					<span><i class="fa fa-inr"></i><%= job.salary.sub(",",".") %> Lacs / Year</span>
				<% end %>
				<% if job.max_experience_years < job.min_experience_years %>
					<span>Min-Exp: <%= job.min_experience_years %>-yrs</span>
				<% else %>
					<span>Exp: <%= job.min_experience_years %> - <%= job.max_experience_years %> yrs</span>
				<% end %>
			</div>
			<div class="job-icons">
				<span><i class="fa fa-clock-o"></i>Posted <%= time_ago_in_words(job.created_at) %> ago</span>
			</div>
			<p>
				<% html = strip_tags(job.job_description) %>
				<% if html.length > 250 %>
					<%= html[0..250].html_safe %>... <span style="color:#26ae61;">Read More</span>
				<% else %>
					<%= html.html_safe %>
				<% end %>
			</p>
		</div>
	</a>
	<div class="clearfix"></div>
</li>