<% content_for :page_specific_breadcrumb do %>
<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg" style="background-image: url(assets/banner-home-03.jpg);">
	<div class="container">
		<div class="ten columns">
		<% if params[:category].present? || params[:sub_category].present? %>
			<span>We found <%= @jobs.count %> job(s) matching:</span>
			<% if params[:category].present? %>
				<h2><%= @category.name rescue "Category not found" %></h2>
			<% elsif params[:sub_category].present? %>
				<h2><%= @category.name rescue "" %> - <%= @sub_category.name rescue "Sub Category not found" %></h2>
			<% end %>
			<div><a href="<%= categories_path %>">Browse all categories</a></div>
		<% else %>
			<span>We have <%= @jobs.count %> job(s) for you.</span>
			<h2>All Categories</h2>
		<% end %>
		</div>
		
		<% if current_user.nil? %>
			<div class="six columns">
				<a href="<%= new_member_job_path %>" class="button">Post a Job, It’s Free!</a>
			</div>
		<% end %>

	</div>
</div>
<% end %>
<!-- Content
================================================== -->
<div class="container">
	<!-- Recent Jobs -->
	<div class="eleven columns">
	<div class="padding-right">
		
		<form action="" method="get" class="list-search">
			<button><i class="fa fa-search"></i></button>
			<input type="text" name="keywords" placeholder="job title, skills, keywords or company name; seperate keywords with (,)" value="<%= params[:keywords] %>"/>
			<div class="clearfix"></div>
			<div class="margin-bottom-10"></div>
			<% if params[:category].present? || params[:sub_category].present? || params[:sort].present? || params[:years].present? || params[:location].present? || params[:job_type].present? || params[:salary].present? || params[:keywords].present? %>
				<a href="<%= jobs_path %>">Clear all filters</button>
			<% end %>
		</form>

		<ul class="job-list full">
			<%= render :partial => "job", :collection => @jobs %>
		</ul>
		<div class="clearfix"></div>

		<div class="pagination-container">
			<!-- <nav class="pagination">
				<ul>
					<li><a href="#" class="current-page">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li class="blank">...</li>
					<li><a href="#">22</a></li>
				</ul>
			</nav>

			<nav class="pagination-next-prev">
				<ul>
					<li><a href="#" class="prev">Previous</a></li>
					<li><a href="#" class="next">Next</a></li>
				</ul>
			</nav> -->
			<% if !@jobs.empty? %>
				<%= paginate(@jobs, :window => 2) %>
			<% end %>
		</div>

	</div>
	</div>


	<!-- Widgets -->
	<div class="five columns">
	<form id="search_form" action="" method="get">

	<!-- Category -->
		<div class="widget">
			<h4>Category</h4>
			<select data-placeholder="Job Category" id="job_job_category" name="category" class="chosen-select-no-single">
				<option></option>
				<% JobCategory.all.asc(:name).each do |cat| %>
					<option <%= params[:category].present? && params[:category] == cat.id.to_s ? "selected=selected" : "" %> value="<%= cat.id.to_s %>"><%= cat.name %></option>
				<% end %>
			</select>
			<div id="sub_category_filter" style="<%= !params[:sub_category].present? ? "display: none;" : "" %>">
				<div class="margin-bottom-10"></div>
				<select data-placeholder="Job Sub Category" id="job_job_sub_category" name="sub_category" class="chosen-select-no-single">
					<option></option>
					<% if params[:sub_category].present? %>
						<% JobSubCategory.find(params[:sub_category]).job_category.job_sub_categories.all.asc(:name).each do |cat| %>
							<option <%= params[:sub_category] == cat.id.to_s ? "selected=selected" : "" %> value="<%= cat.id.to_s %>"><%= cat.name %></option>
						<% end %>
					<% end %>
				</select>
			</div>
		</div>

		<!-- Sort by -->
		<div class="widget">
			<h4>Sort by</h4>

			<!-- Select -->
			<select data-placeholder="Choose Category" name="sort" class="chosen-select-no-single">
				<option <%= params[:sort].present? && params[:sort] == "desc" ? "selected=selected" : "" %> value="desc">Newest</option>
				<option <%= params[:sort] == "asc" ? "selected=selected" : "" %> value="asc">Oldest</option>
			</select>

		</div>

		<!-- Location -->
		<div class="widget">
			<h4>Location</h4>
			<select data-placeholder="Choose City" multiple="multiple" name="location[]" class="chosen-select-no-single">
				<option></option>
				<% ImportantLocation.all.asc(:name).each do |loc| %>
					<option <%= params[:location].present? && params[:location].include?(loc.id.to_s) ? "selected=selected" : "" %> value="<%= loc.id.to_s %>"><%= loc.name %></option>
				<% end %>
			</select>
		</div>

		<!-- Min Exp -->
		<div class="widget">
			<h4>Minimun Experience</h4>
			<select data-placeholder="Select Year(s)" name="years" class="chosen-select-no-single">
				<option></option>
				<% (0..30).each do |i| %>
					<option <%= params[:years].present? && params[:years] == i.to_s ? "selected=selected" : "" %> value="<%= i %>"><%= i %></option>
				<% end %>
			</select>
		</div>
		<!-- Job Type -->
		<div class="widget">
			<h4>Job Type</h4>

			<ul class="checkboxes">
				<li>
					<input id="check-2" type="checkbox" name="job_type[]" <%= params[:job_type].present? && params[:job_type].include?("0") ? "checked=checked" : "" %> value="0">
					<label for="check-2">Full-Time <span>(<%= @jobs.where(:job_type => 0).count rescue 0 %>)</span></label>
				</li>
				<li>
					<input id="check-3" type="checkbox" <%= params[:job_type].present? && params[:job_type].include?("1") ? "checked=checked" : "" %> name="job_type[]" value="1">
					<label for="check-3">Part-Time <span>(<%= @jobs.where(:job_type => 1).count rescue 0 %>)</span></label>
				</li>
				<li>
					<input id="check-4" type="checkbox" <%= params[:job_type].present? && params[:job_type].include?("2") ? "checked=checked" : "" %> name="job_type[]" value="2">
					<label for="check-4">Internship <span>(<%= @jobs.where(:job_type => 2).count rescue 0 %>)</span></label>
				</li>
				<li>
					<input id="check-5" type="checkbox" <%= params[:job_type].present? && params[:job_type].include?("3") ? "checked=checked" : "" %> name="job_type[]" value="3">
					<label for="check-5">Temporary <span>(<%= @jobs.where(:job_type => 3).count rescue 0 %>)</span></label>
				</li>
			</ul>

		</div>

		<!-- Rate/Hr -->
		<div class="widget">
			<h4>Salary / Year in  <i class="fa fa-inr"></i> </h4>

			<ul class="radioboxes">
				<li>
					<input id="radio-7" type="radio" name="salary" <%= params[:salary].present? && params[:salary] == "0,2" ? "checked=checked" : "" %> value="0,2">
					<label for="radio-7">0 - 2 Lacs</label>
				</li>
				<li>
					<input id="radio-8" type="radio" name="salary" <%= params[:salary].present? && params[:salary] == "2,5" ? "checked=checked" : "" %> value="2,5">
					<label for="radio-8">2 - 5 Lacs</label>
				</li>
				<li>
					<input id="radio-9" type="radio" name="salary" <%= params[:salary].present? && params[:salary] == "5,10" ? "checked=checked" : "" %> value="5,10">
					<label for="radio-9">5 - 10 Lacs</label>
				</li>
				<li>
					<input id="radio-10" type="radio" name="salary" <%= params[:salary].present? && params[:salary] == "10,20" ? "checked=checked" : "" %> value="10,20">
					<label for="radio-10">10 - 20 Lacs</label>
				</li>
				<li>
					<input id="radio-11" type="radio" name="salary" <%= params[:salary].present? && params[:salary] == "20,1000" ? "checked=checked" : "" %> value="20,1000">
					<label for="radio-11">20+ Lacs</label>
				</li>
			</ul>
			
		</div>
		<% if params[:keywords] %>
			<input type="hidden" name="keywords" value="<%= params[:keywords] %>" />
		<% end %>
		<button class="button">Filter</button>
	</form>
	<div class="margin-bottom-50"></div>
	</div>
	<!-- Widgets / End -->
</div>
<% content_for :page_specific_js do %>
	<script type="text/javascript">
		$(function() {
		   $("#search_form").submit(function() {
		      $(this).find(":input").filter(function(){ return !this.value; }).attr("disabled", "disabled");
		      return true; // ensure form still submits
		    });
		});

		$("#job_job_category").on("change", function(){
			var val = $(this).val();
			if(val != ""){
				$("#sub_category_filter").show();
				$.ajax({
					url : "/jobs/get_job_sub",
					data : {"job_category" : val},
					dataType : "html",
					type : "get"
				}).done(function(html){
					var select = $("#job_job_sub_category");
					select.chosen("destroy");
					select.html(html)
					select.chosen({disable_search_threshold:10, width:"100%"});
				})
			}
		})
	</script>
<% end %>


