<% content_for :page_specific_breadcrumb do %>
<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg" style="background-image: url(/assets/banner-home-01.jpg);">
	<div class="container">
		<div class="ten columns">
			<h3 class="industry-name"><i class="fa fa-industry" aria-hidden="true"></i> <%= @job.industry.name %></h3>
			<h2> <%= @job_designation.name rescue "Not Applicable" %>
					<span class="<%= @job.get_job_type.downcase %>"><%= @job.get_job_type %></span>
			</h2>
			<span><a href=""><%= @job.job_category.name %> / <%= @job.job_sub_category.name %></a></span>
		</div>
		<% if !current_user.nil? && current_user.user_type == 1 %>
			<div class="six columns">
				<% if @job.is_bookmarked?(current_user.id.to_s) %>
					<a href="<%= bookmark_job_path(@job.id, :status => "no") %>" class="button bookmark-btn dark"><i class="fa fa-star bookmarked"></i> <b>Remove Bookmark</b></a>
				<% else %>
					<a href="<%= bookmark_job_path(@job.id, :status => "yes") %>" class="button bookmark-btn dark"><i class="fa fa-star"></i> <b>Bookmark This Job</b></a>
				<% end %>
			</div>
		<% end %>
	</div>
</div>
<% end %>
<!-- Content
================================================== -->
<div class="container">
	
	<!-- Recent Jobs -->
	<div class="eleven columns">
		<div class="padding-right">
			
			<!-- Company Info -->
			<div class="company-info">
			<% if @job.is_premium? && current_user.is_premium? %>
				<% if @job.employer_profile.avatar.url.nil? %>
					<img src="/assets/job-list-logo-01.png" alt="">
				<% else %>
					<img src="<%= @job.employer_profile.avatar.url %>" alt="">
				<% end %>
			<% elsif !@job.is_premium? %>
				<% if @job.employer_profile.avatar.url.nil? %>
					<img src="/assets/job-list-logo-01.png" alt="">
				<% else %>
					<img src="<%= @job.employer_profile.avatar.url %>" alt="">
				<% end %>
			<% else %>
				<img src="/assets/job-list-logo-01.png" alt="">
			<% end %>
				<div class="content">
					<h4>
					<% if @job.is_premium? && current_user.is_premium? %>
						<%= @job.employer_profile.company_name %>
					<% elsif !@job.is_premium? %>
						<%= @job.employer_profile.company_name %>
					<% else %>
						Premium job posting
					<% end %>
					</h4>
					<!-- <span><a href="#"><i class="fa fa-link"></i> Website</a></span>
					<span><a href="#"><i class="fa fa-twitter"></i> @kingrestaurants</a></span> -->
				</div>
				<div class="clearfix"></div>
			</div>

			<p class="margin-reset">
				<%= @job.employer_profile.company_profile.html_safe rescue "" %>
			</p>
			<br />
			<h4 class="margin-bottom-10">Job Requirment</h4>
			<p class="margin-reset margin-bottom-30">
				<%= @job.job_description.html_safe %>
			</p>
			<br />
			<a href="" onclick="window.history.back();return false;" class="button">Back</a>
		</div>
	</div>


	<!-- Widgets -->
	<div class="five columns">

		<!-- Sort by -->
		<div class="widget">
			<h4>Overview</h4>

			<div class="job-overview">
				<ul>
					<li>
						<i class="fa fa-map-marker"></i>
						<div>
							<strong>Location:</strong>
							<span><%= @job.get_locations.join(", ") %></span>
						</div>
					</li>
					<% if !@job.skill_tag_ids.blank? %>
					<li>
							<i class="fa fa-wrench"></i>
							<div>
								<strong>Skills:</strong>
								<span>
									<ul class="skill-set">
									<% @job.skill_tags.each do |skill| %>
										<li><%= skill.name %></li>
									<% end %>
									</ul>
								</span>
							</div>
					</li>
					<% end %>
					<li>
							<i class="fa fa-line-chart"></i>
							<div>
							<% if @job.max_experience_years < @job.min_experience_years %>
								<strong>Min-Exp:</strong>
								<span> <%= @job.min_experience_years %> yrs</span>
							<% else %>
								<strong>Exp:</strong>
								<span><%= @job.min_experience_years %> - <%= @job.max_experience_years %> yrs</span>
							<% end %>
							</div>
						</li>
					<li>
						<i class="fa fa-user"></i>
						<div>
							<strong>Job Title:</strong>
							<span><%= @job_designation.name rescue "Not Applicable" %></span>
						</div>
					</li>
					<li>
					<i class="fa fa-certificate" aria-hidden="true"></i>
						<div>
							<strong>Qualification(s):</strong>
							<% case @job.min_qualification_type %>
							<% when 2 %>
								<span>PhD : <%= PhdQualification.find(@job.phd_qualification_id).name rescue "" %></span>
								<span>Post Graduation : <%= PgQualification.find(@job.pg_qualification_id).name rescue "" %></span>
								<span>Under Graduation : <%= UgQualification.find(@job.ug_qualification_id).name rescue "" %></span>
							<% when 1 %>
								<span>Post Graduation : <%= PgQualification.find(@job.pg_qualification_id).name rescue "" %></span>
								<span>Under Graduation : <%= UgQualification.find(@job.ug_qualification_id).name rescue "" %></span>
							<% when 0 %>
								<span>Under Graduation : <%= UgQualification.find(@job.ug_qualification_id).name rescue "" %></span>
							<% end %>
						</div>
					</li>
					<% if @job.display_salary && !@job.salary.blank? %>
						<li>
							<i class="fa fa-inr"></i>
							<div>
								<strong>Salary:</strong>
								<span><%= @job.get_salary_in_words %></span>
							</div>
						</li>
					<% end %>
					<% if !current_user.nil? && current_user.is_employee? %>
						<% 	
							profile = current_user.profile 
							matchedct = @job.skill_tags & profile.skill_tags
							matchrate = ((matchedct.count * 100) / @job.skill_tags.count) rescue 0
							colors = ["#f00", "#ff6800", "#ff9000", "#ffbd00", "#2ab101"]
							if matchrate >= 0 && matchrate <= 20
								matchcolor = colors[0]
							elsif matchrate > 20 && matchrate <= 40
								matchcolor = colors[1]
							elsif matchrate > 40 && matchrate <= 60
								matchcolor = colors[2]
							elsif matchrate > 60 && matchrate <= 80
								matchcolor = colors[3]
							elsif matchrate > 80 && matchrate <= 100
								matchcolor = colors[4]
							end
						%>
						<li>
							<i class="fa fa-magic"></i>
							<div>
								<strong>Profile Match:</strong>
								<span><a href="#" onclick="return false;" style="color:<%= matchcolor %>;" title="Profile match percentage based on skill sets."><%= matchrate %>%</a></span>
							</div>
						</li>
					<% end %>
				</ul>

				<% if !current_user.nil? %>
					<% if current_user.user_type == 1 %>
						<% if current_user.has_applied?(@job) %>
							<a href="" id="application-button" class="popup-with-zoom-anim disable button">Applied</a>
						<% else %>
							<a href="#small-dialog" id="application-button" class="popup-with-zoom-anim button">Apply For This Job</a>
						<% end %>
						<div id="small-dialog" class="zoom-anim-dialog mfp-hide apply-popup">
							<div class="small-dialog-headline">
								<h2>Apply For This Job</h2>
							</div>
							<div class="small-dialog-content">
								<div id="success-alert" class="notification success" style="display: none;">
									<p><span>Success!</span> Job application successful. You can view your applications in your dashboard.</p>
								</div>
								<div id="error-no-cv-alert" class="notification error" style="display: none;">
									<p><span>Error!</span> There is no CV present. Please upload CV first. <strong><a href="<%= editresume_member_profile_path(current_user.user_name) %>">Update CV</a></strong></p>
								</div>
								<%= form_for @job_application, :url => {:action => "create"} do |f| %>
									<%= f.text_area :cover_letter, :placeholder => "Your message / cover letter" %>
									<div class="margin-bottom-20"></div>
									<span>Your CV and other details will be attached along with this application.</span>
									<div class="clearfix"></div>
									<div class="divider"></div>
									<%= f.hidden_field :job_id, :value => @job.id.to_s %>
									<%= f.submit "Send Application", :class => "send", :id => "send-application" %>
								<% end %>
							</div>
						</div>
					<% end %>
				<% else %>
					<a href="<%= login_path(:req_path => request.original_fullpath) %>" class="button">Apply For This Job</a>
				<% end %>
			</div>

		</div>

	</div>
	<!-- Widgets / End -->
</div>
<script type="text/javascript">
	$("form#new_job_application").on("submit", function(){
		var form = $(this),
				datastring = form.serialize();
		$.ajax({
			url : form.attr("action"),
			data : datastring,
			type : "post",
			dataType : "json"
		}).done(function(data){
			if(data.success){
				form.hide();
				$("#success-alert").show();
				$("#application-button").addClass("disable").text("Applied").attr("href", "");
			}else if(!data.success && data.msg == "NO_CV_PRESENT"){
				form.hide();
				$("#error-no-cv-alert").show();
			}
		})
		return false;
	})
	$(".bookmark-btn").on("click",function(){
		var el = $(this),
				i = el.find("i");
		$.ajax({
			url : el.attr("href"),
			type : "get",
			dataType : "json"
		}).done(function(data){
			if(data.success){
				if(i.hasClass("bookmarked")){
					i.removeClass("bookmarked");
					el.find("b").text("Bookmark This Job");
				}else{
					i.addClass("bookmarked");
					el.find("b").text("Remove Bookmark");
				}
			}
		})
		return false;
	})
</script>



