
<% content_for :page_specific_breadcrumb do %>
<!-- Titlebar
================================================== -->
<div id="titlebar" class="single">
  <div class="container">

    <div class="sixteen columns">
      <h2>Success!!!</h2>
      <h4>Your email has been confirmed successfully. Please login to proceed.</h4>
      <a href="<%= login_url %>">Login</a>
    </div>
  </div>
</div>

<% end %>

<!-- Container -->
<div class="container"  style="height: 150px;"></div>