
<% content_for :page_specific_breadcrumb do %>
<!-- Titlebar
================================================== -->
<div id="titlebar" class="single">
  <div class="container">
    <div class="sixteen columns">
      <h2>Unsuccessful!!!</h2>
      <h4>We couldn't confirm your email at the moment, please try again later!</h4>
    </div>
  </div>
</div>

<% end %>
<!-- Container -->
<div class="container"  style="height: 150px;"></div>