
<% content_for :page_specific_breadcrumb do %>
<!-- Titlebar
================================================== -->
<div id="titlebar" class="single">
  <div class="container">

    <div class="sixteen columns">
      <h2>Thank you for registering with us</h2>
      <h4>Please confirm your email address to continue.</h4>
    </div>

  </div>
</div>

<% end %>

<!-- Container -->
<div class="container"  style="height: 150px;"></div>