
<% content_for :page_specific_breadcrumb do %>
<!-- Titlebar
================================================== -->
<div id="titlebar" class="single">
  <div class="container">

    <div class="sixteen columns">
      <h2>My Account</h2>
      <nav id="breadcrumbs">
        <ul>
          <li></li>
          <li><a href="#">Home</a></li>
          <li>Reset Password</li>
        </ul>
      </nav>
    </div>

  </div>
</div>

<% end %>
<!-- Content
================================================== -->

<!-- Container -->
<div class="container">

  <div class="my-account">

    <div class="tabs-container">
      <!-- Reset -->
      <div class="tab-content" id="tab1">
        <% if @invalid == false %>
          <div class="notification error closeable">
            <p><span>Error!</span> Invalid reset token!</p>
            <a class="close" href="#"></a>
          </div>
        <% else %>
          <%= form_tag updatepassword_path, :class => "login" , :id => "updatepassword" do %>
            <p class="form-row form-row-wide">
              <label for="password">Password:
                <i class="ln ln-icon-Lock-2"></i>
                <input data-fv-validations="required;" data-fv-messages="Cannot be empty.;" class="input-text" type="password" name="password" id="password"/>
              </label>
            </p>

            <p class="form-row form-row-wide">
              <label for="confirm-password">Confirm Password:
                <i class="ln ln-icon-Lock-2"></i>
                <input data-fv-validations="required;passwordmatch;" data-fv-messages="Cannot be empty.;Password & Confirm Password do not match.;" class="input-text" type="password" name="confirmpassword" id="confirm-password"/>
              </label>
            </p>

            <p class="form-row">
              <input type="hidden" value="<%= @user.id.to_s %>" name="user_id" %>
              <input type="submit" class="button border fw margin-top-10" name="update" value="Update" />
            </p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% content_for :page_specific_js do %>
  <script type="text/javascript">
    var new_user_form = $("form#updatepassword").validateIt();
    new_user_form.rules.passwordmatch = function(value, element){
      return $("#password").val() == value;
    }
  </script>
<% end %>