
<% content_for :page_specific_breadcrumb do %>
<!-- Titlebar
================================================== -->
<div id="titlebar" class="single">
  <div class="container">

    <div class="sixteen columns">
      <h2>My Account</h2>
      <nav id="breadcrumbs">
        <ul>
          <li></li>
          <li><a href="#">Home</a></li>
          <li>My Account</li>
        </ul>
      </nav>
    </div>

  </div>
</div>

<% end %>
<!-- Content
================================================== -->

<!-- Container -->
<div class="container">

  <div class="my-account">

    <div class="tabs-container">
      <!-- Reset -->
      <div class="tab-content" id="tab1">
        <%= form_tag resetpassword_path, :class => "login" do %>
          <p class="form-row form-row-wide">
            <label for="email">Email:
              <i class="ln ln-icon-Male"></i>
              <input type="text" class="input-text" name="email" id="email" value="" />
            </label>
          </p>

          <p class="form-row">
            <input type="submit" class="button border fw margin-top-10" name="login" value="Reset" />
          </p>
          <p class="lost_password">
            Reset token will be sent to your email id.
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% content_for :page_specific_js do %>
  <script type="text/javascript">
    var new_user_form = $("form#new_user").validateIt();
  </script>
<% end %>