
<% content_for :page_specific_breadcrumb do %>
<!-- Titlebar
================================================== -->
<div id="titlebar" class="single">
  <div class="container">

    <div class="sixteen columns">
      <h2>My Account</h2>
      <nav id="breadcrumbs">
        <ul>
          <li></li>
          <li><a href="#">Home</a></li>
          <li>Reset Password</li>
        </ul>
      </nav>
    </div>

  </div>
</div>

<% end %>
<!-- Content
================================================== -->

<!-- Container -->
<div class="container">

  <div class="my-account">

    <div class="tabs-container">
      <!-- Reset -->
      <div class="tab-content" id="tab1">
        <% if @success == false %>
          <div class="notification error closeable">
            <p><span>Error!</span> There is some error!</p>
            <a class="close" href="#"></a>
          </div>
        <% else %>
         <div class="notification success closeable">
            <p><span>Success!</span> Password has been successfully updated. Please login!</p>
            <a class="close" href="#"></a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% content_for :page_specific_js do %>
  <script type="text/javascript">
    var new_user_form = $("form#updatepassword").validateIt();
    new_user_form.rules.passwordmatch = function(value, element){
      return $("#password").val() == value;
    }
  </script>
<% end %>