
<!--sidebar-menu-->
<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
  <ul>
    <li class="<%= put_active "dashboards" %>"><a href="<%= admin_dashboards_path %>"><i class="icon icon-dashboard"></i> <span>Dashboard</span></a> </li>
    <% if current_user.is_super_admin? %>
      <li class="<%= put_active "admin_profiles" %> submenu"> <a href="#" onclick="return false;"><i class="icon icon-user"></i><span>Admin Users</span><span class="label nocolor"><i class="icarets <%= put_caret_sign %>"></i></span></a> 
        <ul>
          <li class="<%= put_sub_active "index" %>"><a href="<%= admin_admin_profiles_path %>">List Admins</a></li>
          <li class="<%= put_sub_active "new" %>"><a href="<%= new_admin_admin_profile_path %>">Create New Admin</a></li>
        </ul>
      </li>
    <% end %>
     <li class="<%= put_active "employers" %> submenu"> <a href="#"><i class="icon icon-briefcase"></i> <span>Employers</span><span class="label nocolor"><i class="icarets <%= put_caret_sign %>"></i></span></a> 
      <ul>
        <li class="<%= put_sub_active "index" %>"><a href="<%= admin_employers_path %>">List Employers</a></li>
        <li class="<%= put_sub_active "new" %>"><a href="<%= new_admin_employer_path %>">Create New Employer</a></li>
        <li class="<%= put_sub_active %>"><a href="#">Manpower Requirement</a></li>
      </ul>
    </li>
    <li class="<%= put_active "employees" %> submenu"> <a href="#"><i class="icon icon-group"></i> <span>Employees</span><span class="label nocolor"><i class="icarets <%= put_caret_sign %>"></i></span></a> 
      <ul>
        <li class="<%= put_sub_active "search" %>"><a href="<%= search_admin_employees_path %>">Search Employees</a></li>
        <li class="<%= put_sub_active "index" %>"><a href="<%= admin_employees_path %>">List Employees</a></li>
        <li class="<%= put_sub_active "new" %>"><a href="<%= new_admin_employee_path %>">Create New Employee</a></li>
      </ul>
    </li>
    <li class="<%= put_active "jobs" %> submenu"> <a href="#"><i class="icon icon-certificate"></i> <span>Jobs</span><span class="label nocolor"><i class="icarets <%= put_caret_sign %>"></i></span></a> 
      <ul>
       <li class="<%= put_sub_active "index" %>"><a href="<%= admin_jobs_path %>">List Jobs</a></li>
        <li class="<%= put_sub_active "new" %>"><a href="<%=  new_admin_job_path %>">Post New Job</a></li>
        <li class="<%= put_sub_active %>"><a href="#">Expired Jobs</a></li>
      </ul>
    </li>
    <% if current_user.is_super_admin? %>
      <li class="<%= put_active "settings" %> submenu"> <a href="#"><i class="icon icon-cogs"></i> <span>Settings</span><span class="label nocolor"><i class="icarets <%= put_caret_sign %>"></i></span></a> 
        <ul>
          <li class="<%= put_sub_active "job_category_index" %>"><a href="<%= job_category_index_admin_settings_path %>">Job Category</a></li>
          <li class="<%= put_sub_active "job_sub_category_index" %>"><a href="<%= job_sub_category_index_admin_settings_path %>">Job Sub Category</a></li>
          <li class="<%= put_sub_active "ug_qualification_index" %>"><a href="<%= ug_qualification_index_admin_settings_path %>">UG Qualification</a></li>
          <li class="<%= put_sub_active "pg_qualification_index" %>"><a href="<%= pg_qualification_index_admin_settings_path %>">PG Quaification</a></li>
          <li class="<%= put_sub_active "phd_qualification_index" %>"><a href="<%= phd_qualification_index_admin_settings_path %>">PHD Qualification</a></li>
          <li class="<%= put_sub_active "industry_index" %>"><a href="<%= industry_index_admin_settings_path %>">Industry List</a></li>
          <li class="<%= put_sub_active "country_index" %>"><a href="<%= country_index_admin_settings_path %>">Country</a></li>
          <li class="<%= put_sub_active "location_index" %>"><a href="<%= location_index_admin_settings_path %>">Location</a></li>
          <li class="<%= put_sub_active "designation_index" %>"><a href="<%= designation_index_admin_settings_path %>">Designation</a></li>
        </ul>
      </li>
    <% end %>
    <li class="<%= put_active %> submenu"> <a href="#"><i class="icon icon-credit-card"></i> <span>Payroll</span><span class="label nocolor"><i class="icarets <%= put_caret_sign %>"></i></span></a> 
      <ul>
        <li class="<%= put_sub_active %>"><a href="#">Company Master</a></li>
        <li class="<%= put_sub_active %>"><a href="#">Candidate Master</a></li>
      </ul>
    </li>
     <li class="<%= put_active %> submenu"> <a href="#"><i class="icon icon-road"></i> <span>Walk-In Zone</span><span class="label nocolor"><i class="icarets <%= put_caret_sign %>"></i></span></a> 
      <ul>
        <li class="<%= put_sub_active %>"><a href="#">Add New</a></li>
      </ul>
    </li>
  
    <!-- <li class="content"> <span>Monthly Bandwidth Transfer</span>
      <div class="progress progress-mini progress-danger active progress-striped">
        <div style="width: 77%;" class="bar"></div>
      </div>
      <span class="percent">77%</span>
      <div class="stat">21419.94 / 14000 MB</div>
    </li>
    <li class="content"> <span>Disk Space Usage</span>
      <div class="progress progress-mini active progress-striped">
        <div style="width: 87%;" class="bar"></div>
      </div>
      <span class="percent">87%</span>
      <div class="stat">604.44 / 4000 MB</div>
    </li> -->
  </ul>
</div>
<!--sidebar-menu-->