<% content_for :page_specific_css do %>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" type="text/css" href="/assets/datepicker/jquery-ui.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/datepicker/jquery-ui.structure.css">
	<link rel="stylesheet" type="text/css" href="/assets/datepicker/jquery-ui.theme.min.css">
<% end %>

<% content_for :page_specific_js do %>
	<script src="/assets/datepicker/jquery-ui.min.js"></script>
<% end %>