<!-- Header
================================================== -->
<header class=" sticky-header full-width <%= current_page?(root_url) ? "transparent" : "" %>">
  <div class="container">
    <div class="sixteen columns">
    
      <!-- Logo -->
      <div id="logo">
          <h1><a href="/"><img src="<%= current_page?(root_url) ? "/assets/logo.png" : "/assets/logo2.png" %>" alt="Sky net" /></a></h1>
      </div>

      <!-- Menu -->
      <nav id="navigation" class="menu">
        <ul id="responsive">

          <li><a href="<%= root_url %>" <%= put_front_active(["home"]) %>>Home</a>
              <ul>
                  <li><a href="<%= about_us_path %>" <%= put_front_active(["home/about_us"]) %>>About Us</a></li>
                  <li><a href="<%= our_team_path %>">Our Team</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Careers</a></li>
                  <li><a href="<%= contact_us_path %>" <%= put_front_active(["home/contact_us"]) %>>Contact Us</a></li>
              </ul>
          </li>

          <!-- <li><a href="#">Pages</a>
              <ul>
                  <li><a href="job-page.html">Job Page</a></li>
                  <li><a href="job-page-alt.html">Job Page Alternative</a></li>
                  <li><a href="resume-page.html">Resume Page</a></li>
                  <li><a href="shortcodes.html">Shortcodes</a></li>
                  <li><a href="icons.html">Icons</a></li>
                  <li><a href="pricing-tables.html">Pricing Tables</a></li>
                  <li><a href="contact.html">Contact</a></li>
              </ul>
          </li> -->
          <% if (!current_user.is_employer? rescue true) %>
            <li><a href="#" <%= put_front_active(["member/candidates"]) %> onclick="return false;">For Candidates</a>
                <ul>
                    <li><a href="<%= jobs_path %>">Browse Jobs</a></li>
                    <li><a href="<%= categories_path %>">Browse Categories</a></li>
                    <% if (current_user.is_employee? rescue false) %>
                      <li><a href="<%= member_dashboards_path + "#alerts" %>">Job Alerts</a></li>
                    <% end %>
                </ul>
            </li>
          <% end %>
          <% if (!current_user.is_employee? rescue true) %>
            <li><a href="#" <%= put_front_active(["member/jobs"]) %> onclick="return false;" >For Employers</a>
                <ul>
                    <% if (current_user.is_employer? rescue false) %>
                        <li><a href="<%= new_member_job_path %>">Add Job</a></li>
                        <li><a href="<%= member_dashboards_path %>">Manage Jobs</a></li>
                    <% end %>
                    <li><a href="<%= resumes_path %>">Browse Resumes</a></li>
                </ul>
            </li>
          <% end %>
          <!-- <li><a href="blog.html">Blog</a></li> -->
        </ul>

        <ul class="float-right">
            <% if current_user.nil? %>
                <li><a href="/users/login#tab2"><i class="fa fa-user"></i> Sign Up</a></li>
                <li><a href="/users/login"><i class="fa fa-lock"></i> Log In</a></li>
            <% else %>
                <li><a href="#"><img src="<%= !current_user.avatar.nil? && !current_user.avatar.url.nil? ? current_user.avatar.thumb.url : "http://api.adorable.io/avatar/200/#{current_user.user_name}" %>" class="header-avatar" /><%= current_user.name %></a>
                    <ul>
                        <% if current_user.is_employee? or current_user.is_employer? %>
                          <li>
                            <a href="<%= member_dashboards_path %>">
                                <i class="fa fa-dashboard"></i>
                                Dashboard
                            </a>
                          </li>
                        <li>
                            <a href="<%= edit_member_profile_path(current_user.user_name) %>">
                                <i class="fa fa-user"></i>
                                Edit Profile
                            </a>
                        </li>
                        <% end %>
                        <% if current_user.is_employee? %>
                            <li>
                                <a href="<%= editresume_member_profile_path(current_user.user_name) %>">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    Edit Resume
                                </a>
                            </li>
                        <% end %>
                        <% if current_user.is_admin? %>
                            <li>
                                <a href="<%= admin_dashboards_path %>">
                                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                                    Dashboard
                                </a>
                            </li>
                        <% end %>

                        <li>
                            <a href="<%= logout_url %>">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>
            <% end %>
        </ul>

      </nav>

      <!-- Navigation -->
      <div id="mobile-navigation">
          <a href="#menu" class="menu-trigger"><i class="fa fa-reorder"></i> Menu</a>
      </div>

    </div>
  </div>
</header>
<div class="clearfix"></div>