
<!-- Footer
================================================== -->
<% if !current_page?(root_url) %>
		<div class="margin-top-15"></div>
<% end %>
<div id="footer">
		<!-- Main -->
	<div class="container">
		<div class="seven columns">
			<h4>Skynet Placements</h4>
			<p>Skynet Placements is one of the leading Recruitment, HR & IR Labor laws Consulting Company Since 2003 with an objective to provide comprehensive HR Services to all over the India as well for the International Recruitment.</p>
			<% if current_user.nil? %>
					<a href="<%= login_path %>" class="button">Get Started</a>
			<% end %>
		</div>

		<div class="three columns">
			<h4>Company</h4>
			<ul class="footer-links">
					<li><a href="<%= about_us_path %>">About Us</a></li>
					<li><a href="<%= contact_us_path %>">Contact Us</a></li>
					<li><a href="<%= our_team_path %>">Our Team</a></li>
					<li><a href="#">Terms of Service</a></li>
					<li><a href="<%= privacy_policy_path %>">Privacy Policy</a></li>
			</ul>
		</div>

		<div class="three columns" style="width:325px;">
			<h4>Contact</h4>
			<div>
				<% if current_user.nil? || current_user.is_employer? || current_user.is_admin? %>
					<p>
						For Employers:<br />
						Email: <a href="mailto:customercare@skynetplacements.com"> customercare@skynetplacements.com</a><br />
						Tel: <a href="tel:91-9512266262"> +91-9512266262</a>
					</p>
				<% end %>
				<% if current_user.nil? || current_user.is_employee? || current_user.is_admin? %>
					<p>
						For Employees:<br />
						Email: <a href="mailto:reach@skynetplacements.com">reach@skynetplacements.com</a><br />
						Tel: <a href="tel:91-9512166262">+91-9512166262</a>
					</p>
				<% end %>
			</div>
		</div>

		
			
		 <!--  <div class="three columns">
					<h4>Press</h4>
					<ul class="footer-links">
							<li><a href="#">In the News</a></li>
							<li><a href="#">Press Releases</a></li>
							<li><a href="#">Awards</a></li>
							<li><a href="#">Testimonials</a></li>
							<li><a href="#">Timeline</a></li>
					</ul>
			</div>    -->   

		 <!--  <div class="three columns">
					<h4>Browse</h4>
					<ul class="footer-links">
							<li><a href="#">Freelancers by Category</a></li>
							<li><a href="#">Freelancers in USA</a></li>
							<li><a href="#">Freelancers in UK</a></li>
							<li><a href="#">Freelancers in Canada</a></li>
							<li><a href="#">Freelancers in Australia</a></li>
							<li><a href="#">Find Jobs</a></li>

					</ul>
			</div> -->

	</div>

		<!-- Bottom -->
	<div class="container">
		<div class="footer-bottom">
			<div class="sixteen columns">
				<h4>Follow Us</h4>
				<ul class="social-icons">
					<li><a class="facebook" href="https://www.facebook.com/Skynet-Placements-126794617416629/" target="_blank"><i class="icon-facebook"></i></a></li>
					<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
					<li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
					<li><a class="linkedin" href="https://www.linkedin.com/in/skynet-placements-76849569/" target="_blank"><i class="icon-linkedin"></i></a></li>
				</ul>
				<div class="copyrights">©  Copyright 2017 by <a href="#">Skynet Placements</a>. All Rights Reserved.</div>
			</div>
		</div>
	</div>

</div>