
<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8">
<title>Skynet Placements</title>

<!-- Mobile Specific Metas
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon">

<!-- CSS
================================================== -->
<!-- <link rel="stylesheet" href="/assets/style.css">
<link rel="stylesheet" href="/assets/colors/green.css" id="colors"> -->
<!-- Latest compiled and minified CSS -->
<%= stylesheet_link_tag "style.css" %>
<%= stylesheet_link_tag "colors/green.css" %>
<%= yield :page_specific_css %>
<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->