<% content_for :page_specific_css do %>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="/assets/tagit/jquery.tagit.css">
<% end %>

<% content_for :page_specific_js do %>
	<script src="/assets/tagit/jquery-ui.min.js"></script>
	<script src="/assets/tagit/tag-it.min.js"></script>
<% end %>