<!-- Banner
================================================== -->
<div id="banner" class="with-transparent-header parallax background" style="background-image: url(/assets/banner-home-07.jpg)" data-img-width="2000" data-img-height="1330" data-diff="300">
	<div class="container">
		<div class="sixteen columns">
			
			<div class="search-container">

				<!-- Form -->
				<div class="box-search" <%= current_user.nil? || current_user.is_employee? ? "style=width:100%;" : "" %>>
					<h2>Find job</h2>
					<form action="<%= jobs_path %>" method="get"><input type="text" name="keywords" class="ico-01" placeholder="job title, keywords or company name; seperate keywords with (,)" value=""/></form>
				</div>
				
				<% if !current_user.nil? && !current_user.is_employee? %>
					<div class="box-search">
						<h2>Find employee</h2>
						<form action="<%= resumes_path %>" method="get"><input name="keywords" type="text" class="ico-03" placeholder="designation, keywords etc; Seperate keywords with a comma (,)" value=""/></form>
					</div>
				<% end %>
				<button><i class="fa fa-search"></i></button>

				
				<!-- Announce -->
				<div class="announce">
					We’ve over <strong><%= Job.count %></strong> jobs and <strong><%= EmployeeProfile.count %></strong> candidates for you!
				</div>

			</div>

		</div>
	</div>
</div>
