<div class="container">
  <div class="four columns"><h5><a href="<%= jobs_path(:category => category.id) %>" style="color:black;"><%= category.name %></a></h5></div>
  <% total = category.job_sub_categories.count 
  	 percolumn = (total.to_f / 3.0).ceil %>
  <% idx = 0 %>
  <% category.job_sub_categories.each_with_index do |cat, i| %>
  	<% if idx == 0 %>
  		<div class="four columns">
  			<ul>
  	<% end %>
  				<li><a href="<%= jobs_path(:sub_category => cat.id) %>"><%= cat.name %></a></li>
  	<% idx = idx + 1 %>
  	<% if idx == percolumn || i == (total - 1) %>
  			</ul>
  		</div>
  		<% idx = 0 %>
  	<% end %>
  <% end %>
</div>
<div class="margin-bottom-50"></div>