<li class="highlighted">
	<a href="<%= job_path(recent_job.uid) %>">
	<% if recent_job.is_premium? && current_user.is_premium? %>
		<img src="<%= recent_job.employer_profile.get_avatar %>" alt="">
	<% elsif !recent_job.is_premium? %>
		<% if recent_job.employer_profile.nil? || recent_job.employer_profile.avatar.url.nil? %>
			<img src="/assets/job-list-logo-01.png" alt="">
		<% else %>
			<img src="<%= recent_job.employer_profile.avatar.url %>" alt="">
		<% end %>
	<% else %>
		<img src="/assets/job-list-logo-01.png" alt="">
	<% end %>
		<div class="job-list-content">
			<h4><%= recent_job.job_category.name %> / <%= recent_job.job_sub_category.name %> <span class="<%= recent_job.get_job_type.downcase %>"><%= recent_job.get_job_type %></span></h4>
			<div class="job-icons">
				<span><i class="fa fa-briefcase"></i> 
					<% if recent_job.is_premium? && current_user.is_premium? %>
						<%= recent_job.employer_profile.company_name rescue "" %>
					<% elsif !recent_job.is_premium? %>
						<%= recent_job.employer_profile.company_name rescue "" %>
					<% else %>
						Premium job posting
					<% end %>
				</span>
				<span><i class="fa fa-map-marker"></i> <%= recent_job.get_locations.join(", ") %></span>
				<% if recent_job.display_salary && !recent_job.salary.blank? %>
					<span><i class="fa fa-inr"></i> <%= recent_job.salary.sub(",",".") %> Lacs / Year</span>
				<% end %>
			</div>
		</div>
	</a>
	<div class="clearfix"></div>
</li>