<li>
	<div class="job-spotlight">
		<a href="#"><h4><%= spotlight.job_category.name %>: <%= spotlight.job_sub_category.name %><span class="<%= spotlight.get_job_type.downcase %>"><%= spotlight.get_job_type.downcase %></span></h4></a>
		<span><i class="fa fa-briefcase"></i>
			<% if spotlight.is_premium? && current_user.is_premium? %>
				<%= spotlight.employer_profile.company_name %>
			<% elsif !spotlight.is_premium? %>
				<%= spotlight.employer_profile.company_name %>
			<% else %>
				Premium job posting
			<% end %>
		</span>
		<span><i class="fa fa-map-marker"></i> <%= spotlight.get_locations.join(", ") %></span>
		<% if spotlight.display_salary %>
			<span><i class="fa fa-money"></i> <%= spotlight.get_salary_in_words %></span>
		<% end %>
		<% html = strip_tags(spotlight.job_description) %>
		<p>
			<%= html[0..150] %>
			<% if html.length > 150 %>
				...
			<% end %>
		</p>
		<a href="<%= job_path(spotlight.uid) %>" class="button">Apply For This Job</a>
	</div>
</li>