<% content_for :page_specific_breadcrumb do %>
<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg" style="background-image: url(assets/banner-home-05.jpg);">
	<div class="container">

		<div class="sixteen columns">
			<h2>About Us</h2>
			<nav id="breadcrumbs">
				<ul>
					<li>You are here:</li>
					<li><a href="<%= root_url %>">Home</a></li>
					<li>About Us</li>
				</ul>
			</nav>
		</div>

	</div>
</div>
<% end %>
<!-- Container -->
<div class="container">
    <div class="sixteen columns">

        <h3 class="margin-bottom-20">Company Introduction-</h3>

    </div>
</div>
<!-- Container / End -->
<div class="container">
    <div class="sixteen columns">
        <p>Skynet Placements is one of the leading Recruitment, HR &amp; IR Labor laws Consulting Company Since 2003 with an objective to provide comprehensive HR Services to all over the India as well for the International Recruitment.</p>

				<p>Skynet Placements provide Contract Staffing &amp; end-to-end manpower recruitment solutions right from sourcing the cvs till the candidates join the organization.</p>

				<p>The establishment is headed by Mr. Rahul Sood who has done MSW &amp; IRPM   from Faculty of Social work &amp; LLB from Faculty of Law (MSU) along with versatile industrial experience in the field of HR &amp; IR.</p>

				<p>We have introduced with our latest service which includes Training &amp; Development which we are imparting towards the industrial area including the Top – Level management, Middle Level Management &amp; Shop – Floor Level Management.</p>
				<p>We are one of the leading Placement and Recruitment Consulting Company with an objective to Recruit Quality Employees that can be selected in order to help the organization to achieve its goals and objectives.</p>

				<p>Our endeavour is to recruit high calibre professionals across all functional areas. Our Company maintains a very strong and premium data bank of candidates.</p>

				<p>We as a Recruitment consultant act as a link between the employers and the job seekers and ensure the placement of right candidate at the right place at the right time. Using and following the right recruitment processes which can facilitate the selection of the best candidates for the organization.</p>
    </div>
</div>
<!-- Container -->
<div class="container  margin-top-20">
    <div class="sixteen columns">

        <h3 class="margin-bottom-10">OUR RECRUITMENT METHODLOGY--</h3>

    </div>
</div>
<!-- Container / End -->
<div class="container margin-bottom-50">
    <div class="sixteen columns">
    <ol class="about-us-points">
    	<li>
    		The Client's Needs Assessment, We try to get maximum possible details after lot of probing in all areas like skill sets required in our Resource requirement form, client's culture, industry requirements and performance expectations.
    	</li>
    	<li>
    		Position Specification After carefully assessing the client's needs, we then prepare a position specification to confirm the details and initiate the search plan.
    	</li>
    	<li>
    		Sourcing Strategy depending upon the requirement we decide our sourcing options &amp; if required go an extra mile get the candidates as per the requirement specifications of the client.</li>
    	<li>
    		Candidate Interviews and Evaluation We interview candidates, matching their strengths and capabilities against the position specifications at every step. Only the candidate’s best suited to the position are presented for client interviews.
    	</li>
    	<li>
    		Confidential references are also conducted to validate recommendations
    	</li>
    	<li>
    		Client's Final Selection. Once the client makes a final selection, the last stage involves offer negotiation to ensure an acceptance decision and lives through the joining processes.
    	</li>
    </ol>
    </div>
</div>