<% content_for :page_specific_breadcrumb do %>
<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg" style="background-image: url(assets/all-categories-photo.jpg);">
    <div class="container">
        <div class="ten columns">
            <h2>All Categories</h2>
        </div>
        <% if current_user.nil? || current_user.is_employer? %>
        <div class="six columns">
            <a href="<%= new_member_job_path %>" class="button">Post a Job, It’s Free!</a>
        </div>
        <% end %>
    </div>
</div>
<% end %>
<!-- Content
================================================== -->
<div id="categories">
  <!-- Categories Group -->
  <div class="categories-group">
    <%= render :partial => "category", :collection => @categories %>
  </div>
</div>