<% content_for :page_specific_breadcrumb do %>
<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg" style="background-image: url(assets/contact_us.png);">
    <div class="container">

        <div class="sixteen columns">
            <h2>Contact Us</h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>You are here:</li>
                    <li><a href="<%= root_url %>">Home</a></li>
                    <li>Contact Us</li>
                </ul>
            </nav>
        </div>

    </div>
</div>
<% end %>
<!-- Container -->
<div class="container">
    <div class="sixteen columns">

        <h3 class="margin-bottom-20">Our Office</h3>

        <!-- Google Maps -->
        <section class="google-map-container">
            <div id="googlemaps" class="google-map google-map-full">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1845.491945935166!2d73.16752778812237!3d22.316448950163572!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1ae597234267cf12!2sAtlantis+Building!5e0!3m2!1sen!2s!4v1503554894952" width="1180" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </section>
        <!-- Google Maps / End -->

    </div>
</div>
<!-- Container / End -->

<!-- Container -->
<div class="container">

<div class="eleven columns">

    <h3 class="margin-bottom-15">Contact Form</h3>
    
        <!-- Contact Form -->
        <section id="contact" class="padding-right">

            <!-- Success Message -->
            <mark id="message"></mark>

            <%= form_for send_mail_home_index_path, :url => { :action => "send_mail" }, :html => { :method => :post } do |f| %>
                <fieldset>
                    <div>
                        <%= f.label :name, "Name" %>
                        <%= f.text_field :name, :class => "" %>
                    </div>

                    <div>
                       <%= f.label :email do %>Email: <span>*</span><% end %>
                       <%= f.text_field :email, :required => true, :pattern => "^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})$" %>
                    </div>

                    <div>
                        <%= f.label :message do %>Message: <span>*</span><% end %>
                        <%= f.text_area :comment, :required => true %>
                    </div>

                </fieldset>

                <div id="result"></div>
                <%= f.submit "Send Message", :class => "submit" %>
                <div class="clearfix"></div>
                <div class="margin-bottom-40"></div>
            <% end %>

        </section>

</div>
<!-- Container / End -->

<!-- Sidebar
================================================== -->
<div class="five columns">

    <!-- Information -->
    <h3 class="margin-bottom-10">Information</h3>
    <div class="widget-box">
        <p>SKYNET PLACEMENTS </p>

        <ul class="contact-informations">
            <li>Rahul Sood</li>
            <li>302 ATLANTIS,  </li>
            <li>Opp Vadodara Central, </li>
            <li>Genda Circle, Vadodara - 390023, </li>
            <li>Gujarat, INDIA </li>
        </ul>

        <ul class="contact-informations second" style="width:300px;">
          <% if current_user.nil? || current_user.is_employer? || current_user.is_admin? %>
              <li>For Employers:</li>
              <li><i class="fa fa-phone"></i> <p>+91-6353334677</p></li>
              <li><i class="fa fa-envelope"></i> <p>customercare@skynetplacements.com</p></li>
          <% end %>
          <% if current_user.nil? || current_user.is_employee? || current_user.is_admin? %>
              <li>For Employees:</li>
              <li><i class="fa fa-phone"></i> <p>+91-6353334677</p></li>
              <li><i class="fa fa-envelope"></i> <p>reach@skynetplacements.com</p></li>
          <% end %>
        </ul>
    </div>
    
    <!-- Social -->
    <div class="widget margin-top-30">
        <h3 class="margin-bottom-5">Social Media</h3>
        <ul class="social-icons">
            <li><a class="facebook" href="https://www.facebook.com/Skynet-Placements-126794617416629/" target="_blank"><i class="icon-facebook"></i></a></li>
            <li><a class="twitter" href="#" target="_blank"><i class="icon-twitter"></i></a></li>
            <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
            <li><a class="linkedin" href="https://www.linkedin.com/in/skynet-placements-76849569/" target="_blank"><i class="icon-linkedin"></i></a></li>
        </ul>
        <div class="clearfix"></div>
        <div class="margin-bottom-50"></div>
    </div>

</div>
</div>
<!-- Container / End -->
