<%= render :partial => "banner" %>

<!-- Content
================================================== -->

<!-- Categories -->
<div class="container">
	<div class="sixteen columns">
		<h3 class="margin-bottom-25">Popular Categories</h3>
		<ul id="popular-categories">
			<% @popular_categories.each do |category| %>
				<li><a href="<%= jobs_path(:category => category.id) %>"><i class="ln <%= category.get_icon %>"></i><%= category.name %></a></li>
			<% end %>
		</ul>

		<div class="clearfix"></div>
		<div class="margin-top-30"></div>

		<a href="<%= categories_path %>" class="button centered">Browse All Categories</a>
		<div class="margin-bottom-50"></div>
	</div>
</div>


<div class="container">
	
	<!-- Recent Jobs -->
	<div class="eleven columns">
	<div class="padding-right">
		<h3 class="margin-bottom-25">Recent Jobs</h3>
		<ul class="job-list">
			<%= render :partial => "recent_job", :collection => @recent_jobs %>
		</ul>
		<a href="<%= jobs_path %>" class="button centered"><i class="fa fa-plus-circle"></i> Show More Jobs</a>
		<div class="margin-bottom-55"></div>
	</div>
	</div>

	<!-- Job Spotlight -->
	<div class="five columns">
		<h3 class="margin-bottom-5">Job Spotlight</h3>

		<!-- Navigation -->
		<div class="showbiz-navigation">
			<div id="showbiz_left_1" class="sb-navigation-left"><i class="fa fa-angle-left"></i></div>
			<div id="showbiz_right_1" class="sb-navigation-right"><i class="fa fa-angle-right"></i></div>
		</div>
		<div class="clearfix"></div>
		
		<!-- Showbiz Container -->
		<div id="job-spotlight" class="showbiz-container">
			<div class="showbiz" data-left="#showbiz_left_1" data-right="#showbiz_right_1" data-play="#showbiz_play_1" >
				<div class="overflowholder">
					<ul>
						<%= render :partial => "spotlight", :collection => @spotlight_jobs %>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>

	</div>
</div>


<!-- Testimonials -->
<div id="testimonials">
	<!-- Slider -->
	<div class="container">
		<div class="sixteen columns">
			<div class="testimonials-slider">
				  <ul class="slides">
				    <li>
				      <p>
				      	It was a pleasure to have an association with a customer like you. I truly appreciate your Services. Its because of your reference that we have got so many trustworthy clients. Even my team members also appreciate the way you speak to them.
				      	<span>
				      		<i class="fa fa-star" aria-hidden="true"></i>
				      		<i class="fa fa-star" aria-hidden="true"></i>
				      		<i class="fa fa-star" aria-hidden="true"></i>
				      		<i class="fa fa-star" aria-hidden="true"></i>
				      		<i class="fa fa-star" aria-hidden="true"></i>
				      		<br />
				      		Brajesh Talati
				      		<br />
				      		HR Executive - Rubamin Ltd
				      	</span>
				      </p>
				    </li>

				    <li>
				      <p>Skynet placement is a professional agency which provide holistic services under one roof on all facets of HR. Understanding the requirement  of the position, providing the suitable CVs, organizing and coordinating the interviews and meeting the challenge of lead time of the recruitment of the organization, is the quality aspect which Skynet placement always meets. My best wishes to you and your staff.
				      <span>
				      	<i class="fa fa-star" aria-hidden="true"></i>
				      	<i class="fa fa-star" aria-hidden="true"></i>
				      	<i class="fa fa-star" aria-hidden="true"></i>
				      	<i class="fa fa-star" aria-hidden="true"></i>
				      	<i class="fa fa-star" aria-hidden="true"></i>
				      	<br />
				      	Sanjeev Kumar <br />
				      	Head HR - Larsen &amp; Toubro Limited
				      </span></p>
				    </li>
				    
				    <li>
				      <p>Satisfied with Skynet Team services.
				      <span>
				      	<i class="fa fa-star" aria-hidden="true"></i>
				      	<i class="fa fa-star" aria-hidden="true"></i>
				      	<i class="fa fa-star" aria-hidden="true"></i>
				      	<i class="fa fa-star" aria-hidden="true"></i>
				      	<i class="fa fa-star" aria-hidden="true"></i>
				      	<br />
				      	Harit Patel
				      	<br />
				      	CASME Industrial Park Development (India)Pvt. Ltd.
				      </span></p>
				    </li>

				    <li>
				      <p>Skynet is working with Narayan since long. In terms of Quality of your service we don't have any doubts so we rate you as 4 Four Star. The rating is all because of you and your excellent team member's support and skill in recruiting. 
				      <span>
				      	<i class="fa fa-star" aria-hidden="true"></i>
				      	<i class="fa fa-star" aria-hidden="true"></i>
				      	<i class="fa fa-star" aria-hidden="true"></i>
				      	<i class="fa fa-star" aria-hidden="true"></i>
				      	<i class="fa fa-star-o" aria-hidden="true"></i>
				      	<br />
				      	Dimple Patel
				      	<br />
				      	HR Officer - Narayan Powertech Pvt Ltd
				      </span></p>
				    </li>

				    <li>
				      <p>We have received great support from you and your team as our Recruitment partners.
				      <span>
				      	<i class="fa fa-star" aria-hidden="true"></i>
				      	<i class="fa fa-star" aria-hidden="true"></i>
				      	<i class="fa fa-star" aria-hidden="true"></i>
				      	<i class="fa fa-star" aria-hidden="true"></i>
				      	<i class="fa fa-star-o" aria-hidden="true"></i>
				      	<br />
				      	Sailee Chandgude
				      	<br />
				      	Sr. Manager- Recruitment - Godrej Boy &amp; Company
				      </span></p>
				    </li>

				  </ul>
			</div>
		</div>
	</div>
</div>
