<% content_for :page_specific_css do %>
  <link rel="stylesheet" type="text/css" href="/assets/bootstrap/bootstrap.min.css">
  <style type="text/css">

    .img-hover img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
     
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease; 
      -o-transition: all .3s ease; 
      -ms-transition: all .3s ease; 
      transition: all .3s ease; 

    }
    .img-hover img:hover {
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
     -webkit-transform:translateZ(0) scale(1.10);
     -moz-transform:scale(1.10); 
     -ms-transform:scale(1.10); 
     -o-transform:translatZ(0) scale(1.10); 
     transform:translatZ(0) scale(1.10);
     -webkit-filter: none;
     -moz-filter: none;
     -ms-filter: none;
     filter: none;
    }
    .img-center {
        margin: 0 auto;
        height: 170px;
        width: 170px;
        border: 6px solid #26ae61;
    }
    .link_color
    {
        color: #26ae61;
    }
  </style>
<% end %>

<% content_for :page_specific_breadcrumb do %>

<div id="titlebar" class="photo-bg" style="background-image: url(assets/our_team.jpg);">
  <div class="container">
      <div class="sixteen columns">
          <h2>Our Team</h2>
          <nav id="breadcrumbs">
            <ul>
                <li>You are here:</li>
                <li><a href="<%= root_url %>">Home</a></li>
                <li>Our Team</li>
            </ul>
          </nav>
      </div>
  </div>
</div>
<% end %>
<div class="container">

        <div class="row team-member-list">
            
            <div class="col-lg-3 col-sm-3 text-center img-hover">
                <div><img class="img-circle img-responsive img-center" src="/assets/our_team/1.jpg" alt="" ></div>
                <h3>Mr. Rahul Sood</h3>
                <h5>+91-9512266262</h5>
                <h5>rahulsood@skynetplacements.com</h5>
                <h4 class="link_color">Managing Director</h4>
                
            </div>
            <div class="col-lg-3 col-sm-3 text-center img-hover">
                <div><img class="img-circle img-responsive img-center" src="/assets/our_team/2.jpg" alt=""></div>
                <h3>Mr. Ankit Darji</h3>
                <h5>+91-9227566288</h5>
                <h5>ankit@skynetplacements.com</h5>
                <h4 class="link_color">HR Manager</h4>
            </div>
            <div class="col-lg-3 col-sm-3 text-center img-hover">
                <div><img class="img-circle img-responsive img-center" src="/assets/our_team/3.jpg" alt=""></div>
                <h3>Ms. Rishika Sood</h3>
                <h5>+91-8347597313</h5>
                <h5>rishika@skynetplacements.com</h5>
                <h4 class="link_color">Head Operation</h4>
            </div>
            <div class="col-lg-3 col-sm-3 text-center img-hover">
                <div><img class="img-circle img-responsive img-center" src="/assets/our_team/4.jpg" alt=""></div>
                <h3>Ms. Pooja Shah</h3>
                <h5>+91-9033068872</h5>
                <h5>pooja@skynetplacements.com</h5>
                <h4 class="link_color">HR Team Leader</h4>
            </div>
            <div class="col-lg-3 col-sm-3 text-center img-hover">
                <div><img class="img-circle img-responsive img-center" src="/assets/avatar-placeholder.png" alt=""></div>
                <h3>Ms. Shalini Singh</h3>
                <h5>+91-9033068817</h5>
                <h5>shalini@skynetplacements.com</h5>
                <h4 class="link_color">HR Team Leader</h4>
            </div>
            <div class="col-lg-3 col-sm-3 text-center img-hover">
                <div><img class="img-circle img-responsive img-center" src="/assets/avatar-placeholder.png" alt=""></div>
                <h3>Ms. Deepika Goswami</h3>
                <h5>+91-9033068814</h5>
                <h5>deepika@skynetplacements.com</h5>
                <h4 class="link_color">HR Team Leader</h4>
            </div>
             <div class="col-lg-3 col-sm-3 text-center img-hover">
                <div><img class="img-circle img-responsive img-center" src="/assets/our_team/7.jpg" alt=""></div>
                <h3>Ms. Arti Dave</h3>
                <h5>+91-9033068834</h5>
                <h5>arti@skynetplacements.com</h5>
                <h4 class="link_color">HR Team Leader</h4>
            </div>
           <div class="col-lg-3 col-sm-3 text-center img-hover">
                <div><img class="img-circle img-responsive img-center" src="/assets/our_team/8.jpg" alt=""></div>
                <h3>Ms. Unnati Pathak</h3>
                <h5>+91-9033068871</h5>
                <h5>unnati@skynetplacements.com</h5>
                <h4 class="link_color">HR Executive</h4>
            </div>
             <div class="col-lg-3 col-sm-3 text-center img-hover">
                <div><img class="img-circle img-responsive img-center" src="/assets/our_team/9.jpg" alt=""></div>
                <h3>Ms. Kesha Patel</h3>
                <h5>+91-9033068848</h5>
                <h5>kesha@skynetplacements.com</h5>
                <h4 class="link_color">HR Executive</h4>
            </div>
            <div class="col-lg-3 col-sm-3 text-center img-hover">
                <div><img class="img-circle img-responsive img-center" src="/assets/avatar-placeholder.png" alt=""></div>
                <h3>Ms. Apporva Sharma</h3>
                <h5>+91-9033068815</h5>
                <h5>apoorva@skynetplacements.com</h5>
                <h4 class="link_color">HR Executive</h4>
            </div>
            <div class="col-lg-3 col-sm-3 text-center img-hover">
                <div><img class="img-circle img-responsive img-center" src="/assets/our_team/11.jpg" alt=""></div>
                <h3>Ms. Shachi Shah</h3>
                <h5>+91-9033068827</h5>
                <h5>shachi@skynetplacements.com</h5>
                <h4 class="link_color">HR Executive</h4>
            </div>
            <div class="col-lg-3 col-sm-3 text-center img-hover">
                <div><img class="img-circle img-responsive img-center" src="/assets/our_team/12.jpg" alt=""></div>
                <h3>Ms. Ashwini Pandhre</h3>
                <h5>+91-9033068835</h5>
                <h5>ashwini@skynetplacements.com</h5>
                <h4 class="link_color">HR Executive</h4>
            </div>
            <div class="col-lg-3 col-sm-3 text-center img-hover">
                <div><img class="img-circle img-responsive img-center" src="/assets/our_team/13.jpg" alt=""></div>
                <h3>Mr. Rakesh Parmar</h3>
                <h5>+91-9033068850</h5>
                <h5>rakesh@skynetplacements.com</h5>
                <h4 class="link_color">HR Executive</h4>
            </div>
            <div class="col-lg-3 col-sm-3 text-center img-hover">
                <div><img class="img-circle img-responsive img-center" src="/assets/our_team/14.jpg" alt=""></div>
                <h3>Mr. Bhavin Karnik</h3>
                <h5>+91-9033068843</h5>
                <h5>bhavin@skynetplacements.com</h5>
                <h4 class="link_color">HR Executive</h4>
            </div>
            <div class="col-lg-3 col-sm-3 text-center img-hover">
                <div><img class="img-circle img-responsive img-center" src="/assets/our_team/15.jpg" alt=""></div>
                <h3>Mr. Shailesh Tadvi</h3>
                <h5>+91-9033068825</h5>
                <h5>shailesh@skynetplacements.com</h5>
                <h4 class="link_color">HR Executive</h4>
            </div>
            <div class="col-lg-3 col-sm-3 text-center img-hover">
                <div><img class="img-circle img-responsive img-center" src="/assets/our_team/16.jpg" alt=""></div>
                <h3>Ms. Shreya Kela</h3>
                <h5>+91-9033068824</h5>
                <h5>shreya@skynetplacements.com</h5>
                <h4 class="link_color">HR Executive</h4>
            </div>
            <div class="col-lg-3 col-sm-3 text-center img-hover">
                <div><img class="img-circle img-responsive img-center" src="/assets/our_team/17.jpg" alt=""></div>
                <h3>Ms. Lipi Joshi</h3>
                <h5>+91-9033068828</h5>
                <h5>lipi@skynetplacements.com</h5>
                <h4 class="link_color">HR Executive</h4>
            </div>
            <div class="col-lg-3 col-sm-3 text-center img-hover">
                <div><img class="img-circle img-responsive img-center" src="/assets/our_team/18.jpg" alt=""></div>
                <h3>Mr. Parth Parikh</h3>
                <h5>+91-9033068870</h5>
                <h5>parth@skynetplacements.com</h5>
                <h4 class="link_color">HR Executive</h4>
            </div>
            <div class="col-lg-3 col-sm-3 text-center img-hover">
                <div><img class="img-circle img-responsive img-center" src="/assets/our_team/19.jpg" alt=""></div>
                <h3>Ms. Vaibhavi Munshi</h3>
                <h5>+91-9033068853</h5>
                <h5>vaibhavi@skynetplacements.com</h5>
                <h4 class="link_color">HR Executive</h4>
            </div>
            <div class="col-lg-3 col-sm-3 text-center img-hover">
                <div><img class="img-circle img-responsive img-center" src="/assets/our_team/20.jpg" alt=""></div>
                <h3>Ms. Binita Shah</h3>
                <h5>+91-9033068812</h5>
                <h5>binita@skynetplacements.com</h5>
                <h4 class="link_color">HR Executive</h4>
            </div>
            <div class="col-lg-3 col-sm-3 text-center img-hover">
                <div><img class="img-circle img-responsive img-center" src="/assets/our_team/21.jpg" alt=""></div>
                <h3>Ms. Vaishnavi Rajput</h3>
                <h5>+91-9033068813</h5>
                <h5>vaishnavi@skynetplacements.com</h5>
                <h4 class="link_color">HR Executive</h4>
            </div>
           
            <div class="col-lg-3 col-sm-3 text-center img-hover">
                <div><img class="img-circle img-responsive img-center" src="/assets/our_team/22.jpg" alt=""></div>
                <h3>Ms. Devanshi Bhatt</h3>
                <h5>+91-9033068841</h5>
                <h5>devanshi@skynetplacements.com</h5>
                <h4 class="link_color">HR Executive</h4>
            </div>
        </div>
</div>
