<% content_for :page_specific_breadcrumb do %>
<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg" style="background-image: url(assets/banner-home-03.jpg);">
    <div class="container">

        <div class="sixteen columns">
            <h2>Privacy Policy</h2>
            <nav id="breadcrumbs">
                <ul>
                    <li>You are here:</li>
                    <li><a href="<%= root_url %>">Home</a></li>
                    <li>Privacy Policy</li>
                </ul>
            </nav>
        </div>

    </div>
</div>
<% end %>
<div class="container">
    <div class="sixteen columns">
        <h3>Introduction</h3>
        <p> We, at <strong>SKYNET PLACEMENTS</strong>, are committed to respecting your online privacy and recognize your need for appropriate protection and management of any personally identifiable information ("Personal Information") you share with us. In order to provide a personalised browsing experience, skynetplacements.com may collect information from you, this may include technical or other related information from the device used to access Skynetplacements.com including without limitation contact lists in your device and its location, you may also be asked to complete a registration form. When you let us have your preferences, we will be able to deliver or allow you to access the most relevant information that meets your end. </p>

        <p><b>"Personal Information"</b> means any information that may be used to identify an individual, including, but not limited to, a first and last name, a home or other physical address and an email address or other contact information, whether at work or at home. In general, you can visit skynetplacements.com web pages without telling us who you are or revealing any Personal Information about yourself. </p>

        <h3>Cookies and Other Tracking Technologies </h3>
        <p> Some of our web pages utilize "cookies" and other tracking technologies. A "cookie" is a small text file that may be used, for example, to collect information about activity on the web site. Some cookies and other technologies may serve to recall Personal Information previously indicated by a Web user. Most browsers allow you to control cookies, including whether or not to accept them and how to remove them. </p>

        <p>You may set most browsers to notify you if you receive a cookie, or you may choose to block cookies with your browser, but please note that if you choose to erase or block your cookies, you will need to re-enter your original user ID and password to gain access to certain parts of the web site.</p>

        <p>Tracking technologies may record information such as internet domain and host names; internet protocol (IP) addresses; browser software and operating system types; clickstream patterns; and dates and times that our site is accessed. Our use of cookies and other tracking technologies allows us to improve our web site and your web experience. We may also analyze information that does not contain Personal Information for trends and statistics. </p>

        <h3>Third Party Services </h3>
        <p> Third parties provide certain services available on www.skynetplacements.com. Skynet Placements' may provide information, including Personal Information, that Skynet Placements collects on the web to third-party service providers to help us deliver programs, products, information, and services. Service providers are also an important means by which Skynet Placements maintains its web sites and mailing lists. Skynet Placements will take reasonable steps to ensure that these third-party service providers are obligated to protect Personal Information. </p>

        <p>Skynet Placements does not intend to transfer Personal Information without your consent to third parties who are not bound to act on Skynet Placements unless such transfer is legally required. Similarly, it is against Skynet Placement’s policy to sell Personal Information collected online without consent.</p>

        <h3>Your Content </h3>
        <p> By using this web site, you consent to the terms of our online Privacy Policy and to Skynet Placements processing of Personal Information for the purposes given above as well as those explained where Skynet Placements collects Personal Information on the web. </p>

        <h3>Information security </h3>
        <p>We take appropriate security measures to protect against unauthorized access to or unauthorized alteration, disclosure or destruction of data.</p>
        <p>We restrict access to your personally identifying information to employees who need to know that information in order to operate, develop or improve our services.</p>

        <h3>Updating your information</h3>
        <p>We provide mechanisms for updating and correcting your personally identifying information for many of our services. For more information, please see the help pages for each service.</p>

        <h3>Children</h3>
        <p>Skynet Placements will not contact children under age 13 about special offers or for marketing purposes without a parent's permission.</p>
        
        <h3>Information Sharing and Disclosure </h3>
        <p>Skynet Placements does not rent, sell, or share personal information about you with other people (save with your consent) or non-affiliated companies except to provide products or services you've requested, when we have your permission, or under the following circumstances</p>
        <ol class="privacy-policy-list">
            <li>We provide the information to trusted partners who work on behalf of or with Skynet Placements under confidentiality agreements. These companies may use your personal information to help Skynet Placements communicate with you about offers from Skynet Placements and our marketing partners. However, these companies do not have any independent right to share this information.</li>
            <li>We respond to subpoenas, court orders, or legal process, or to establish or exercise our legal rights or defend against legal claims;</li>
            <li>We believe it is necessary to share information in order to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of Skynet Placements terms of use, or as otherwise required by law.</li>
            <li>We transfer information about you if Skynet Placements is acquired by or merged with another company. In this event, Skynet Placements will notify you before information about you is transferred and becomes subject to a different privacy policy.</li>
        </ol>
        <p>Skynet Placements displays targeted advertisements based on personal information. Advertisers (including ad serving companies) may assume that people who interact with, view, or click on targeted ads meet the targeting criteria - for example, women ages 18-24 from a particular geographic area.</p>
        <ol class="privacy-policy-list">
            <li>Skynet Placements does not provide any personal information to the advertiser when you interact with or view a targeted ad. However, by interacting with or viewing an ad you are consenting to the possibility that the advertiser will make the assumption that you meet the targeting criteria used to display the ad.</li>
            <li>Skynet Placements advertisers include financial service providers (such as banks, insurance agents, stock brokers and mortgage lenders) and non-financial companies (such as stores, airlines, and software companies).</li>
        </ol>

        <h3>Confidentiality and Security</h3>
        <p>We limit access to personal information about you to employees who we believe reasonably need to come into contact with that information to provide products or services to you or in order to do their jobs.</p>
        <p>We have physical, electronic, and procedural safeguards that comply with the laws prevalent in India to protect personal information about you. We seek to ensure compliance with the requirements of the Information Technology Act, 2000 as amended and rules made thereunder to ensure the protection and preservation of your privacy.</p>

        <h3>Changes to this Privacy Policy</h3>
        <p>Skynet Placements reserves the right to update, change or modify this policy at any time. The policy shall come to effect from the date of such update, change or modification. </p>
        
        <h3 class="margin-bottm-20">Disclaimer</h3>
        <p>Skynet Placements uses the maximum care as is possible to ensure that all or any data / information in respect of electronic transfer of money does not fall in the wrong hands. For completing online transactions involving payments a user is directed to a secured payment gateway, Skynet Placements does not store or keep financial data such as credit card numbers/passwords/PINs etc "Personal Account Related Information". Since the transaction happens on a third party network not controlled by Skynet Placements, once an online transaction has been completed, the Personal Account Related Information is not accessible to anyone at Skynet Placements after completion of the on-line transaction at the payment gateway, this ensures maximum security.</p>

        <p>Skynet Placements shall not be liable for any loss or damage sustained by reason of any disclosure (inadvertent or otherwise) of any information concerning the user's account and / or information relating to or regarding online transactions using credit cards / debit cards and / or their verification process and particulars nor for any error, omission or inaccuracy with respect to any information so disclosed and used whether or not in pursuance of a legal process or otherwise. </p>

        <h3 class="margin-bottm-20">Contact Information</h3>
        <p>Skynet Placements welcomes your comments regarding this privacy statement at the contact address given at the website. Should there be any concerns about contravention of this Privacy Policy; Skynet Placements will employ all commercially reasonable efforts to address the same.</p>

        <p><strong>Note:</strong> The terms in this agreement may be changed by Skynet Placements at any time. Skynet Placements is free to offer its services to any client/prospective client without restriction.</p>

    </div>
</div>