<%= render :partial => "shared/tagit" %>
<% content_for :page_specific_css do %>
  <link rel="stylesheet" href="/assets/backend/select2.css">
  <link rel="stylesheet" href="/assets/backend/uniform.css">
  <link rel="stylesheet" href="/assets/backend/bootstrap-wysihtml5.css" />
<% end %>
<% content_for :page_specific_js do %>
  <script type="text/javascript" src="/assets/backend/wysihtml5-0.3.0.js"></script>
  <script type="text/javascript" src="/assets/backend/bootstrap-wysihtml5.js"></script>
   <script type="text/javascript">
  $(document).ready(function(){
    
    $('.textarea_editor').wysihtml5();
    $('.textarea_editor1').wysihtml5();
    

    var min_qualification_type = '<%= @job[:min_qualification_type] %>';
   
    if(min_qualification_type == '1')
    {
      $(".ug-qualification").show();
      $(".pg-qualification").show();
    }
    else if(min_qualification_type == '2')
    {
      $(".ug-qualification").show();
      $(".pg-qualification").show();
      $(".phd-qualification").show();
    }
    

      var job_cat_id = '<%= @job[:job_category_id] %>';
      $("#job_job_category").select2('val', job_cat_id);
      var job_sub_id = '<%= @job[:job_sub_category_id] %>';
      $("#job_job_sub_category").select2('val', job_sub_id);
      
      var job_salary = '<%= @job[:salary] %>';
      
      // salary show   
      var salaryarray = [];
      var partsOfStr = job_salary.split(',');
      for(var i = 0; i < partsOfStr.length; i++)
      {
          salaryarray.push(partsOfStr[i]);
      }
      
      $("#lacs").select2('val', salaryarray[0]);
      $("#thousands").select2('val', salaryarray[1]);

      job_salary = '<%= @job[:max_salary] %>';
      
      // salary show   
      salaryarray = [];
      partsOfStr = job_salary.split(',');
      for(var i = 0; i < partsOfStr.length; i++)
      {
          salaryarray.push(partsOfStr[i]);
      }
      
      $("#max-lacs").select2('val', salaryarray[0]);
      $("#max-thousands").select2('val', salaryarray[1]);

  });
</script>
<script type="text/javascript">
  
</script>
<% end %>
<% if !@update_errors.blank? %>
  <div class="alert alert-error alert-block">
    <a class="close" data-dismiss="alert" href="#">×</a>
    <h4 class="alert-heading">Error!</h4>
      <% @update_errors.each do |error| %>
        <p><%= error %>.</p> 
      <% end %>
  </div>
<% end %>

<div class="control-group">
  <%= f.label :employer_profile_id, "Company Name", :class => "control-label" %>
  <div class="controls">
  <% if @job.new_record? %>
    <%= f.select :employer_profile_id, EmployerProfile.where(:company_name.ne => "",:company_name.ne => nil).asc(:company_name).collect{|d| [d.company_name, d.id.to_s]}, {:include_blank => true}, {:class => "chosen-select-no-single", :data => {"placeholder" => "Select Company Name"}} %>
    <% else %>
    <div><%= @job.employer_profile.company_name %></div>
    <% end %>
  </div>
</div>

<div class="control-group">
  <%= f.label :designation_id, "Designation", :class => "control-label" %>
  <div class="controls">
    <%= f.select :designation_id, Designation.all.asc(:name).collect{|d| [d.name, d.id.to_s]}, {}, {:class => "chosen-select-no-single", :data => {"placeholder" => "Select Designation"}} %>
    
   </div>
</div>

<div class="control-group">
  <%= f.label :job_category, "Job Category", :class => "control-label" %>
  <div class="controls">
    <%= f.select :job_category, @job_categories.collect{|jc| [jc.name, jc.id.to_s]}, {}, {:class => "chosen-select-no-single", :data => {"placeholder" => "Select Job Category"}}%>
   </div>
</div>

<div id="job_sub_category" class="control-group">
  <%= f.label :job_sub_category, "Job Sub Category", :class => "control-label" %>
  <div class="controls">
    <%= f.select :job_sub_category, @job_sub_categories.collect{|jc| [jc.name, jc.id.to_s]}, {}, {:class => "chosen-select-no-single", :data => {"placeholder" => "Select Job Sub Category"}} %>
    
   </div>
</div>



<div class="control-group">
  <%= f.label :job_description, "Job Description", :class => "control-label" %>
  <div class="controls">
    <%= f.text_area :job_description, :rows => 6 , :class => "textarea_editor span11" %>
   </div> 
</div>

<div class="control-group">
  <%= f.label :industry_id, "Industry", :class => "control-label" %>
  <div class="controls">
    <%= f.select :industry_id, Industry.all.asc(:name).collect{|industry| [industry.name, industry.id]}, {}, {:class => "chosen-select-no-single", :data => {"placeholder" => "Select Industry"}} %>
   </div>
</div>


<div class="control-group">
    <%= f.label :skills, "Key Skills", :class => "control-label" %>
    <div class="controls">
       <ul id="skill-tags">
          <% @job.skill_tags.each do |tag| %>
            <li><%= tag.name %></li>
          <% end %>
        </ul>
    </div>
  </div>

<!-- job type -->
<div class="control-group">
  <%= f.label :job_type, "Job type", :class => "control-label" %>
  <div class="controls">
    <%= f.select :job_type, Job.get_job_types, {}, {:class => "chosen-select-no-single", :data => {"placeholder" => "Select Job type"}} %>
</div>
</div>


<div class="control-group">
  <%= f.label :location_ids, "Location", :class => "control-label" %>
  <div class="controls">
    <%= f.select :location_ids, ImportantLocation.all.asc(:name).collect{|loc| [loc.name, loc.id]}, {}, {:class => "chosen-select-no-single", :multiple => "multiple", :data => {"placeholder" => "Select Location"}} %>
   </div>
</div>

<div class="control-group">
  <%= f.label :salary, "Min Salary", :class => "control-label" %>
  <div class="controls">
    <%= select_tag 'lacs', options_for_select((0..30).collect{ |i| [i, i] }), :class => "small-chosen salary ", :style => "width:10%"%>
      <span style="margin: 10px;">Lac(s)</span>
    <%= select_tag 'thousands', options_for_select((0..19).collect{ |i| [i*5, i*5] }), :class => "small-chosen salary", :style => "width:10%" %> 
    <span style="margin: 10px;">Thousand(s)</span>
    <%= f.hidden_field :salary %>
   </div>
</div>
<div class="control-group">
  <%= f.label :max_salary, "Max Salary", :class => "control-label" %>
  <div class="controls">
    <%= select_tag 'max-lacs', options_for_select((1..30).collect{ |i| [i, i] }), :class => "small-chosen max-salary ", :style => "width:10%"%>
      <span style="margin: 10px;">Lac(s)</span>
    <%= select_tag 'max-thousands', options_for_select((0..19).collect{ |i| [i*5, i*5] }), :class => "small-chosen max-salary", :style => "width:10%" %> 
    <span style="margin: 10px;">Thousand(s)</span>
    <%= f.hidden_field :max_salary %>
   </div>
</div>

<div class="control-group">
  <div class="controls">
    <%= f.check_box :display_salary %> <span style="margin: 10px;">Can display salary?</span>
   </div>
</div>

<div class="control-group">
  <%= f.label :min_experience_years, "Experience Years", :class => "control-label" %>
  <div class="controls">
    <%= f.select :min_experience_years, (0..30).collect{|i| [i,i]}, {}, {:class => "chosen-select-no-single small-chosen", :style => "width:10%"} %>
    <span style="margin: 10px;"> - </span>
    <%= f.select :max_experience_years, (0..30).collect{|i| [i,i]}, {}, {:class => "chosen-select-no-single small-chosen", :style => "width:10%"} %>
   </div>
</div>

<div class="control-group">
  <%= f.label :min_qualification_type, "Minimum Qualification Type", :class => "control-label" %>
  <div class="controls">
    <%= f.select :min_qualification_type, Job.get_qualification_types, {}, {:class => "chosen-select-no-single"} %>
   </div>
</div>

<div class="ug-qualification" style="padding-left: 50px;">
  <div class="control-group">
    <%= f.label :ug_qualification_id, "Under Graduation", :class => "control-label" %>
    <div class="controls">
      <%= f.select :ug_qualification_id, @ug_qualifications.collect{|ug| [ug.name, ug.id]}, {}, {:class => "chosen-select-no-single qualification", :data => {:for => "ug"}} %>
     </div>
  </div>


  <div class="control-group">
    <%= f.label :subject_id, "Subject", :class => "control-label" %>
    <div class="controls">
      <%= f.select :subject_id, @subjects.collect{|sub| [sub.name, sub.id]}, {}, {:class => "chosen-select-no-single qualification-type spec"} %>
     </div>
  </div>

</div>
<div class="pg-qualification qual-area" style="display: none; padding-left: 50px;">
  <div class="control-group">
    <%= f.label :pg_qualification_id, "Post Graduation", :class => "control-label" %>
    <div class="controls">
      <%= f.select :pg_qualification_id, @pg_qualifications.collect{|pg| [pg.name, pg.id]}, {}, {:class => "chosen-select-no-single qualification", :data => {:for => "pg"}} %>
     </div>
  </div>

  <div class="control-group">
    <%= f.label :specialization_id, "Specialization", :class => "control-label" %>
    <div class="controls">
      <%= f.select :specialization_id, @specializations.collect{|sub| [sub.name, sub.id]}, {}, {:class => "chosen-select-no-single spec"} %>
     </div>
  </div>
</div>

<div class="phd-qualification qual-area" style="display: none; padding-left: 50px;">
  <div class="control-group">
    <%= f.label :phd_qualification_id, "PhD", :class => "control-label" %>
    <div class="controls">
      <%= f.select :phd_qualification_id, @phd_qualifications.collect{|phd| [phd.name, phd.id]}, {}, {:class => "chosen-select-no-single qualification", :data => {:for => "phd"}} %>
     </div>
  </div>

  <div class="control-group">
    <%= f.label :phd_specialization_id, "PhD Specialization", :class => "control-label" %>
    <div class="controls">
      <%= f.select :phd_specialization_id, @phd_specializations.collect{|sub| [sub.name, sub.id]}, {}, {:class => "chosen-select-no-single spec"} %>
     </div>
  </div>
</div>

<div class="control-group">
  <%= f.label :sponsored, "Spotlight Job", :class => "control-label" %>
  <div class="controls">
    <%= f.check_box :sponsored %> <span style="margin: 10px;">Job will be listed on the home page under spotlight jobs.</span>
   </div>
</div>

<div class="control-group">
  <%= f.label :sponsored, "Premium job", :class => "control-label" %>
  <div class="controls">
    <%= f.check_box :premium_job %> <span style="margin: 10px;">Only premium members can see company details.</span>
   </div>
</div>

<div class="form-actions">
  <% if params[:page] %>
    <input type="hidden" value="<%= params[:page] %>" name="page" >
  <% end %>
  <%= f.submit "Save", :class => "btn btn-success" %>
  <a href="<%= admin_jobs_path(:page => params[:page]) %>" class="btn">Cancel</a>
</div>

<% content_for :page_specific_js do %>

<script type="text/javascript" src="/assets/jquery.sceditor.bbcode.min.js"></script>
<script type="text/javascript" src="/assets/jquery.sceditor.js"></script>
<script type="text/javascript" src="/assets/backend/select2.min.js"></script>
  <script type="text/javascript">
  
    $("#job_job_category").on("change", function(){
        
        var select = null;
        var val = $(this).val();
        
        $.ajax({
          url : "/admin/jobs/get_job_subad",
          data : {"job_category" : val},
          dataType : "html",
          type : "get"
        }).done(function(html){
          var select = $("#job_job_sub_category");
          select.select2("destroy");
          select.html(html);
          //console.log(html);
          select.select2({disable_search_threshold:10});
        })
    });

    $(".small-chosen").select2({disable_search_threshold:10, width:"8%"});
    $(".salary").on("change", function(){
      $("#job_salary").val($("#lacs").val() + "," + $("#thousands").val());
    })
    $(".max-salary").on("change", function(){
      $("#job_max_salary").val($("#max-lacs").val() + "," + $("#max-thousands").val());
    })

    $("#job_min_qualification_type").on("change",function(){
      $(".qual-area").hide();
      switch($(this).val()){
        case "1":
          $(".ug-qualification").show();
          $(".pg-qualification").show();
          break;
        case "2":
          $(".ug-qualification").show();
          $(".pg-qualification").show();
          $(".phd-qualification").show();
          break; 
      }
    })

    $(".qualification").on("change", function(){
      var val = $(this).val(),
       type = $(this).data("for");
       //alert(type);
      switch(type){
        case "ug":
          var select = $("#job_subject_id");
          break;
        case "pg":
          var select = $("#job_specialization_id");
          break;
        case "phd":
          var select = $("#job_phd_specialization_id");
          break;
      }
      $.ajax({
        url : "/admin/jobs/get_specializationad",
        data : {"type" : type, "id" : val},
        dataType : "html",
        type : "get"
      }).done(function(html){
        select.select2("destroy");
        select.html(html);
        select.select2();
      })
    })

    var skill_tags_ids = <%= @tag_array_with_ids.to_json.html_safe %>;
    $("#skill-tags").tagit({
      fieldName : "job[skill_tag_ids][]",
      availableTags : <%= @tag_array.to_json.html_safe %>,
      placeholder : "Specify needed skill set",
      allowSpaces : true,
      allowDuplicates : false,
      beforeTagAdded: function(event, ui) {
        var tags = $("#skill-tags").tagit("assignedTags");
        if(skill_tags_ids[ui.tagLabel] != undefined){
          if(tags.indexOf(skill_tags_ids[ui.tagLabel]) == -1){
            ui.tag.find("input.tagit-hidden-field").val(skill_tags_ids[ui.tagLabel])        
          }else{
            return false;
          }
        }else{
          ui.tag.find("input.tagit-hidden-field").attr("name", "new_skill_tags[]")
        }
      }
     })

  </script>
<% end %>