<%= csrf_meta_tags %>
<% content_for :breadcrumbs do %>
	<a href="#" class="current" onclick="return false;">Jobs</a>
<% end %>
<% content_for :page_title do %>
   Jobs
  <% end %>

  <div class="container-fluid">
		<hr>
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
				  <div class="widget-title"> <span class="icon"> <i class="icon-briefcase"></i> </span>
				    <h5>Jobs</h5>
				  </div>
				  <div class="widget-content nopadding">
				    <table class="table table-bordered table-striped">
				      <thead>
				        <tr>
				          <th width="12px"></th>
				          <th>Premium</th>
				          <th>Applications</th>
				          <th>Company Name</th>
				          <th>Contact Person</th>
				          <th>Job Category</th>
				          <th>Location</th>
				          <th>Created On</th>
				          <th>Actions</th>
				          <th>Status</th>
				        </tr>
				      </thead>
				      <tbody>
				      	<% @jobs.each_with_index do |jo,i| %>
				      		<tr class="<%= i%2 != 0 ? "odd" : "even" %>">
				      			<td>
				      				<% if jo.sponsored %>
				      					<abbr title="Spotlight Job" style="text-decoration: none;"><i class="icon-bolt"></i></abbr>
				      				<% end %>
				      			</td>
				      			<td width="20px" style="text-align: center;">
				      				<% if jo.is_premium? %>
												<abbr title="Premium Job" style="text-decoration: none;"><i class="icon-ok-sign"></i></abbr>
				      				<% end %>
				      			</td>
				      			<td> 
				      				<% application_count = jo.job_applications.count %>
				      				<% if application_count > 0 %>
				      					<span class="label label-success"><%= application_count %></span>
				      				<% else %>
				      					<span class="label label-default"><%= application_count %></span>
				      				<% end %>
				      			</td>
				      			<td><a href="<%= admin_job_path(jo.id, :page => params[:page]) %>"><%= jo.employer_profile.company_name %></a></td>
				      			<td><%= jo.employer_profile.contact_person%></td>
										<td><%= jo.job_category.name %></td>
				      			<td><%= jo.employer_profile.full_location %></td>
				      			<td><%= jo.created_at.strftime("%d/%m/%Y") %></td>

				      			<td> 
				      				<a href="<%= edit_admin_job_path(jo.id, :page=>params[:page]) %>" class="btn btn-mini btn-primary">Edit</a>
				      				<%= link_to "Delete", admin_job_path(jo.id, :page=>params[:page]), :method => :delete, :class => "btn btn-mini btn-danger", :data => {:confirm => "Are you sure?"} %>
				      			</td>
				      			<td style="text-align: center;">
				      				<% badge = jo.get_stale_badge %>
				      				<% if badge == "success" %>
				      					<span class="label label-success">Filled</span>
				      				<% else %>
				      					<abbr title="This job is posted <%= jo.get_stale_period %> days ago and still not filled." style="text-decoration: none;"><span class="label label-<%= badge %>"><%= jo.get_stale_period %></span></abbr>
				      				<% end %>
				      			</td>
				      		</tr>
				      	<% end %>
				      </tbody>
				    </table>
				  </div>
				</div>
			</div>
		</div>
	</div>
	<%=
  content_tag :div, class: "bottomnav clearfix" do
    content_tag :div, paginate(@jobs), class: "pagination pagination-centered"
  end
%> 