<% content_for :breadcrumbs do %>
	<a class="tip-bottom" href="<%= admin_jobs_path %>" data-original-title="Job">Jobs</a>
	<a href="#" class="current" onclick="return false;"><%= @job_emp.company_name %></a>
	<% end %>
	<% content_for :page_title do %>
   <%= @job_emp.company_name %>
  <% end %>

  <div class="container-fluid">
		<hr>
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title">
					 	<span class="icon"> <i class="icon-briefcase"></i> </span>
				    	<h5>
				    		<%= @job_emp.company_name %> Details - <i>Job</i>
				    		<% if @job.premium_job %>
				    			<span class="badge badge-inverse">Premium</span>
				    		<% end %>
				    		<% if @job.sponsored %>
				    			<span class="badge badge-info">Sponsored</span>
				    		<% end %>
				    	</h5>
				    	<% if @job.filled %>
				    		<span class="label label-success">Filled</span>
				    	<% else %>
				    		<span class="label label-warning">Not-Filled - <i>Posted <%= @job.get_stale_period %> days ago.</i></span>
				    	<% end %>
				  </div>
				  <div class="widget-content nopadding">
				  	<table class="table table-bordered table-striped">
				  		<tbody>
									<tr>
				      			<td class="span5">Company Name</td>
				      			<td><%= @job_emp.company_name %></td>
				      		</tr>
				      		<tr>
				      			<td class="span5">Contact Person</td>
				      			<td colspan="2"><%= @job_emp.contact_person %></td>
				      		</tr>
				      		<tr>
				      			<td class="span5">Contact Phone Number</td>
				      			<td colspan="2"><%= @job_emp.contact_phone_no %></td>
				      		</tr>
				      		<tr>
				      			<td class="span5">Company Address</td>
				      			<td colspan="2"><%= @job_emp.company_address %></td>
				      		</tr>

				      		<tr>
				      			<td class="span5">State</td>
				      			<td colspan="2"><%= @job_emp.full_state %></td>
				      		</tr>
				      		
				      		<tr>
				      			<td class="span5">Location</td>
				      			<td colspan="2">
											<%= @job_emp.full_location %>
				      			</td>
				      		</tr>

				      		<tr>
				      			<td class="span5">Designation</td>
				      			<td colspan="2"><%= @job_designation.name %></td>
				      		</tr>
				      		
				      		<tr>
				      			<td class="span5">Job Category</td>
				      			<td colspan="2"><%= @job_category.name %></td>
				      		</tr>
				      		<tr>
				      			<td class="span5">Job Sub Category</td>
				      			<td colspan="2">
				      			<% if @job_sub_category !=nil  %>
				      			<%= @job_sub_category.name %>
				      			<% end %>
				      			</td>
				      		</tr>

				      		<tr>
				      			<td class="span5">Job Type</td>
				      			<td colspan="2">
											<span class="<%= @job.get_job_type.downcase %>"><%= @job.get_job_type %></span>
				      			</td>
				      		</tr>
				      		<!-- Profile description use with javascript -->
				      		<tr>
				      		<td class="span5">Job Description</td>
				      		<td colspan="2">
				      			<div class="expand-content">
				      				<a href="#">Show More</a>
				      				<div style="display: none;">
				      					<%= @job.job_description.html_safe rescue "" %>
				      				</div>
				      			</div>
				      		</td>
				      	</tr>
				      	<!-- end -->
				      		<tr>
				      			<td class="span5">Industry</td>
				      			<td colspan="2"><%= @industry.name %></td>
				      		</tr>
				      		<% if !@job.skill_tags.empty? %>
				      		<tr>
				      			<td class="span5">Skills</td>
				      			<td colspan="3">
						      		<% @job.skill_tags.each do |tag| %>
												<span class="label"><%= tag.name %></span>
						      		<% end %>
				      			</td>
				      		</tr>
				      	<% end %>
				      		<tr>
				      			<td class="span5">Job Location</td>
				      			<td colspan="2">
				      				<%= @job.get_locations.join(", ") %>
				      			</td>
				      		</tr>
				      		<tr>
				      			<td class="span5">Salary</td>
				      			<td colspan="2">
				      				<%= @job.get_salary_in_words %>
				      			</td>
				      		</tr>
				      		<!-- Profile description use with javascript -->
				      		<tr>
				      		<td class="span5">Profile Description</td>
				      		<td colspan="2">
				      			<div class="expand-content">
				      				<a href="#">Show More</a>
				      				<div style="display: none;">
				      					<%= @job.employer_profile.company_profile.html_safe rescue "" %>
				      				</div>
				      			</div>
				      		</td>
				      	</tr>
				      	<!-- end -->
				      	<% if @job.min_experience_years > @job.max_experience_years %>
				      		<tr>
				      			<td class="span5">Minimum Experience Years</td>
				      			<td colspan="2"><%= @job.min_experience_years%></td>
				      		</tr>
				      	<% else %>
				      		<tr>
				      			<td class="span5">Experience Years</td>
				      			<td colspan="2"><%= @job.min_experience_years %> - <%= @job.max_experience_years %></td>
				      		</tr>
				      	<% end %>
				      		<tr>
				      			<td class="span5">Minimum Qualification Type</td>
				      			<td colspan="2"><%= Job.get_qualification_types[@job.min_qualification_type][0] %></td>
				      		</tr>

				      		<tr class="ug-qualification">
				      			<td class="span5">Under Graduation</td>
				      			<td colspan="2"><%= @ug_qualifications.name rescue "N/A" %></td>
				      		</tr>

				      		<tr class="ug-qualification">
				      			<td class="span5">Subject</td>
				      			<td colspan="2">
				      			<% if @subjects != nil%>
				      			<%= @subjects.name %>
				      			<% end %>
				      			</td>
				      		</tr>
				      		<tr class="pg-qualification">
				      			<td class="span5">Post Graduation</td>
				      			<td colspan="2"><%= @pg_qualifications.name rescue "N/A"  %></td>
				      		</tr>

				      		<tr class="pg-qualification">
				      			<td class="span5">Specialization</td>
				      			<td colspan="2">
				      			<% if @specializations != nil%>
				      				<%= @specializations.name %>
				      			<% end %>
				      			</td>
				      		</tr>

				      		<tr class="phd-qualification">
				      			<td class="span5">PhD</td>
				      			<td colspan="2"><%= @phd_qualifications.name rescue "N/A" %></td>
				      		</tr>

				      		<tr class="phd-qualification">
				      			<td class="span5">PhD Specialization</td>
				      			<td colspan="2">
				      			<% if @phd_specializations != nil%>
				      				<%= @phd_specializations.name rescue "N/A" %>
				      			<% end %>
				      			</td>
				      		</tr>
				  		</tbody>
				  	</table>
				  </div>
				</div>
				<a href="<%= admin_jobs_path(:page => params[:page]) %>" class="btn btn-info">Back to List</a>
				<a href="<%= edit_admin_job_path(@job.id) %>" class="btn btn-primary">Edit</a>
			</div>
		</div>
  </div>

  <% content_for :page_specific_js do %>
  <script type="text/javascript">
  $(document).ready(function(){

      	// Check qualification type

      	var min_qualification_type = '<%= @job[:min_qualification_type] %>';
   		
	    if(min_qualification_type == '0')
	    {
	    	$(".ug-qualification").show();
	    	$(".pg-qualification").hide();
	    	$(".phd-qualification").hide();
	    }
	    else if(min_qualification_type == '1')
	    {
	      $(".ug-qualification").show();
	      $(".pg-qualification").show();
	      $(".phd-qualification").hide();
	    }
	    else if(min_qualification_type == '2')
	    {
	      $(".ug-qualification").show();
	      $(".pg-qualification").show();
	      $(".phd-qualification").show();
	    }
	});
   </script>

   <script type="text/javascript">
		$(".expand-content a").on("click",function(){
			if(!$(this).hasClass("expanded")){
				$(this).addClass("expanded");
				$(this).parent().find("div").slideDown();
				$(this).text("Show Less");
			}else{
				$(this).removeClass("expanded");
				$(this).parent().find("div").slideUp();
				$(this).text("Show More");
			}
			return false;
		})
	</script>
  <% end %>
		