<% content_for :page_specific_css do %>
	<link rel="stylesheet" href="/assets/backend/uniform.css">
<% end %>
<% if !@update_errors.blank? %>
	<div class="alert alert-error alert-block">
		<a class="close" data-dismiss="alert" href="#">×</a>
		<h4 class="alert-heading">Error!</h4>
			<% @update_errors.each do |error| %>
				<p><%= error %>.</p> 
			<% end %>
	</div>
<% end %>
<div class="control-group">
	<%= f.label :user_name, "Username", :class => "control-label" %>
  <div class="controls">
  	<% if @user.new_record? %>
    	<%= f.text_field :user_name, :class => "span11", :placeholder => "Username" %>
    <% else %>
    	<div><%= @user.user_name %></div>
    <% end %>
  </div>
</div>
<%= f.fields_for :admin_profile do |ap| %>
	<div class="control-group">
		<%= ap.label :name, "Full Name", :class => "control-label" %>
	  <div class="controls">
	    <%= ap.text_field :name, :class => "span11", :placeholder => "Name" %>
	  </div>
	</div>
	<div class="control-group">
		<%= ap.label :mobile_number, "Mobile Number", :class => "control-label" %>
	  <div class="controls">
	    <%= ap.text_field :mobile_number, :class => "span11", :placeholder => "Mobile Number" %>
	  </div>
	</div>
<% end %>

<div class="control-group">
	<%= f.label :email, "Email", :class => "control-label" %>
  <div class="controls">
    <%= f.text_field :email, :class => "span11", :placeholder => "Email" %>
  </div>
</div>

<div class="control-group">
	<%= f.label :password, "Password", :class => "control-label" %>
  <div class="controls">
    <%= f.password_field :password, :class => "span11", :placeholder => "Must be between 8 to 20 characters" %>
  </div>
</div>

<div class="control-group">
	<%= f.label :password_confirmation, "Confirm Password", :class => "control-label" %>
  <div class="controls">
    <%= f.password_field :password_confirmation, :class => "span11", :placeholder => "Must be between 8 to 20 characters" %>
  </div>
</div>

<% if current_user.is_super_admin? %>
	<div class="control-group">
	  <label class="control-label"></label>
	  <div class="controls">
	    <label>
				<%= f.check_box :super_admin %>
	      Super Admin
	    </label>
	  </div>
	</div>
<% end %>

<div class="form-actions">
	<input type="hidden" value="<%= params[:page] %>" name="page" >
	<%= f.hidden_field :user_type, :value => "0" %>
  <%= f.submit "Save", :class => "btn btn-success" %>
	<a href="<%= admin_admin_profiles_path(:page => params[:page]) %>" class="btn">Cancel</a>
</div>