	<%= csrf_meta_tags %>
	<% content_for :breadcrumbs do %>
		<a href="#" class="current" onclick="return false;">Admins</a>
	<% end %>
	<% content_for :page_title do %>
    Admin Profiles
  <% end %>
	<div class="container-fluid">
		<hr>
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
				  <div class="widget-title"> <span class="icon"> <i class="icon-user"></i> </span>
				    <h5>Admins</h5>
				  </div>
				  <div class="widget-content nopadding">
				    <table class="table table-bordered table-striped">
				      <thead>
				        <tr>
				          <th colspan="2">Name</th>
				          <th>Username</th>
				          <th>Email</th>
				          <th>Mobile number</th>
				          <th>Created On</th>
				          <th>Actions</th>
				        </tr>
				      </thead>
				      <tbody>
				      	<% @users.each_with_index do |user,i| %>
				      		<tr class="<%= i%2 != 0 ? "odd" : "even" %>">
				      			<% if user.is_super_admin? %>
				      				<td width="10px"><i class='icon-magic'></i></td>
				      			<% else %>
				      				<td>&nbsp;</td>
				      			<% end %>
				      			<td><%= user.name %></td>
				      			<td><%= user.user_name %></td>
				      			<td><%= user.email %></td>
				      			<td><%= user.profile.mobile_number %></td>
				      			<td><%= user.created_at.strftime("%d/%m/%Y") %></td>
				      			<td> 
				      				<a href="<%= edit_admin_admin_profile_path(user.user_name, :page=>params[:page]) %>" class="btn btn-mini btn-primary">Edit</a>
				      				<% if user.user_name != current_user.user_name %>
				      					<%= link_to "Delete", admin_admin_profile_path(user.user_name, :page=>params[:page]), :method => :delete, :class => "btn btn-mini btn-danger", :data => {:confirm => "Are you sure?"} %>
				      				<% end %>
				      			</td>
				      		</tr>
				      	<% end %>
				      </tbody>
				    </table>
				  </div>
				</div>
			</div>
		</div>
	</div>
	<%=
  content_tag :div, class: "bottomnav clearfix" do
    content_tag :div, paginate(@users), class: "pagination pagination-centered"
  end
%>