<% content_for :breadcrumbs do %>
	<a class="tip-bottom" href="<%= admin_admin_profiles_path %>" data-original-title="Admin Profiles">Admin Profiles</a>
	<a href="#" class="current" onclick="return false;">New</a>
<% end %>
<% content_for :page_title do %>
  New Admin
<% end %>
<div class="container-fluid">
	<div class="row-fluid">
		<!-- <div class="span6"> -->
	  	<div class="widget-box">
	    	<div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
	      	<h5>Create new admin</h5>
	    	</div>
	    	<div class="widget-content nopadding">
					<%= form_for @user, :url => {:action => "create"}, :html => {:class => "form-horizontal", :autocomplete => "off"} do |f| %>
						<%= render :partial => "form", :locals => {:f => f} %>
					<% end %>
				</div>
			</div>
		<!-- </div> -->
	</div>
</div>

