<% content_for :page_specific_css do %>
	<link rel="stylesheet" href="/assets/backend/select2.css">
	<link rel="stylesheet" href="/assets/backend/uniform.css">
	<link rel="stylesheet" href="/assets/backend/bootstrap-wysihtml5.css" />
<% end %>
<% content_for :page_specific_js do %>
  <script type="text/javascript" src="/assets/backend/wysihtml5-0.3.0.js"></script>
  <script type="text/javascript" src="/assets/backend/bootstrap-wysihtml5.js"></script>
  <script type="text/javascript">
	  $(document).ready(function(){  
	    $('.textarea_editor').wysihtml5();
	  })
  </script>
<% end %>
<% if !@update_errors.blank? %>
	<div class="alert alert-error alert-block">
		<a class="close" data-dismiss="alert" href="#">×</a>
		<h4 class="alert-heading">Error!</h4>
			<% @update_errors.each do |error| %>
				<p><%= error %>.</p> 
			<% end %>
	</div>
<% end %>
	<div class="control-group">
  	<label class="control-label sub-heading"><h4>1. Account</h4></label>
  </div>
<div class="control-group">
	<%= f.label :user_name, "Username", :class => "control-label" %>
  <div class="controls">
  	<% if @user.new_record? %>
    	<%= f.text_field :user_name, :class => "span11", :placeholder => "Username" %>
    	<%= f.hidden_field :user_type, :value => "2" %>
    	<%= f.hidden_field :basic_registeration_complete, :value => "1" %>
    <% else %>
    	<div><%= @user.user_name %></div>
    <% end %>
  </div>
</div>

<div class="control-group">
	<%= f.label :email, "Email", :class => "control-label" %>
  <div class="controls">
    <%= f.text_field :email, :class => "span11", :placeholder => "Email" %>
  </div>
</div>

<div class="control-group">
	<%= f.label :password, "Password", :class => "control-label" %>
  <div class="controls">
    <%= f.password_field :password, :class => "span11", :placeholder => "Must be between 8 to 20 characters" %>
  </div>
</div>

<div class="control-group">
	<%= f.label :password_confirmation, "Confirm Password", :class => "control-label" %>
  <div class="controls">
    <%= f.password_field :password_confirmation, :class => "span11", :placeholder => "Must be between 8 to 20 characters" %>
  </div>
</div>

<%= f.fields_for :employer_profile do |ep| %>
	
	<div class="control-group">
  	<label class="control-label sub-heading"><h4>2. Basic</h4></label>
  </div>

	<div class="control-group">
		<%= ep.label :company_name, "Company Name", :class => "control-label" %>
	  <div class="controls">
	    <%= ep.text_field :company_name, :class => "span11" %>
	  </div>
	</div>

	<div class="control-group">
  	<%= ep.label :company_profile, "Company Profile", :class => "control-label" %>
  	<div class="controls">
    	<%= ep.text_area :company_profile, :rows => 6,:class => "textarea_editor span11" %>
   	</div>
	</div>

	<div class="control-group">
		<%= ep.label :contact_person, "Contact Name", :class => "control-label" %>
	  <div class="controls">
	    <%= ep.text_field :contact_person, :class => "span11" %>
	  </div>
	</div>

	<div class="control-group">
		<%= ep.label :industry, "Industry", :class => "control-label" %>
	  <div class="controls">
	    <%= ep.select :industry, @industries, {:selected => (@profile.industry rescue ""), :prompt => "Select Industry"}, {:class => "span11"} %>
	  </div>
	</div>

	<div class="control-group">
		<%= ep.label :contact_phone_no, "Contact Phone No.", :class => "control-label" %>
	  <div class="controls">
	    <%= ep.text_field :contact_phone_no, :class => "span11" %>
	  </div>
	</div>

	<div class="control-group">
		<%= ep.label :company_address, "Company Address", :class => "control-label" %>
	  <div class="controls">
	    <%= ep.text_area :company_address, :cols => "10", :rows => "5", :class => "span11" %>
	  </div>
	</div>

	<div class="control-group">
		<%= ep.label :state, "State", :class => "control-label" %>
	  <div class="controls">
	    <%= ep.select :state, @states, {:selected => (@profile.state rescue ""), :prompt => "Select State"}, {:class => "span11"} %>
	  </div>
	</div>

	<div class="control-group">
		<%= ep.label :location, "Location", :class => "control-label" %>
	  <div class="controls">
	    <%= ep.select :location, @locations, {:selected => (@profile.location rescue ""), :prompt => "Select Location"}, {:class => "span11"} %>
	  </div>
	</div>

	<div class="control-group">
    <%= ep.label :avatar, "Company Logo", :class => "control-label" %>
    <% if !@user.new_record? && !@user.avatar.thumb.url.nil? %>
	    <div class="controls">
	      <%= image_tag @user.avatar.thumb.url, :width => "75" %>
	    </div>
	  <% end %>
    <div class="controls">
      <%= ep.file_field :avatar %>
    </div>
  </div>

<% end %>
<div class="form-actions">
	<% if params[:page] %>
		<input type="hidden" value="<%= params[:page] %>" name="page" >
	<% end %>
  <%= f.submit "Save", :class => "btn btn-success" %>
	<a href="<%= admin_employers_path(:page => params[:page]) %>" class="btn">Cancel</a>
</div>





