	<%= csrf_meta_tags %>
	<% content_for :breadcrumbs do %>
		<a href="#" class="current" onclick="return false;">Employers</a>
	<% end %>
	<% content_for :page_title do %>
   Employers
  <% end %>
	<div class="container-fluid">
		<hr>
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
				  <div class="widget-title"> <span class="icon"> <i class="icon-briefcase"></i> </span>
				    <h5>Employers</h5>
				  </div>
				  <div class="widget-content nopadding">
				    <table class="table table-bordered table-striped">
				      <thead>
				        <tr>
				          <th>Company Name</th>
				          <th>Contact Person</th>
				          <th>Email</th>
				          <th>Contact number</th>
				          <th>Location</th>
				          <th>Created On</th>
				          <th>Actions</th>
				        </tr>
				      </thead>
				      <tbody>
				      	<% @employers.each_with_index do |user,i| %>
				      		<tr class="<%= i%2 != 0 ? "odd" : "even" %>">
				      			<td><a href="<%= admin_employer_path(user.user_name, :page => params[:page]) %>"><%= user.name %></a></td>
				      			<td><%= user.profile.contact_person %></td>
				      			<td><%= user.email %></td>
				      			<td><%= user.profile.contact_phone_no %></td>
				      			<td><%= user.profile.full_location %></td>
				      			<td><%= user.created_at.strftime("%d/%m/%Y") %></td>
				      			<td> 
				      				<a href="<%= edit_admin_employer_path(user.user_name, :page=>params[:page]) %>" class="btn btn-mini btn-primary">Edit</a>
				      				<%= link_to "Delete", admin_employer_path(user.user_name, :page=>params[:page]), :method => :delete, :class => "btn btn-mini btn-danger", :data => {:confirm => "All the jobs under this employer will also be deleted. Are you sure?"} %>
				      			</td>
				      		</tr>
				      	<% end %>
				      </tbody>
				    </table>
				  </div>
				</div>
			</div>
		</div>
	</div>
	<%=
  content_tag :div, class: "bottomnav clearfix" do
    content_tag :div, paginate(@employers), class: "pagination pagination-centered"
  end
%>