<% content_for :breadcrumbs do %>
	<a class="tip-bottom" href="<%= admin_employers_path %>" data-original-title="Employers">Employers</a>
		<a href="#" class="current" onclick="return false;"><%= @user.name %></a>
	<% end %>
	<% content_for :page_title do %>
   <%= @user.name %>
  <% end %>
	<div class="container-fluid">
		<hr>
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
				  <div class="widget-title"> <span class="icon"> <i class="icon-briefcase"></i> </span>
				    <h5><%= @user.name %> Details - <i>Employer</i></h5>
				    <div class="profile-status"><span class="badge <%= @user.basic_registeration_complete ?  "badge-success" : "badge-warning" %>"><%= @user.registration_status %></span></div>
				  </div>
				  <div class="widget-content nopadding">
				    <table class="table table-bordered table-striped">
				      <tbody>
				      	<tr>
				      		<td class="span5">Username</td>
				      		<td><%= @user.user_name %></td>
				      		<td class="span2 show-logo" rowspan="3"><%= image_tag @user.avatar.thumb.url %></td>
				      	</tr>
				      	<tr>
				      		<td class="span5">Email</td>
				      		<td><%= @user.email %></td>
				      	</tr>
				      	<tr>
				      		<td class="span5">Company Name</td>
				      		<td><%= @user.profile.company_name %></td>
				      	</tr>
				      	<tr>
				      		<td class="span5">Contact Person</td>
				      		<td colspan="2"><%= @user.profile.contact_person %></td>
				      	</tr>
				      	<tr>
				      		<td class="span5">Contact Phone Number</td>
				      		<td colspan="2"><%= @user.profile.contact_phone_no %></td>
				      	</tr>
				      	<tr>
				      		<td class="span5">Company Address</td>
				      		<td colspan="2"><%= @user.profile.company_address %></td>
				      	</tr>
				      	<tr>
				      		<td class="span5">Industry</td>
				      		<td colspan="2"><%= @user.profile.full_industry %></td>
				      	</tr>
				      	<tr>
				      		<td class="span5">State</td>
				      		<td colspan="2"><%= @user.profile.full_state %></td>
				      	</tr>
				      	<tr>
				      		<td class="span5">Location</td>
				      		<td colspan="2"><%= @user.profile.full_location %></td>
				      	</tr>
				      </tbody>
				    </table>
				  </div>
				</div>
				<a href="<%= admin_employers_path(:page => params[:page]) %>" class="btn btn-info">Back to List</a>
			</div>
		</div>
	</div>