<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<h3>Hi, <%= @user.user_name %>,</h3>
	<p>Please click on the link below to reset your password. If it was not you, please change your password immediately and ignore this email.</p>
	<div><a href="<%= @url %>">Click here</a></div>
 </body>
</html>