<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<h3>Hi, <%= @user.user_name %>,</h3>
	<p>Thank you for registering with <strong>Skynet Placements</strong>, please click on the link below to confirm your email id.</p>
	<div><a href="<%= @url %>">Click here</a></div>
 </body>
</html>