<% if !@update_errors.blank? %>
	<div class="alert alert-error alert-block">
		<a class="close" data-dismiss="alert" href="#">×</a>
		<h4 class="alert-heading">Error!</h4>
			<% @update_errors.each do |error| %>
				<p><%= error %>.</p> 
			<% end %>
	</div>
<% end %>
<div class="control-group">
	<%= f.label :name, "Designation Name", :class => "control-label" %>
  <div class="controls">
    <%= f.text_field :name, :class => "span11", :placeholder => "Executive / Manager / CEO " %>
  </div>
</div>

<div class="form-actions">
	<% if params[:page] %>
		<input type="hidden" value="<%= params[:page] %>" name="page" >
	<% end %>
	<%= f.hidden_field :created_by, :value =>  current_user.id %>
  <%= f.submit "Save", :class => "btn btn-success" %>
	<a href="<%= designation_index_admin_settings_path(:page => params[:page]) %>" class="btn">Cancel</a>
</div>