<% content_for :page_specific_css do %>
	<link rel="stylesheet" href="/assets/backend/select2.css">
	<link rel="stylesheet" href="/assets/font-awesome.css">
	<link rel="stylesheet" href="/assets/backend/uniform.css">
	<style type="text/css">
		.icon-showcase{
			font-size: 16px;
			width: auto !important;
		}

		.icon-showcase i{
			font-size: 25px;
			margin-right: 10px;
		}

		.icon-selected {
			font-size: 15px;
		}

		.icon-stored{
			font-size: 16px;
		}
		
		.icon-stored i{
			font-size: 35px;
		}
	</style>
<% end %>
<% if !@update_errors.blank? %>
	<div class="alert alert-error alert-block">
		<a class="close" data-dismiss="alert" href="#">×</a>
		<h4 class="alert-heading">Error!</h4>
			<% @update_errors.each do |error| %>
				<p><%= error %>.</p> 
			<% end %>
	</div>
<% end %>
<div class="control-group">
	<%= f.label :name, "Category Name", :class => "control-label" %>
  <div class="controls">
    <%= f.text_field :name, :class => "span11", :placeholder => "Business, Computer, IT" %>
  </div>
</div>
<% if !@category.new_record? && !@category.icon.blank? %>
	<div class="control-group">
		<label class="control-label">Current Icon</label>
		<div class="controls">
			<span class="icon-stored"><i class="ln <%= @category.icon %>"></i> <%= @category.icon.sub("ln-icon-","") %></span>
		</div>
	</div>
<% end %>
<div class="control-group">
	<%= f.label :icon, "Icon", :class => "control-label" %>
	<div class="controls">
		<select name="job_category[icon]" id="job_category_icon">
			<option></option>
			<% @icons["icons"].each do |icon| %>
				<option <%= !@category.icon.blank? && @category.icon == icon ? "selected=selected" : "" %> value="<%= icon %>"><%= icon %></option>
			<% end %>
		</select>
  </div>
</div>
<div class="control-group">
	<%= f.label :show_in_frontend, "Display in Home Page", :class => "control-label" %>
  <div class="controls">
    <%= f.check_box :show_in_frontend %>
  </div>
</div>
<div class="form-actions">
	<% if params[:page] %>
		<input type="hidden" value="<%= params[:page] %>" name="page" >
	<% end %>
	<%= f.hidden_field :created_by, :value =>  current_user.id %>
  <%= f.submit "Save", :class => "btn btn-success" %>
	<a href="<%= job_category_index_admin_settings_path(:page => params[:page]) %>" class="btn">Cancel</a>
</div>
<% content_for :page_specific_js do %>
	<script type="text/javascript">
	$(document).ready(function(){
		$("#job_category_icon").select2("destroy");
		var formatIcon = function(icon) {
		  if (!icon.id) { return icon.text; }
		  var $icon = $(
		    '<span class="icon-showcase"><i class="ln ' + icon.text + '"></i> ' + icon.text.replace("ln-icon-","") + '</span>'
		  );
		  return $icon;
		};
		$("#job_category_icon").select2({
			placeholder : "Select an Icon",
			formatResult: formatIcon,
			formatSelection : function(icon){
				var $icon = $(
		    '<span class="icon-selected"><i class="ln ' + icon.text + '"></i> ' + icon.text.replace("ln-icon-","") + '</span>'
		  	);
		  	return $icon;
			}
		})
	})
	</script>
<% end %>