<% content_for :page_specific_css do %>
	<link rel="stylesheet" href="/assets/backend/select2.css">
	<link rel="stylesheet" href="/assets/backend/uniform.css">
<% end %>
<% if !@update_errors.blank? %>
	<div class="alert alert-error alert-block">
		<a class="close" data-dismiss="alert" href="#">×</a>
		<h4 class="alert-heading">Error!</h4>
			<% @update_errors.each do |error| %>
				<p><%= error %>.</p> 
			<% end %>
	</div>
<% end %>
<div class="control-group">
	<%= f.label :job_category_id, "Parent Category", :class => "control-label" %>
  <div class="controls">
    <%= f.select :job_category_id, @job_categories, {:selected => (@category.job_category_id rescue ""), :prompt => "Select Job Category"}, {:class => "span11"} %>
  </div>
</div>
<div class="control-group">
	<%= f.label :name, "Sub Category Name", :class => "control-label" %>
  <div class="controls">
    <%= f.text_field :name, :class => "span11", :placeholder => "Business, Computer, IT" %>
  </div>
</div>
<div class="form-actions">
	<% if params[:page] %>
		<input type="hidden" value="<%= params[:page] %>" name="page" >
	<% end %>
	<%= f.hidden_field :created_by, :value =>  current_user.id %>
  <%= f.submit "Save", :class => "btn btn-success" %>
	<a href="<%= job_sub_category_index_admin_settings_path(:page => params[:page]) %>" class="btn">Cancel</a>
</div>