<% if !@update_errors.blank? %>
	<div class="alert alert-error alert-block">
		<a class="close" data-dismiss="alert" href="#">×</a>
		<h4 class="alert-heading">Error!</h4>
			<% @update_errors.each do |error| %>
				<p><%= error %>.</p> 
			<% end %>
	</div>
<% end %>
<div class="control-group">
	<%= f.label :name, "Degree Name", :class => "control-label" %>
  <div class="controls">
    <%= f.text_field :name, :class => "span11", :placeholder => "Computer, Communication" %>
  </div>
</div>
<div class="control-group">
	<label class="sub-heading"><h4>Specialization(s)</h4></label>
</div>
<div id="specialization-holder" class="inner-form-box">
		<div class="box-to-add-specializations">
	  <% @phd_qualification.phd_specializations.each_with_index do |specialization, i| %>
	    <%= f.fields_for :phd_specializations, specialization, :child_index => i do |se| %>
	       <%= render :partial => "specialization_form", :locals => {:se => se, :i => i, :obj => specialization} %>
	    <% end %>
	  <% end %>
	  </div>
	  <div class="inner-form-box-add-btn">
	  	<button class="btn btn-info" id="add-specialization-btn">Add Specialization</button>
	  	 <div class="box-to-clone">
	  		<%  new_object = f.object.send("phd_specializations").build #rescue nil %>
      	<%= f.fields_for :phd_specializations, new_object, :child_index => "XXX" do |se| %>
        	<%= render :partial => "specialization_form", :locals => {:se => se, :i => "XXX", :obj => new_object} %>
      	<% end %>
	  	</div>
	  </div>
	</div>
<div class="form-actions">
	<% if params[:page] %>
		<input type="hidden" value="<%= params[:page] %>" name="page" >
	<% end %>
	<%= f.hidden_field :created_by, :value =>  current_user.id %>
  <%= f.submit "Save", :class => "btn btn-success" %>
	<a href="<%= phd_qualification_index_admin_settings_path(:page => params[:page]) %>" class="btn">Cancel</a>
</div>

<script type="text/javascript">
	var specializationHolder = $("#specialization-holder .box-to-add-specializations");
	$("button#add-specialization-btn").on("click",function(){
		var clonebox = $(this).parent().find(".box-to-clone").clone(),
				totalEnteries = specializationHolder.find(".inner-fields-holder").length,
				old_id = new RegExp("XXX", "g"),
				newspecializationbox = clonebox.html().replace(old_id, totalEnteries);
				
		$(".box-to-add-specializations").append(newspecializationbox);
		return false;
	})

		$("body").on("click",".remove-box", function(){
			if($(this).parent().parent().hasClass("stored-box")){
				if(confirm("Are you sure?")){
					$(this).find("input[type=hidden]").val("1");
					$(this).parents(".inner-fields-holder").slideUp();
				}
			}else{
				$(this).parents(".inner-fields-holder").slideUp(function(){
					$(this).remove();
				});
			}
			return false;
		})

	$("form.admin-ug-qualification-form").on("submit",function(){
		$(".box-to-clone").remove();
	})
</script>