<div class="inner-fields-holder">
	<div class="inner-box-header <%= i == "XXX" ? "" : "stored-box" %>">
		<span class="delete-object">
			<a class="remove-box" href="#">
				<i class="icon-remove"></i>
				<% if i != "XXX" %>
					<%= se.hidden_field :_destroy, :value => nil, :class => 'should_destroy' %>
				<% end %>
			</a>
		</span>
	</div>
	<div class="control-group">
		<%= se.label :name, "Name", :class => "control-label" %>
	  <div class="controls">
	    <%= se.text_field :name, :class => "span11", :placeholder => "Chemistry, Math, Biology" %>
	  </div>
	</div>
</div>