	<%= csrf_meta_tags %>
	<% content_for :breadcrumbs do %>
		<a href="#" class="current" onclick="return false;">Designations</a>
	<% end %>
	<% content_for :page_title do %>
   Designations
  <% end %>
	<div class="container-fluid">
		<hr>
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
				  <div class="widget-title"> <span class="icon"> <i class="icon-cogs"></i> </span>
				    <h5>Designations</h5>
				  </div>
				  <div class="widget-content nopadding">
				    <table class="table table-bordered table-striped">
				      <thead>
				        <tr>
				          <th>Name</th>
				          <th>Created On</th>
				          <th>Created By</th>
				          <th>Actions</th>
				        </tr>
				      </thead>
				      <tbody>
				      	<% @designations.each_with_index do |cat,i| %>
				      		<tr class="<%= i%2 != 0 ? "even" : "odd" %>">
				      			<td><%= cat.name %></td>
				      			<td><%= cat.created_at.strftime("%d/%m/%Y") %></td>
				      			<td><%= cat.created_user_name %></td>
				      			<td> 
				      				<a href="<%= edit_designation_admin_setting_path(cat, :page=>params[:page]) %>" class="btn btn-mini btn-primary">Edit</a>
				      				<%= link_to "Delete", delete_designation_admin_setting_path(cat, :page=>params[:page]), :method => :delete, :class => "btn btn-mini btn-danger", :data => {:confirm => "Are you sure?"} %>
				      			</td>
				      		</tr>
				      	<% end %>
				     	</tbody>
				    </table>
				  </div>
				</div>
			</div>
		</div>
		<%= link_to "Add Designation", new_designation_admin_settings_path, class: "btn btn-primary" %>
	</div>
<%=
  content_tag :div, class: "bottomnav clearfix" do
    content_tag :div, paginate(@designations), class: "pagination pagination-centered"
  end
%>


