<% content_for :breadcrumbs do %>
	<a class="tip-bottom" href="<%= phd_qualification_index_admin_settings_path %>" data-original-title="PHD Qualifications">PHD Qualifications</a>
	<a href="#" class="current" onclick="return false;">Edit</a>
<% end %>
<% content_for :page_title do %>
  PHD Qualifications
<% end %>
<div class="container-fluid">
	<div class="row-fluid">
		<!-- <div class="span6"> -->
	  	<div class="widget-box">
	    	<div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
	      	<h5>Edit PHD Qualification for <%= @phd_qualification.name %></h5>
	    	</div>
	    	<div class="widget-content nopadding">
					<%= form_for @phd_qualification, :url => {:action => "update_phd_qualification"}, :html => {:class => "form-horizontal admin-ug-qualification-form"} do |f| %>
						<%= render :partial => "phd_qualification_form", :locals => {:f => f} %>
					<% end %>
				</div>
			</div>
		<!-- </div> -->
	</div>
</div>

