	<%= csrf_meta_tags %>
	<% content_for :breadcrumbs do %>
		<a href="#" class="current" onclick="return false;">Job Sub Categories</a>
	<% end %>
	<% content_for :page_title do %>
   Job Sub Categories
  <% end %>
	<div class="container-fluid">
		<hr>
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
				  <div class="widget-title"> <span class="icon"> <i class="icon-cogs"></i> </span>
				    <h5>Job Sub Categories</h5>
				  </div>
				  <div class="widget-content nopadding">
				    <table class="table table-bordered table-striped">
				      <thead>
				        <tr>
				          <th>Name</th>
				          <th>Parent Category</th>
				          <th>Created On</th>
				          <th>Created By</th>
				          <th>Actions</th>
				        </tr>
				      </thead>
				      <tbody>
				      	<% @job_sub_categories.each_with_index do |cat,i| %>
				      		<tr class="<%= i%2 != 0 ? "even" : "odd" %>">
				      			<td><%= cat.name  %></td>
				      			<td><a href="<%= job_sub_category_index_admin_settings_path(:parent_id => cat.job_category.id) %>"><%= cat.job_category.name  %></a></td>
				      			<td><%= cat.created_at.strftime("%d/%m/%Y") %></td>
				      			<td><%= cat.created_user_name %></td>
				      			<td> 
				      				<a href="<%= edit_job_sub_category_admin_setting_path(cat, :page=>params[:page]) %>" class="btn btn-mini btn-primary">Edit</a>
				      				<%= link_to "Delete", delete_job_sub_category_admin_setting_path(cat, :page=>params[:page]), :method => :delete, :class => "btn btn-mini btn-danger", :data => {:confirm => "All jobs under this sub category will be deleted. Are you sure that you want to continue?"} %>
				      			</td>
				      		</tr>
				      	<% end %>
				     	</tbody>
				    </table>
				  </div>
				</div>
			</div>
		</div>
		<%= link_to "Add Sub Category", new_job_sub_category_admin_settings_path, class: "btn btn-primary" %>
		<% if params[:parent_id].present? %>
			<a href="#" onclick="window.history.back();" class="btn btn-info">Go Back</a>
		<% end %>
	</div>
<%=
  content_tag :div, class: "bottomnav clearfix" do
    content_tag :div, paginate(@job_sub_categories), class: "pagination pagination-centered"
  end
%>


