<% content_for :breadcrumbs do %>
	<a class="tip-bottom" href="<%= country_index_admin_settings_path %>" data-original-title="Country">Country</a>
	<a href="#" class="current" onclick="return false;">New</a>
<% end %>
<% content_for :page_title do %>
  Country
<% end %>
<div class="container-fluid">
	<div class="row-fluid">
		<!-- <div class="span6"> -->
	  	<div class="widget-box">
	    	<div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
	      	<h5>New Country</h5>
	    	</div>
	    	<div class="widget-content nopadding">
					<%= form_for @country, :url => {:action => "create_country"}, :html => {:class => "form-horizontal admin-ug-qualification-form"} do |f| %>
						<%= render :partial => "country_form", :locals => {:f => f} %>
					<% end %>
				</div>
			</div>
		<!-- </div> -->
	</div>
</div>

