<% content_for :breadcrumbs do %>
	<a class="tip-bottom" href="<%= job_sub_category_index_admin_settings_path %>" data-original-title="Job Sub Categories">Job Sub Categories</a>
	<a href="#" class="current" onclick="return false;">New</a>
<% end %>
<% content_for :page_title do %>
  New Job Sub Category
<% end %>
<div class="container-fluid">
	<div class="row-fluid">
		<!-- <div class="span6"> -->
	  	<div class="widget-box">
	    	<div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
	      	<h5>New job sub category</h5>
	    	</div>
	    	<div class="widget-content nopadding">
					<%= form_for @category, :url => {:action => "create_job_sub_category"}, :html => {:class => "form-horizontal admin-employee-form"} do |f| %>
						<%= render :partial => "job_sub_category_form", :locals => {:f => f} %>
					<% end %>
				</div>
			</div>
		<!-- </div> -->
	</div>
</div>

