	<%= csrf_meta_tags %>
	<% content_for :breadcrumbs do %>
		<a class="tip-bottom" href="<%= ug_qualification_index_admin_settings_path %>" data-original-title="Post Graduate Qualifications">PhD Qualifications</a>
		<a href="#" class="current" onclick="return false;">Specializations</a>
	<% end %>
	<% content_for :page_title do %>
   Specializations for <%= @phd_qualification.name %>
  <% end %>
	<div class="container-fluid">
		<hr>
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
				  <div class="widget-title"> <span class="icon"> <i class="icon-cogs"></i> </span>
				    <h5>Specializations for <%= @phd_qualification.name %></h5>
				  </div>
				  <div class="widget-content nopadding">
				    <table class="table table-bordered table-striped">
				      <thead>
				        <tr>
				          <th>Name</th>
				          <th>Created On</th>
				        </tr>
				      </thead>
				      <tbody>
				      	<% @specializations.each_with_index do |u,i| %>
				      		<tr class="<%= i%2 != 0 ? "even" : "odd" %>">
				      			<td><%= u.name  %></td>
				      			<td><%= u.created_at.strftime("%d/%m/%Y") %></td>
				      		</tr>
				      	<% end %>
				     	</tbody>
				    </table>
				  </div>
				</div>
			</div>
		</div>
		<%= link_to "Back to Qualifications", phd_qualification_index_admin_settings_path, class: "btn btn-info" %>
	</div>
<%=
  content_tag :div, class: "bottomnav clearfix" do
    content_tag :div, paginate(@specializations), class: "pagination pagination-centered"
  end
%>


