	<%= csrf_meta_tags %>
	<% content_for :breadcrumbs do %>
		<a href="#" class="current" onclick="return false;">PHD Qualifications</a>
	<% end %>
	<% content_for :page_title do %>
   PHD Qualifications
  <% end %>
	<div class="container-fluid">
		<hr>
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
				  <div class="widget-title"> <span class="icon"> <i class="icon-cogs"></i> </span>
				    <h5>PHD Qualifications</h5>
				  </div>
				  <div class="widget-content nopadding">
				    <table class="table table-bordered table-striped">
				      <thead>
				        <tr>
				          <th>Name</th>
				          <th>Created On</th>
				          <th>Created By</th>
				          <th>Actions</th>
				        </tr>
				      </thead>
				      <tbody>
				      	<% @phd_qualifications.each_with_index do |u,i| %>
				      		<tr class="<%= i%2 != 0 ? "even" : "odd" %>">
				      			<td><a href="<%= phd_specializations_admin_setting_path(u) %>"><%= u.name  %></a></td>
				      			<td><%= u.created_at.strftime("%d/%m/%Y") %></td>
				      			<td><%= u.created_user_name %></td>
				      			<td> 
				      				<a href="<%= edit_phd_qualification_admin_setting_path(u, :page=>params[:page]) %>" class="btn btn-mini btn-primary">Edit</a>
				      				<%= link_to "Delete", delete_phd_qualification_admin_setting_path(u, :page=>params[:page]), :method => :delete, :class => "btn btn-mini btn-danger", :data => {:confirm => "Are you sure?"} %>
				      			</td>
				      		</tr>
				      	<% end %>
				     	</tbody>
				    </table>
				  </div>
				</div>
			</div>
		</div>
		<%= link_to "Add Qualification", new_phd_qualification_admin_settings_path, class: "btn btn-primary" %>
	</div>
<%=
  content_tag :div, class: "bottomnav clearfix" do
    content_tag :div, paginate(@phd_qualifications), class: "pagination pagination-centered"
  end
%>


