<% if i == "XXX" %>
	<a href="#" class="close-form remove-box button"><i class="fa fa-close"></i></a>
<% else %>
	<%= fe.hidden_field :id %>
	<a href="#" class="close-form remove-box button">
		<i class="fa fa-close"></i>
		<%= fe.hidden_field :_destroy, :value => nil, :class => 'should_destroy' %>
	</a>
<% end %>
<%= fe.text_field :school_name, :class => "search-field validator-field", :placeholder => "University / College", :data => {"fv-validations" => "required;", "fv-messages" => "Cannot be empty.;"} %>

<%= fe.select :qualification_type, Education.get_qualification_types, {:selected => (obj.qualification_type rescue ""), :prompt => "Select Qualification Type"}, {:class => (i == "XXX" ? "qualification_type" : "chosen-select-no-single qualification_type"), :data => {"on-change" => "changeQualification", "fv-validations" => "required;", "fv-messages" => "Cannot be empty.;"}} %>
<% if i != "XXX" 
	case obj.qualification_type
	when 0
		qualifications = UgQualification.all.asc(:name).collect{|qual| [qual.name, qual.id]}
		specializations = UgQualification.find(obj.qualification_id).subjects.all.asc(:name).collect{|sub| [sub.name, sub.id]}
	when 1
		qualifications = PgQualification.all.asc(:name).collect{|qual| [qual.name, qual.id]}
		specializations = PgQualification.find(obj.qualification_id).specializations.all.asc(:name).collect{|sub| [sub.name, sub.id]}
	when 2
		qualifications = PhdQualification.all.asc(:name).collect{|qual| [qual.name, qual.id]}
		specializations = PhdQualification.find(obj.qualification_id).phd_specializations.all.asc(:name).collect{|sub| [sub.name, sub.id]}
	when 3
		qualifications = []
		specializations = []
	when 4
		qualifications = []
		specializations = []
	end
else
	qualifications = UgQualification.all.asc(:name).collect{|qual| [qual.name, qual.id]}
  specializations = UgQualification.find(qualifications.first.last).subjects.all.asc(:name).collect{|sub| [sub.name, sub.id]}
end %>
<%= fe.select :qualification_id, qualifications, {:selected => (obj.qualification_id rescue ""), :prompt => "Select Qualification"}, {:class => (i == "XXX" ? "qualification_id validator-field" : "chosen-select-no-single qualification_id"), :data => {"on-change" => "changeQualification"}} %>

<%= fe.select :specialization_id, specializations, {:selected => (obj.specialization_id rescue ""), :prompt => "Select Specialization"}, {:class => (i == "XXX" ? "specialization_id" : "chosen-select-no-single specialization_id")} %>

<%= fe.text_field :start_date, :class => "search-field margin-top-15 validator-field", :placeholder => "Start date", :data => {:type => "date", "fv-validations" => "required;", "fv-messages" => "Cannot be empty.;"}, :value => (obj.start_date.strftime("%d/%m/%Y") rescue "") %>

<%= fe.text_field :end_date, :class => "search-field validator-field", :placeholder => "End date", :data => {:type => "date", "fv-validations" => "required;", "fv-messages" => "Cannot be empty.;"}, :value => (obj.end_date.strftime("%d/%m/%Y") rescue "") %>

<%= fe.text_area :note, :cols => "30", :rows => "10", :placeholder => "Notes (Optional)" %>
