<% content_for :page_specific_js do %>
  <script type="text/javascript" src="/assets/validateit.js"></script>
<% end %>
<%= content_for :page_specific_css do %>
  <link rel="stylesheet" type="text/css" href="/assets/jquery.sceditor.default.css">
  <style>
    #footer p{
      color : #999;
    }
  </style>
<% end %>
<%= render :partial => "shared/datepicker" %>
<div class="container">
  <!-- Submit Page -->
  <div class="sixteen columns">
    <div class="submit-page">

      <!-- Notice -->
      <!-- <div class="notification notice closeable margin-bottom-40">
        <p><span>Have an account?</span> If you don’t have an account you can create one below by entering your email address. A password will be automatically emailed to you.</p>
      </div> -->

      <div class="divider"><h3>Personal Details</h3></div>

       <!-- Employee Name -->
      <div class="form">
        <h5>Full Name<span class="must">*</span></h5>
        <%= f.text_field :name, :placeholder => "Full Name", :data => {"fv-validations" => "required;", "fv-messages" => "Cannot be empty.;"} %>
      </div>

        <!-- Professional Title -->
      <div class="form">
        <h5>Professional Title</h5>
        <%= f.text_field :professional_title, :placeholder => "Professional Title" %>
      </div>

      <!-- Industry -->
      <div class="form">
        <h5>Industry <span class="must">*</span></h5>
        <%= f.select :industry_id, @industries, {:selected => (@profile.industry_id rescue ""), :prompt => "Industry"}, {:class => "chosen-select-no-single", :data => {"fv-validations" => "required;", "fv-messages" => "Cannot be empty.;"}} %>
      </div>

      <!-- job category -->
      <div class="form">
        <h5>Functional Area <span class="must">*</span></h5>
        <%= f.select :job_category, [""] + @job_categories.collect{|jc| [jc.name, jc.id]}, {}, {:class => "chosen-select-no-single", :data => {"placeholder" => "Select Functional Area", "fv-validations" => "required;", "fv-messages" => "Cannot be empty.;"}} %>
      </div>

      <!-- job sub category -->
      <div class="form">
        <h5>Sub Functional Area <span class="must">*</span></h5>
        <%= f.select :job_sub_category, [""] + @job_sub_categories.collect{|jc| [jc.name, jc.id]}, {}, {:class => "chosen-select-no-single", :data => {"placeholder" => "Select Sub Functional Area", "fv-validations" => "required;", "fv-messages" => "Cannot be empty.;"}} %>
      </div>

      <!-- Employee Gender -->
      <div class="form">
        <h5>Gender<span class="must">*</span></h5>
        <label class="inline" for="employee_profile_gender_male"> <%= f.radio_button :gender, "male" %>  Male</label>
        <label class="inline" for="employee_profile_gender_female"> <%= f.radio_button :gender, "female", :data => {"fv-validations" => "required;", "fv-messages" => "Cannot be empty.;"} %> Female</label>
      </div>

       <!-- Birth Date -->
      <div class="form">
        <h5>Birth Date</h5>
        <%= f.text_field :birth_date, :placeholder => "DD/MM/YYYY", :data => {:format => "DD/MM/YYYY"}, :value => (@profile.birth_date.strftime("%d/%m/%Y") rescue "") %>
      </div>

      <!-- Martial Status -->
      <div class="form">
        <h5>Martial Status</h5>
        <label class="inline" for="employee_profile_maritial_status_single"> <%= f.radio_button :maritial_status, "single" %>  Single</label>
        <label class="inline" for="employee_profile_maritial_status_married"> <%= f.radio_button :maritial_status, "married" %> Married</label>
      </div>

       <!-- Nationality -->
      <div class="form">
        <h5>Nationality</h5>
        <%= f.select :nationality, @countries, {:selected => (@profile.nationality rescue ""), :prompt => "Nationality"}, {:class => "chosen-select-no-single"} %>
      </div>

       <!-- User Avatar -->
      <div class="form">
        <h5>Photo <span class="must">*</span></h5>
        <% if !@profile.avatar.thumb.url.nil? %>
          <img src="<%= @profile.avatar.thumb.url %>" class="form-avatar" />
          <label class="upload-btn">
            <%= f.file_field :avatar, :class => "browesable", :data => {"fv-validations" => "checkPictureFormat;", "fv-messages" => "Only jpg, jpeg and png file formats allowed. File size should not be more than 2MB.;"} %>
              <i class="fa fa-upload"></i> Browse
          </label>
        <% else %>
          <label class="upload-btn">
            <%= f.file_field :avatar, :class => "browesable", :data => {"fv-validations" => "required;checkPictureFormat;", "fv-messages" => "Please upload a photo.;Only jpg, jpeg and png file formats allowed. File size should not be more than 2MB.;"} %>
              <i class="fa fa-upload"></i> Browse
          </label>
        <% end %>
        <span class="file-name fake-input">No file selected</span>
        <span class="hint">Only png, jpg and jpeg formats are accepted. File size should not be more than 2MB.</span>
      </div>


      <div class="divider"><h3>Contact Details</h3></div>

      <!-- Contact Phone number -->
      <div class="form">
        <h5>Contact Phone number<span class="must">*</span></h5>
        <%= f.text_field :contact_phone_number, :placeholder => "Phone number", :data => {"fv-validations" => "required;", "fv-messages" => "Cannot be empty.;"} %>
      </div>
      
      <!-- Mobile number -->
      <div class="form">
        <h5>Mobile</h5>
        <%= f.text_field :mobile_number, :placeholder => "Mobile" %>
      </div>

       <!-- skype id -->
      <div class="form">
        <h5>Skype ID</h5>
        <%= f.text_field :skype_id, :placeholder => "Skype ID" %>
      </div>

      <!-- Address -->
      <div class="form">
        <h5>Address</h5>
        <%= f.text_area :address, :cols => "40", :rows => "3" %>
      </div>

      <!-- State -->
      <div class="form">
        <h5>State<span class="must">*</span></h5>
        <%= f.select :state, @states, {:selected => (@profile.state rescue ""), :prompt => "State"}, {:class => "chosen-select-no-single", :data => {"fv-validations" => "required;", "fv-messages" => "Cannot be empty.;"}} %>
      </div>
      
      <!-- Locations -->
      <div class="form">
        <h5>Location<span class="must">*</span></h5>
        <%= f.select :location, @locations, {:selected => (@profile.location), :prompt => "Location"}, {:class => "chosen-select-no-single", :data => {"fv-validations" => "required;", "fv-messages" => "Cannot be empty.;"}} %>
      </div>

      <!-- Country -->
      <div class="form">
        <h5>Country</h5>
        <%= f.select :country, @countries, {:selected => (@profile.country rescue ""), :prompt => "Country"}, {:class => "chosen-select-no-single"} %>
      </div>

      <div class="form ">
        <ul class="checkboxes">
          <li>
            <%= f.check_box :resume_searchable %>
            <%= f.label :resume_searchable, "My Resume can be searched by employer." %>
          </li>
        </ul>
      </div>

      <div class="form">
        <%= f.submit "Save", :class => "button border fw margin-top-10" %>
      </div>

    </div>
  </div>
</div>
<% content_for :page_specific_js do %>
  <!-- WYSIWYG Editor -->
  <script type="text/javascript" src="/assets/jquery.sceditor.bbcode.min.js"></script>
  <script type="text/javascript" src="/assets/jquery.sceditor.js"></script>


  <script type="text/javascript">
    $("#employee_profile_birth_date").datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "c-100:c",
      dateFormat: "dd/mm/yy"
    });
     $("input.browesable").on("change",function(){
      var nm = $(this).val();
      $(this).parent().parent().find("span.file-name").text(nm);
    })

    var form = $("form.edit_employee_profile").validateIt();
    form.rules.checkPictureFormat = function(value, element){
      if(value == ""){
        return true;
      }
      var x = value.split("."),
        size = Math.ceil(element[0].files[0].size / (1024 * 1024));
      return (size <= 2 && (x[x.length - 1] == "png" || x[x.length - 1] == "jpg" || x[x.length - 1] == "jpeg") ? true : false);
    }
    $("#employee_profile_job_category").on("change", function(){
      var val = $(this).val();
      $.ajax({
        url : "/member/jobs/get_job_sub",
        data : {"job_category" : val},
        dataType : "html",
        type : "get"
      }).done(function(html){
        var select = $("#employee_profile_job_sub_category");
        select.chosen("destroy");
        select.html(html)
        select.chosen({disable_search_threshold:10, width:"100%"});
      })
    })
  </script>
<% end %>