<div class="container">
  <!-- Submit Page -->
  <div class="sixteen columns">
    <div class="submit-page">

      <!-- Notice -->
      <!-- <div class="notification notice closeable margin-bottom-40">
        <p><span>Have an account?</span> If you don’t have an account you can create one below by entering your email address. A password will be automatically emailed to you.</p>
      </div> -->

      <div class="divider"><h3>Employer Details</h3></div>

      <!-- Company Name -->
      <div class="form">
        <h5>Company Name <span class="must">*</span></h5>
        <%= f.text_field :company_name, :placeholder => "E.g. Company Name", :data => {"fv-validations" => "required;", "fv-messages" => "Cannot be empty.;"} %>
      </div>

      <!-- Contact Person -->
      <div class="form">
        <h5>Contact Person <span class="must">*</span></h5>
        <%= f.text_field :contact_person, :placeholder => "E.g. Contact Person", :data => {"fv-validations" => "required;", "fv-messages" => "Cannot be empty.;"} %>
      </div>

      <!-- Industry -->
      <div class="form">
        <h5>Industry <span class="must">*</span></h5>
        <%= f.select :industry, @industries, {:selected => (@profile.industry rescue ""), :prompt => "Industry"}, {:class => "chosen-select-no-single", :data => {"fv-validations" => "required;", "fv-messages" => "Cannot be empty.;"}} %>
      </div>

      <!-- Company logo -->
      <div class="form">
        <h5>Logo <span class="must">*</span></h5>
        <img src="<%= @profile.avatar.url %>" width="200px" height="200px" />
        <label class="upload-btn">
          <%= f.file_field :avatar, :data => {"fv-validations" => "required;", "fv-messages" => "Cannot be empty.;"} %>
            <i class="fa fa-upload"></i> Browse
        </label>
        <span id="avatar-file-name" class="fake-input">No file selected</span>
      </div>

      <div class="divider"><h3>Contact Details</h3></div>

      <!-- Contact phone number -->
      <div class="form">
        <h5>Contact Phone No. <span class="must">*</span></h5>
        <%= f.text_field :contact_phone_no, :placeholder => "+91 9809 80980", :data => {"fv-validations" => "required;", "fv-messages" => "Cannot be empty.;"} %>
      </div>

      <!-- Company Address -->
      <div class="form">
        <h5>Company Address <span class="must">*</span></h5>
        <%= f.text_area :company_address, :cols => "40", :rows => "3", :data => {"fv-validations" => "required;", "fv-messages" => "Cannot be empty.;"} %>
      </div>
      
      <!-- company profile -->
      <div class="form">
        <h5>Company Profile<span class="must">*</span></h5>
        <%= f.text_area :company_profile, :class => "WYSIWYG", :data => {"fv-validations" => "required;", "fv-messages" => "Cannot be empty.;"} %>
      </div>

      <!-- State -->
      <div class="form">
        <h5>State<span class="must">*</span></h5>
        <%= f.select :state, @states, {:selected => (@profile.state rescue ""), :prompt => "State"}, {:class => "chosen-select-no-single", :data => {"fv-validations" => "required;", "fv-messages" => "Cannot be empty.;"}} %>
      </div>
      
      <!-- Locations -->
      <div class="form">
        <h5>Location<span class="must">*</span></h5>
        <%= f.select :location, @locations, {:selected => (@profile.location), :prompt => "Location"}, {:class => "chosen-select-no-single", :data => {"fv-validations" => "required;", "fv-messages" => "Cannot be empty.;"}} %>
      </div>

      <div class="form">
        <%= f.submit "Save", :class => "button border fw margin-top-10" %>
      </div>
      
    </div>
  </div>

</div>
<%= content_for :page_specific_js do %>
  <!-- WYSIWYG Editor -->
  <script type="text/javascript" src="/assets/jquery.sceditor.bbcode.min.js"></script>
  <script type="text/javascript" src="/assets/jquery.sceditor.js"></script>
  <script type="text/javascript">
    $("#employer_profile_avatar").on("change",function(){
      var nm = $(this).val();
      $("#avatar-file-name").text(nm);
    })
  </script>
<% end %>