<style>
  #footer p{
    color : #999;
  }
</style>
<% content_for :page_specific_js do %>
  <script type="text/javascript" src="/assets/validateit.js"></script>
<% end %>
<div class="container">
  <!-- Submit Page -->
  <div class="sixteen columns">
    <div class="submit-page">
      <div class="divider"><h3>Resume</h3></div>
      <div class="notification notice closeable">
        <p><span>Please Note:</span> Please fill in all the information properly so that we can help you in finding your desired job. 
        <div class="margin-bottom-5"></div>
        <ol>
          <li>Your resume headline is very important. Try to keep it crisp and to the point.</li>
          <li>Candidates with no experience provided will be considered as freshers.</li>
        </ol>
        </p>
      </div>
      <!-- Resume Headline -->
      <div class="form">
        <h5>Resume Headline (brief introduction of your profile) <span class="must">*</span></h5>
        <%= f.text_area :headline, :placeholder => "Briefly explain in 250 characters.", :data => {"fv-validations" => "required;checkforoverlimit;", "fv-messages" => "Cannot be empty.;Cannot be more than 250 characters.;"} %>
        <small><span id="word_counter"><%= @profile.headline.length rescue 0 %></span> / 250</small>
        <div class="hint">Your Resume Headline is the first thing Recruiters will see.</div>
      </div>

      <!-- Resume content -->
      <div class="form">
        <h5>Resume Content <span class="must">*</span></h5>
        <span class="hint">Profile with empty resume content will not show up in any search result. You can also copy and paste your resume here.</span>
        <%= f.text_area :resume_content, :class => "WYSIWYG", :cols => "40", :rows => "3", :data => {"fv-validations" => "required;", "fv-messages" => "Cannot be empty.;"} %>
      </div>

      <!-- video url -->
      <div class="form">
        <h5>Video <span class="optional">(Optional)</span></h5>
        <%= f.text_field :video_url, :placeholder => "A link to video about you" %>
      </div>

       <!-- total exp -->
      <div class="form">
        <h5>Total experience in years <span class="optional">(Optional)</span></h5>
        <%= f.number_field :years_of_exp, :placeholder => "Total years of work experience" %>
        <span class="hint">If left empty, experience will be calculated from experience provided. If no experience provided, you will be considered as a fresher.</span>
      </div>

      <!-- current ctc -->
      <div class="form">
        <h5>Current CTC <span class="must">*</span></h5>
        <div class="controls">
          <%= f.select :current_ctc_lac, options_for_select((0..30).collect{ |i| [i, i] }, @profile.current_ctc_lac.to_s), {:prompt => "Lac(s)"}, {:class => "small-chosen", :data => {"fv-validations" => "required;", "fv-messages" => "Cannot be empty.;"}} %>
          <span style="margin: 10px;">Lac(s)</span>
          <%= f.select :current_ctc_thousand, options_for_select((0..19).collect{ |i| [i*5, i*5] }, @profile.current_ctc_thousand.to_s), {:prompt => "Thousand(s)"}, {:class => "small-chosen", :data => {"fv-validations" => "required;", "fv-messages" => "Cannot be empty.;"}} %> 
          <span style="margin: 10px;">Thousand(s)</span>
        </div>
        <span class="hint">Please select 0, if you are fresher.</span>
      </div>

      <!-- User resume -->
      <div class="form">
        <h5>Resume <span class="must">*</span></h5>
        <% if !@profile.resume.url.nil? %>
          <div><a href="<%= @profile.resume.url %>" target="_blank">Download your uploaded resume.</a></div>
          <label class="upload-btn">
          <%= f.file_field :resume, :class => "browesable", :data => {"fv-validations" => "checkformat;", "fv-messages" => "Only docx, doc and pdf formats are allowed. File size should not be more than 2MB.;"} %>
            <i class="fa fa-upload"></i> Browse
          </label>
        <% else %>
         <label class="upload-btn">
          <%= f.file_field :resume, :class => "browesable", :data => {"fv-validations" => "required;checkformat;", "fv-messages" => "Please upload a resume.;Only docx, doc and pdf formats are allowed. File size should not be more than 2MB.;"} %>
            <i class="fa fa-upload"></i> Browse
          </label>
        <% end %>
        <span class="file-name fake-input">No file selected</span>
        <span class="hint">Only doc, docx and pdf formats are accepted. File size should not be more than 2MB.</span>
      </div>

      <div class="divider"><h3>URL(s)</h3></div>

      <div class="form">
      <h5>Provide URL(s) for your profile(s), paper(s), presentation(s), etc.</h5>
      <div class="form-inside">
        <div class="cloned-boxes">
          <% @profile.urls.each_with_index do |url, i| %>
            <%= f.fields_for :urls, url, :child_index => i do |fe| %>
              <div class="form boxed cloned url-box stored-box">
               <%= render :partial => "url_form", :locals => {:fe => fe, :i => i, :obj => url} %>
              </div>
            <% end %>
          <% end %>
        </div>
        <!-- Add url -->
        <div class="form boxed box-to-clone url-box">
          <%  new_object = f.object.send("urls").build rescue nil %>
          <%= f.fields_for :urls, new_object, :child_index => "XXX" do |fe| %>
            <%= render :partial => "url_form", :locals => {:fe => fe, :i => "XXX", :obj => new_object} %>
          <% end %>
        </div>
        <a href="#" class="button gray add-url add-box"><i class="fa fa-plus-circle"></i> Add Url</a>
      </div>
      </div>


      <div class="divider"><h3>Education Detail(s)</h3></div>
      
      <!-- Education -->
      <div class="form">
        <h5>Education</h5>
        <div class="form-inside">
          <div class="cloned-boxes">
            <% @profile.educations.each_with_index do |education, i| %>
              <%= f.fields_for :educations, education, :child_index => i do |fe| %>
                <div class="form boxed cloned education-box stored-box">
                 <%= render :partial => "education_form", :locals => {:fe => fe, :i => i, :obj => education} %>
                </div>
              <% end %>
            <% end %>
          </div>
          <!-- Add Education -->
          <div class="form boxed box-to-clone education-box">
            <%  new_object = f.object.send("educations").build rescue nil %>
            <%= f.fields_for :educations, new_object, :child_index => "XXX" do |fe| %>
              <%= render :partial => "education_form", :locals => {:fe => fe, :i => "XXX", :obj => new_object} %>
            <% end %>
          </div>
          <a href="#" class="button gray add-education add-box"><i class="fa fa-plus-circle"></i> Add Education</a>
        </div>
      </div>

      <div class="divider"><h3>Work Experience(s)</h3></div>
      
      <!-- Experience -->
      <div class="form">
        <h5>Experience</h5>
        <div class="form-inside">
          <div class="cloned-boxes">
            <% @profile.experiences.each_with_index do |experience, i| %>
              <%= f.fields_for :experiences, experience, :child_index => i do |fe| %>
                <div class="form boxed cloned experience-box stored-box">
                 <%= render :partial => "experience_form", :locals => {:fe => fe, :i => i, :obj => experience} %>
                </div>
              <% end %>
            <% end %>
          </div>
          <!-- Add experience -->
          <div class="form boxed box-to-clone experience-box">
            <%  new_object = f.object.send("experiences").build rescue nil %>
            <%= f.fields_for :experiences, new_object, :child_index => "XXX" do |fe| %>
              <%= render :partial => "experience_form", :locals => {:fe => fe, :i => "XXX", :obj => new_object} %>
            <% end %>
          </div>
          <a href="#" class="button gray add-experience add-box"><i class="fa fa-plus-circle"></i> Add Experience</a>
        </div>
      </div>
      
       <!-- skill tag -->
      <div class="form">
        <h5>Skills </h5>
        <ul id="skill-tags">
          <% @profile.skill_tags.each do |tag| %>
            <li><%= tag.name %></li>
          <% end %>
        </ul>
        <div class="hint">
          Please press enter after every skill. Avoid copying from resume. Short keywords in skills will result in better search. Longer skill tags will not come up in search. You can input any number of skill tags.  For example: <ul class="skill-set"><li>PHP</li><li>RUBY</li><li>QA</li></ul>
          <div style="color:red;">Skill tags longer than 40 characters will be not added.</div>
        </div>
      </div>

      <div class="form">
        <%= f.submit "Save", :class => "button border fw margin-top-10", :id => "save-btn" %>
      </div>
    </div>
  </div>
</div>
<% content_for :page_specific_js do %>
  <!-- WYSIWYG Editor -->
  <script type="text/javascript" src="/assets/jquery.sceditor.bbcode.min.js"></script>
  <script type="text/javascript" src="/assets/jquery.sceditor.js"></script>
  <script type="text/javascript">
    $(".small-chosen").chosen({disable_search_threshold:10, width:"20%"});
    $(".stored-box").each(function(i,box){
      var datefields = $(box).find("input[data-type=date]"),
          from = $(datefields[0]),
          to = $(datefields[1]);
      from.datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: "c-50:c+5",
        dateFormat: "dd/mm/yy"
      }).on( "change", function() {
          to.datepicker( "option", "minDate", getDate( this ) );
      })
      to.datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: "c-50:c+5",
        dateFormat: "dd/mm/yy"
      }).on( "change", function() {
          from.datepicker( "option", "maxDate", getDate( this ) );
      })
    })

    var getDate = function( element ) {
      var date;
      try {
        date = $.datepicker.parseDate( "dd/mm/yy", element.value );
      } catch( error ) {
        date = null;
      }
      return date;
    }

    $("form").on("submit",function(){
      $(".box-to-clone").remove();
    })

    $("input.browesable").on("change",function(){
      var nm = $(this).val();
      $(this).parent().parent().find("span.file-name").text(nm);
    })
    var skill_tags_ids = <%= @tag_array_with_ids.to_json.html_safe %>;
    $("#skill-tags").tagit({
      fieldName : "employee_profile[skill_tag_ids][]",
      availableTags : <%= @tag_array.to_json.html_safe %>,
      placeholder : "Specify your skill set",
      allowSpaces : true,
      allowDuplicates : false,
      beforeTagAdded: function(event, ui) {
        var tags = $("#skill-tags").tagit("assignedTags");
        if(skill_tags_ids[ui.tagLabel] != undefined){
          if(tags.indexOf(skill_tags_ids[ui.tagLabel]) == -1){
            ui.tag.find("input.tagit-hidden-field").val(skill_tags_ids[ui.tagLabel])          
          }else{
            return false;
          }
        }else{
          ui.tag.find("input.tagit-hidden-field").attr("name", "new_skill_tags[]")
        }
      }
    });

  var changeQualification = function(){
    var select = null,
        dataToSend = null;
    if($(this).hasClass("qualification_type")){
      select = $(this).parents(".education-box").find("select.qualification_id");
      dataToSend = {"type" : "qualification", "value" : $(this).val()}
    }else if($(this).hasClass("qualification_id")){
      select = $(this).parents(".education-box").find("select.specialization_id");
      var t = $(this).parents(".education-box").find("select.qualification_type").val();
      dataToSend = {"type" : "specialization", "value" : $(this).val(), "qualification_type" : t};
    }

    select.chosen("destroy");
    select.hide();
    select.parent().append("<span class='content-loading'>Loading...</span>");
    $.ajax({
      url : "/member/profile/getselectdata",
      data : dataToSend,
      type : "get",
      dataType : "html"
    }).done(function(data){
      select.html(data);
      select.parent().find("span.content-loading").remove();
      select.show();
      select.chosen({disable_search_threshold:10, width:"100%"});
    })
  }
  var profileform = $("form.edit_employee_profile").validateIt();
  profileform.rules.checkformat = function(value, element){
    if(value == ""){
      return true;
    }
    var x = value.split("."),
        size = Math.ceil(element[0].files[0].size / (1024 * 1024));
    return (size <= 2 && (x[x.length - 1] == "docx" || x[x.length - 1] == "pdf" || x[x.length - 1] == "doc") ? true : false);
  }

  profileform.rules.checkforoverlimit = function(value){
    return value.length < 251
  }

  var headlineText = "";
  $("#employee_profile_headline").on("keyup",function(){
    var el = $(this),
        len = el.val().length;
    if(len > 250){
      el.val(headlineText);
    }else if(len <= 250){
      headlineText = el.val();
      $("#word_counter").text(len);
    }
  })

  $("#save-btn").on("click",function(){
    $(".custom_error").remove();
    var educationsInputs = $(".new-box .validator-field"),
        allow = true;
    $.each(educationsInputs,function(){
      if($(this).val() == ""){
        allow = false;
        $(this).after("<div class='custom_error validator_error_class text-error'>Cannot be empty.</div>");
      }
    })
    if($("#skill-tags li.tagit-choice").length == 0){
      allow = false;
      $("#skill-tags").after("<div class='custom_error validator_error_class text-error'>Please specify your skill(s).</div>");
    }
    if(!allow){
      var offset = $(".custom_error").eq(0).offset().top - 200;
       $("*").animate({scrollTop:offset}, '300');
      return false;
    }else{
      return true;
    }
  })
</script>
<% end %>