<% if i == "XXX" %>
	<a href="#" class="close-form remove-box button"><i class="fa fa-close"></i></a>
<% else %>
	<%= fe.hidden_field :id %>
	<a href="#" class="close-form remove-box button">
		<i class="fa fa-close"></i>
		<%= fe.hidden_field :_destroy, :value => nil, :class => 'should_destroy' %>
	</a>
<% end %>
<%= fe.text_field :company_name, :class => "search-field validator-field", :placeholder => "Company Name", :data => {"fv-validations" => "required;", "fv-messages" => "Cannot be empty.;"} %>
<%= fe.text_field :start_date, :class => "search-field margin-top-15 validator-field", :placeholder => "Start date", :data => {:type => "date", "fv-validations" => "required;", "fv-messages" => "Cannot be empty.;"}, :value => (obj.start_date.strftime("%d/%m/%Y") rescue "") %>
<%= fe.text_field :end_date, :class => "search-field", :placeholder => "End date (Keep blank if its your current job)", :data => {:type => "date"}, :value => (obj.end_date.strftime("%d/%m/%Y") rescue "") %>
<%= fe.text_field :designation, :class => "search-field validator-field", :placeholder => "Designation" %>
<%= fe.text_field :specialization, :class => "search-field", :placeholder => "Specialization" %>
<%= fe.text_area :note, :cols => "30", :rows => "10", :class => "validator-field", :placeholder => "Jobs/Skills/Responsibilities" %>
