<% if i == "XXX" %>
	<a href="#" class="close-form remove-box button"><i class="fa fa-close"></i></a>
<% else %>
	<%= fe.hidden_field :id %>
	<a href="#" class="close-form remove-box button">
		<i class="fa fa-close"></i>
		<%= fe.hidden_field :_destroy, :value => nil, :class => 'should_destroy' %>
	</a>
<% end %>
<%= fe.text_field :name, :class => "search-field", :placeholder => "Name" %>
<%= fe.text_field :link, :class => "search-field", :placeholder => "http(s)://" %>
