<%= content_for :page_specific_css do %>
  <link rel="stylesheet" type="text/css" href="/assets/jquery.sceditor.default.css">
<% end %>
<%= render :partial => "shared/datepicker" %>
<%= render :partial => "shared/tagit" %>
<%= form_for @profile, url: member_profile_path(@profile) do |f| %>
	<%= render :partial => "employee_portfolio_form", :locals => {:f => f} %>
<% end %>