<div class="quick-actions_homepage">
  <ul class="quick-actions">
    <li class="bg_lb"> <a href="#"> <i class="icon-search"></i> Search Resume </a> </li>
    <li class="bg_ls"> <a href="calendar.html"> <i class="icon-calendar"></i> Calendar</a> </li>
  </ul>
</div>