<div class="widget-box">
  <div class="widget-title bg_lg"><span class="icon"><i class="icon-signal"></i></span>
    <h5>Site Analytics</h5>
  </div>
  <div class="widget-content" >
    <div class="row-fluid">
      <div class="span9">
        <div class="chart" id="analysis"></div>
        </div>
      <div class="span3">
        <ul class="site-stats">
          <li class="bg_lh"><i class="icon-user"></i> <strong><%= EmployeeProfile.count %></strong> <small>Employees</small></li>
          <li class="bg_lh"><i class="icon-user-md"></i> <strong><%= EmployerProfile.count %></strong> <small>Employers </small></li>
          <li class="bg_lh"><i class="icon-briefcase"></i> <strong><%= Job.count %></strong> <small> Jobs</small></li>
          <li class="bg_lh"><i class="icon-envelope-alt"></i> <strong><%= JobApplication.new_applications.where(:reviewed => false).count %></strong> <small>Unreviewed Job Applications</small></li>
          <li class="bg_lh"><i class="icon-tag"></i> <strong><%= SkillTag.count %></strong> <small>Unique Tags</small></li>
        </ul>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <p id="choices"></p>
      </div>
    </div>
  </div>
</div>