<div class="widget-box">
  <div class="widget-title bg_ly" data-toggle="collapse" href="#collapseG2"><span class="icon"><i class="icon-chevron-down"></i></span>
    <h5>Latest Jobs</h5>
  </div>
  <div class="widget-content nopadding collapse in" id="collapseG2">
    <ul class="recent-posts">
    <% @latestposts.each do |post| %>
      <li>
        <div class="user-thumb"> <img width="40" height="40" alt="User" src="<%= post.employer_profile.get_avatar %>"> </div>
        <div class="article-post"> <span class="user-info"> By: <%= post.employer_profile.company_name %> / Date: <%= post.created_at.strftime("%d %B %Y") %> / Time: <%= post.created_at.strftime("%H:%M") %> </span>
          <p><a href="<%= admin_job_path(post.id) %>"><%= post.job_category.name %> / <%= post.job_sub_category.name %></a> </p>
        </div>
      </li>
    <% end %>
      <li>
        <a href="<%= admin_jobs_path %>" class="btn btn-warning btn-mini">View All</a>
      </li>
    </ul>
  </div>
</div>