 <div class="widget-box">
  <div class="widget-title"> <span class="icon"><i class="icon-ok"></i></span>
    <h5>To Do list</h5>
    <span class="pull-right" style="margin-top: 8px;margin-right: 10px;">
      <a href="#addToDo" data-toggle="modal" class="btn btn-mini btn-info">Add</a>
    </span>
  </div>
  <div class="widget-content">
    <div class="todo">
      <ul id="todolist">
        <%= render :partial => "todo", :collection => @todolist %>
      </ul>
    </div>
  </div>
</div>