<li class="clearfix">
	<% usrs = User.find(todo.tagged_users) %>
  <div class="txt"> <%= todo.todo %> 
  	<% usrs.each do |usr| %>
  		<span class="badge badge-warning"><%= usr.name rescue "" %></span>
  	<% end %>
  </div>
  <div class="pull-right"> 
  	<i>Created By : <%= User.find(todo.created_by).name rescue "" %></i>
  	<a class="tip delete-todo" href="<%= admin_dashboard_path(todo.id) %>" title="Delete">
  		<i class="icon-remove"></i>
  	</a>
  </div>
</li>