<%= csrf_meta_tags %>
<%= render :partial => "shared/tagit" %>
<% content_for :page_specific_css do %>
  <style type="text/css">
    #taggedUser{
      margin-left: none;
      margin-right: none;
      margin-left: 0;
    }
  </style>
<% end %>
<% content_for :page_title do %>
  Dashboard
<% end %>
<div class="container-fluid">
  <!--Action boxes-->
  <%= render :partial => "action_boxes" %>
  <!--End-Action boxes-->    

  <!--Chart-box-->    
  <div class="row-fluid">
    <%= render :partial => "chart_box" %>
  </div>
  <!--End-Chart-box--> 
  <hr/>
  <div class="row-fluid">
    <!-- latest Posts -->
    <div class="span6">
      <%= render :partial => "latest_posts_box" %>
    </div>
    <!-- latest posts end -->
    <!-- ToDo list -->
    <div class="span6">
      <%= render :partial => "todo_chart" %>
    </div>
    <!-- End ToDo List -->
   <!--  <div class="span6">
      <div class="widget-box widget-chat">
        <div class="widget-title bg_lb"> <span class="icon"> <i class="icon-comment"></i> </span>
          <h5>Chat Option</h5>
        </div>
        <div class="widget-content nopadding collapse in" id="collapseG4">
          <div class="chat-users panel-right2">
            <div class="panel-title">
              <h5>Online Users</h5>
            </div>
            <div class="panel-content nopadding">
              <ul class="contact-list">
                <li id="user-Alex" class="online"><a href=""><img alt="" src="/assets/backend/demo/av1.jpg" /> <span>Alex</span></a></li>
                <li id="user-Linda"><a href=""><img alt="" src="/assets/backend/demo/av2.jpg" /> <span>Linda</span></a></li>
                <li id="user-John" class="online new"><a href=""><img alt="" src="/assets/backend/demo/av3.jpg" /> <span>John</span></a><span class="msg-count badge badge-info">3</span></li>
                <li id="user-Mark" class="online"><a href=""><img alt="" src="/assets/backend/demo/av4.jpg" /> <span>Mark</span></a></li>
                <li id="user-Maxi" class="online"><a href=""><img alt="" src="/assets/backend/demo/av5.jpg" /> <span>Maxi</span></a></li>
              </ul>
            </div>
          </div>
          <div class="chat-content panel-left2">
            <div class="chat-messages" id="chat-messages">
              <div id="chat-messages-inner"></div>
            </div>
            <div class="chat-message well">
              <button class="btn btn-success">Send</button>
              <span class="input-box">
              <input type="text" name="msg-box" id="msg-box" />
              </span> </div>
          </div>
        </div>
      </div>
      <div class="widget-box">
        <div class="widget-title"><span class="icon"><i class="icon-user"></i></span>
          <h5>Our Partner (Box with Fix height)</h5>
        </div>
        <div class="widget-content nopadding fix_hgt">
          <ul class="recent-posts">
            <li>
              <div class="user-thumb"> <img width="40" height="40" alt="User" src="/assets/backend/demo/av1.jpg"> </div>
              <div class="article-post"> <span class="user-info">John Deo</span>
                <p>Web Desginer &amp; creative Front end developer</p>
              </div>
            </li>
            <li>
              <div class="user-thumb"> <img width="40" height="40" alt="User" src="/assets/backend/demo/av2.jpg"> </div>
              <div class="article-post"> <span class="user-info">John Deo</span>
                <p>Web Desginer &amp; creative Front end developer</p>
              </div>
            </li>
            <li>
              <div class="user-thumb"> <img width="40" height="40" alt="User" src="/assets/backend/demo/av4.jpg"> </div>
              <div class="article-post"> <span class="user-info">John Deo</span>
                <p>Web Desginer &amp; creative Front end developer</p>
              </div>
          </ul>
        </div>
      </div>
      <div class="accordion" id="collapse-group">
        <div class="accordion-group widget-box">
          <div class="accordion-heading">
            <div class="widget-title"> <a data-parent="#collapse-group" href="#collapseGOne" data-toggle="collapse"> <span class="icon"><i class="icon-magnet"></i></span>
              <h5>Accordion Example 1</h5>
              </a> </div>
          </div>
          <div class="collapse in accordion-body" id="collapseGOne">
            <div class="widget-content"> It has multiple paragraphs and is full of waffle to pad out the comment. Usually, you just wish these sorts of comments would come to an end. </div>
          </div>
        </div>
        <div class="accordion-group widget-box">
          <div class="accordion-heading">
            <div class="widget-title"> <a data-parent="#collapse-group" href="#collapseGTwo" data-toggle="collapse"> <span class="icon"><i class="icon-magnet"></i></span>
              <h5>Accordion Example 2</h5>
              </a> </div>
          </div>
          <div class="collapse accordion-body" id="collapseGTwo">
            <div class="widget-content">And is full of waffle to It has multiple paragraphs and is full of waffle to pad out the comment. Usually, you just wish these sorts of comments would come to an end.</div>
          </div>
        </div>
        <div class="accordion-group widget-box">
          <div class="accordion-heading">
            <div class="widget-title"> <a data-parent="#collapse-group" href="#collapseGThree" data-toggle="collapse"> <span class="icon"><i class="icon-magnet"></i></span>
              <h5>Accordion Example 3</h5>
              </a> </div>
          </div>
          <div class="collapse accordion-body" id="collapseGThree">
            <div class="widget-content"> Waffle to It has multiple paragraphs and is full of waffle to pad out the comment. Usually, you just </div>
          </div>
        </div>
      </div>
      <div class="widget-box collapsible">
        <div class="widget-title"> <a data-toggle="collapse" href="#collapseOne"> <span class="icon"><i class="icon-arrow-right"></i></span>
          <h5>Toggle, Open by default, </h5>
          </a> </div>
        <div id="collapseOne" class="collapse in">
          <div class="widget-content"> This box is opened by default, paragraphs and is full of waffle to pad out the comment. Usually, you just wish these sorts of comments would come to an end. </div>
        </div>
        <div class="widget-title"> <a data-toggle="collapse" href="#collapseTwo"> <span class="icon"><i class="icon-remove"></i></span>
          <h5>Toggle, closed by default</h5>
          </a> </div>
        <div id="collapseTwo" class="collapse">
          <div class="widget-content"> This box is now open </div>
        </div>
        <div class="widget-title"> <a data-toggle="collapse" href="#collapseThree"> <span class="icon"><i class="icon-remove"></i></span>
          <h5>Toggle, closed by default</h5>
          </a> </div>
        <div id="collapseThree" class="collapse">
          <div class="widget-content"> This box is now open </div>
        </div>
      </div>
      <div class="widget-box">
        <div class="widget-title">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab1">Tab1</a></li>
            <li><a data-toggle="tab" href="#tab2">Tab2</a></li>
            <li><a data-toggle="tab" href="#tab3">Tab3</a></li>
          </ul>
        </div>
        <div class="widget-content tab-content">
          <div id="tab1" class="tab-pane active">
            <p>And is full of waffle to It has multiple paragraphs and is full of waffle to pad out the comment. Usually, you just wish these sorts of comments would come to an end.multiple paragraphs and is full of waffle to pad out the comment.</p>
            <img src="/assets/backend/demo/demo-image1.jpg" alt="demo-image"/></div>
          <div id="tab2" class="tab-pane"> <img src="/assets/backend/demo/demo-image2.jpg" alt="demo-image"/>
            <p>And is full of waffle to It has multiple paragraphs and is full of waffle to pad out the comment. Usually, you just wish these sorts of comments would come to an end.multiple paragraphs and is full of waffle to pad out the comment.</p>
          </div>
          <div id="tab3" class="tab-pane">
            <p>And is full of waffle to It has multiple paragraphs and is full of waffle to pad out the comment. Usually, you just wish these sorts of comments would come to an end.multiple paragraphs and is full of waffle to pad out the comment. </p>
            <img src="/assets/backend/demo/demo-image3.jpg" alt="demo-image"/></div>
        </div>
      </div>
    </div> -->
  </div>
</div>
 
  <!-- Modal -->
  <div id="addToDo" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="addToDoLabel">Add ToDo</h3>
    </div>
    <div class="modal-body">
      <%= form_for @todo, :url => {:action => "create"}, :html => {:class => "form-horizontal"} do |f| %>
        <div class="control-group">
          <%= f.label :todo, "ToDo", :class => "control-label" %>
          <div class="controls">
            <%= f.text_area :todo %>
            <%= f.hidden_field :created_by, :value => current_user.id.to_s %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :tagged_users, "Tag User", :class => "control-label" %>
          <div class="controls">
            <ul id="taggedUser">
              
            </ul>
          </div>
        </div>
      <% end %>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary" id="save-changes">Save changes</button>
    </div>
  </div>
<% content_for :page_specific_js do %>
  <script src="/assets/backend/matrix.dashboard.js"></script> 
<% end %>
<script type="text/javascript">
  $(function () {

    // hard-code color indices to prevent them from shifting as
    // countries are turned on/off
    var choiceContainer = $("#choices"),
        datasets = null;

    function plotAccordingToChoices() {
        var data = [];

        choiceContainer.find("input:checked").each(function () {
            var key = $(this).attr("name");
            if (key && datasets[key])
                data.push(datasets[key]);
        });

        if (data.length > 0)
            $.plot($("#analysis"), data, {
                yaxis: { min: 0 },
                xaxis: { 
                  // tickDecimals: 0,
                  // timeformat: "%Y/%m/%d" 
                  mode: "time",
                  ticks : 30
                },
                series: {
                  lines: { show: true },
                  points: { show: true }
                }
            });
    }

    $.ajax({
      url : "/admin/dashboards/get_chart_data",
      type : "get",
      dataType : "json"
    }).done(function(data){
      var i = 0;
      datasets = data;
      $.each(datasets, function(key, val) {
          val.color = i;
          ++i;
      });
      
      // insert checkboxes 
      $.each(datasets, function(key, val) {
          choiceContainer.append('<input type="checkbox" name="' + key +
                                 '" checked="checked" id="id' + key + '">' +
                                 '<label for="id' + key + '">'
                                  + val.label + '</label>');
      });
      choiceContainer.find("input").click(plotAccordingToChoices);
      plotAccordingToChoices();

    })
});
  
$(document).ready(function(){
  var user_ids = <%= @user_array_with_ids.to_json.html_safe %>;
  $("#taggedUser").tagit({
    fieldName : "todo_list[tagged_users][]",
    availableTags : <%= @user_array.to_json.html_safe %>,
    placeholder : "Specify your skill set",
    allowSpaces : true,
    allowDuplicates : false,
    beforeTagAdded: function(event, ui) {
      var tags = $("#taggedUser").tagit("assignedTags");
      if(user_ids[ui.tagLabel] != undefined){
        if(tags.indexOf(user_ids[ui.tagLabel]) == -1){
          ui.tag.find("input.tagit-hidden-field").val(user_ids[ui.tagLabel])        
        }else{
          return false;
        }
      }else{
        return false;
      }
    }
  })
  $("#save-changes").on("click",function(){
    var datastring = $("#new_todo_list").serialize();
    $.ajax({
      url : $("#new_todo_list").attr("action"),
      type : "post",
      data : datastring,
      dataType : "html"
    }).done(function(html){
      $("#addToDo").modal("hide");
      $("#todolist").prepend(html);
    })
  })
  $(document).on("click",".delete-todo", function(){
    var el = $(this);
    if(confirm("Are you sure?")){
      $.ajax({
        url : el.attr("href"),
        type : "delete",
        dataType : "json",
        headers: {
          'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
        }
      }).done(function(data){
        if(data.success){
          var pt = el.parent().parent();
          pt.slideUp(function(){
            pt.remove();
          })
        }
      })
    }
    return false;
  })
})
</script>
<!--end-main-container-part-->