<% user = application.employee_profile.user
	profile = user.profile 
	matchedct = @job_skill_tags & profile.skill_tags
	matchrate = ((matchedct.count * 100) / @job_skill_tags.count) rescue nil
	colors = ["#f00", "#ff6800", "#ff9000", "#ffbd00", "#2ab101"]
	if matchrate >= 0 && matchrate <= 20
		matchcolor = colors[0]
	elsif matchrate > 20 && matchrate <= 40
		matchcolor = colors[1]
	elsif matchrate > 40 && matchrate <= 60
		matchcolor = colors[2]
	elsif matchrate > 60 && matchrate <= 80
		matchcolor = colors[3]
	elsif matchrate > 80 && matchrate <= 100
		matchcolor = colors[4]
	end

%>
<div class="application" id="application-<%= application.id %>">
	<div class="app-content">
		
		<!-- Name / Avatar -->
		<div class="info">
			<img src="<%= profile.get_avatar %>" />
			<span>
				<a href="<%= resume_path(user.uid) %>" target="_blank"><%= profile.name %></a>
			</span>
			<ul class="application-info">
				<% if !profile.resume.url.nil? %>
					<li><a href="<%= profile.resume.url %>" target="_blank"><i class="fa fa-file-text"></i> Download CV</a></li>
				<% end %>
				<li><a href="#"><i class="fa fa-envelope"></i> Contact</a></li>
				<% if profile.total_experiences > 0 %>
					<% exp = profile.get_latest_exp %>
					<li><i class="fa fa-building"></i> <%= exp.company_name %></li>
					<li><i class="fa fa-user"></i> <%= exp.designation %></li>
				<% elsif !profile.professional_title.nil? %>
					<li><i class="fa fa-user"></i> <%= profile.professional_title %></li>
				<% end %>
				<li>Profile Match: <a href="#" onclick="return false;" style="color:<%= matchcolor %>;" title="Profile match percentage based on skill sets."><%= matchrate %>%</a></li>
			</ul>
		</div>
		
		<!-- Buttons -->
		<div class="buttons">
			<a href="#one-<%= application_counter %>" class="button gray app-link"><i class="fa fa-pencil"></i> Edit</a>
			<a href="#two-<%= application_counter %>" class="button gray app-link"><i class="fa fa-sticky-note"></i> Add Note</a>
			<a data-application-status="<%= application.reviewed ? "reviewed" : "none" %>" data-application-id="<%= application.id.to_s %>" href="#three-<%= application_counter %>" class="application-show-btn button gray app-link"><i class="fa fa-plus-circle"></i> Show Profile</a>
		</div>
		<div class="clearfix"></div>

	</div>

	<!--  Hidden Tabs -->
	<div class="app-tabs">

		<a href="#" class="close-tab button gray"><i class="fa fa-close"></i></a>
		
		<!-- First Tab -->
	    <div class="app-tab-content" id="one-<%= application_counter %>">

				<div class="select-grid">
					<select name="status" data-placeholder="Application Status" class="chosen-select-no-single">
						<option value="">Application Status</option>
						<option <%= application.status == 0 ? "selected=selected" : "" %> value="0">New</option>
						<option <%= application.status == 1 ? "selected=selected" : "" %> value="1">Interviewed</option>
						<option <%= application.status == 2 ? "selected=selected" : "" %> value="2">Offer extended</option>
						<option <%= application.status == 3 ? "selected=selected" : "" %> value="3">Hired</option>
						<option <%= application.status == 4 ? "selected=selected" : "" %> value="4">Archived</option>
					</select>
				</div>

				<div class="select-grid">
					<input value="<%= application.rating %>" name="rating" type="number" min="1" max="5" placeholder="Rating (out of 5)">
				</div>

				<div class="clearfix"></div>
				<input type="hidden" value="<%= application.id %>" name="application_id" />
				<a href="#" class="button margin-top-15 save-rating">Save</a>
				<a href="<%= delete_job_application_member_job_path(application.id) %>" data-method="delete" data-confirm="Are you sure?" class="button gray margin-top-15 delete-application">Delete this application</a>
	    </div>
	    
	    <!-- Second Tab -->
	    <div class="app-tab-content"  id="two-<%= application_counter %>">
				<textarea name="note" placeholder="Private note regarding this application"><%= application.note %></textarea>
				<input type="hidden" value="<%= application.id %>" name="application_id" />
				<a href="#" class="button margin-top-15 save-note">Add Note</a>
	    </div>
	    
	    <!-- Third Tab -->
	    <div class="app-tab-content"  id="three-<%= application_counter %>">
				<i>Full Name:</i>
				<span><%= profile.name %></span>

				<i>Email:</i>
				<span><a href="mailto:<%= user.email %>"><%= user.email %></a></span>

				<i>Cover Letter:</i>
				<% if application.cover_letter.nil? %>
					<span>No cover letter provided.</span>
				<% else %>
					<span><%= application.cover_letter %></span>
				<% end %>

				<% if !profile.professional_title.nil? %>
					<i>Designation:</i>
					<span><%= profile.professional_title %></span>
				<% end %>

				<% if !profile.resume_content.nil? %>
					<i>Resume Content:</i>
					<span><%= profile.resume_content.html_safe %></span>
				<% end %>
				
				<% if !profile.contact_phone_number.nil? %>
					<i>Contact Phone Number:</i>
					<span><%= profile.contact_phone_number %></span>
				<% end %>

				<% if !profile.mobile_number.nil? && !profile.mobile_number.empty? %>
					<i>Mobile Number:</i>
					<span><%= profile.mobile_number %></span>
				<% end %>

				<% if !profile.location.nil? %>
					<i>Current Location:</i>
					<span><%= profile.full_location %></span>
				<% end %>

				<% if !profile.preferred_location.nil? %>
					<i>Preferred Location:</i>
					<span><%= profile.full_preffered_location %></span>
				<% end %>

				<% if !profile.video_url.nil? && !profile.video_url.empty? %>
					<i>Video URL:</i>
					<span><%= profile.video_url %></span>
				<% end %>

				<% if profile.total_educations > 0 %>
					<% profile.educations.each do |education| %>
						<i><%= education.get_qualification_type %> (<%= education.get_duration %>):</i>
						<span><%= education.get_qualification.name %> from <strong><%= education.school_name %></strong></span> <br />
						<span><%= education.note.html_safe %></span>
					<% end %>
				<% end %>

				<% if profile.total_urls > 0 %>
					<% profile.urls.each do |url| %>
						<i><%= url.name %></i>
						<span><a href="<%= url.link %>" target="_blank"><%= url.link %></a></span>
					<% end %>
				<% end %>

				<% if profile.total_experiences > 0 %>
					<% profile.experiences.each do |exp| %>
						<i><%= exp.designation %> (<%= exp.get_duration %>):</i>
						<span><%= exp.company_name %></span><br />
						<span><%= exp.note.html_safe %></span>
					<% end %>
				<% end %>

				<% if !profile.skill_tags.blank? %>
					<i>Skills:</i>
					<span>
					<ul class="skill-set">
						<% profile.skill_tags.each do |skill| %>
							<li><%= skill.name %></li>
						<% end %>
					</ul>
					</span>
				<% end %>
	    </div>

	</div>

	<!-- Footer -->
	<div class="app-footer">

		<div class="rating <%= application.rating_for_stars %>-stars">
			<div class="star-rating"></div>
			<div class="star-bg"></div>
		</div>

		<ul>
			<li><i class="fa fa-file-text-o"></i> <span class="application-status-area"><%= application.get_status %></span></li>
			<li><i class="fa fa-calendar"></i> <%= application.created_at.strftime("%B %d, %Y") %></li>
		</ul>
		<div class="clearfix"></div>

	</div>
</div>