<%= render :partial => "shared/tagit" %>
<% content_for :page_specific_css do %>
  <link rel="stylesheet" type="text/css" href="/assets/jquery.sceditor.default.css">
<% end %>
<% content_for :page_specific_js do %>
	<script type="text/javascript" src="/assets/validateit.js"></script>
   <script type="text/javascript">
	$(document).ready(function(){


	jQuery("#job_job_category_chosen").trigger("chosen:updated");


    var min_qualification_type = '<%= @job[:min_qualification_type] %>';
   
    if(min_qualification_type == '1')
    {
      $(".ug-qualification").show();
      $(".pg-qualification").show();
    }
    else if(min_qualification_type == '2')
    {
      $(".ug-qualification").show();
      $(".pg-qualification").show();
      $(".phd-qualification").show();
    }
    
     

      var job_cat_id = '<%= @job[:job_category_id] %>';
      $("#job_job_category").val(job_cat_id).trigger("chosen:updated");

      var job_sub_id = '<%= @job[:job_sub_category_id] %>';
      $("#job_job_sub_category").select('val', job_sub_id);
      //$("#job_job_sub_category").val(job_sub_id).trigger("chosen:updated");
      
      var job_salary = '<%= @job[:salary] %>';
      
      var salaryarray = [];
      var partsOfStr = job_salary.split(',');
       for(var i = 0; i < partsOfStr.length; i++)
       {
           salaryarray.push(partsOfStr[i]);
       }
       
       $("#lacs").val(salaryarray[0]).trigger("chosen:updated");
       $("#thousands").val(salaryarray[1]).trigger("chosen:updated");

      	job_salary = '<%= @job[:max_salary] %>';
      
      	salaryarray = [];
      	partsOfStr = job_salary.split(',');
       for(var i = 0; i < partsOfStr.length; i++)
       {
           salaryarray.push(partsOfStr[i]);
       }
       
       $("#max-lacs").val(salaryarray[0]).trigger("chosen:updated");
       $("#max-thousands").val(salaryarray[1]).trigger("chosen:updated");

  });
	</script>
<% end %>
<div class="container">
	
	<!-- Submit Page -->
	<div class="sixteen columns">
		<div class="submit-page">

			<!-- Notice -->
			<!-- <div class="notification notice closeable margin-bottom-40">
				<p><span>Have an account?</span> If you don’t have an account you can create one below by entering your email address. A password will be automatically emailed to you.</p>
			</div> -->

			<!-- designation -->
			
			<div class="form">

				<%= f.label :designation_id, "Designation" %>
				<%= f.select :designation_id, Designation.all.asc(:name).collect{|d| [d.name, d.id.to_s]}, {}, {:class => "chosen-select-no-single", :data => {"placeholder" => "Select Designation", "fv-validations" => "required;", "fv-messages" => "Cannot be empty.;"}} %>
			</div>

			<!-- description -->
			<div class="form">
				<%= f.label :job_description, "Job Description" %>
				<%= f.text_area :job_description, :class => "WYSIWYG", :data => {"fv-validations" => "required;", "fv-messages" => "Cannot be empty.;"} %>
			</div>

			<!-- job category -->
			<div class="form">
				<%= f.label :job_category, "Job Category" %>
				<%= f.select :job_category, @job_categories.collect{|jc| [jc.name, jc.id]}, {}, {:class => "chosen-select-no-single", :data => {"placeholder" => "Select Job Category", "fv-validations" => "required;", "fv-messages" => "Cannot be empty.;"}} %>
			</div>

			<!-- job sub category -->
			<div class="form">
				<%= f.label :job_sub_category, "Job Sub Category" %>
				<%= f.select :job_sub_category, @job_sub_categories.collect{|jc| [jc.name, jc.id]}, {}, {:class => "chosen-select-no-single", :data => {"placeholder" => "Select Job Sub Category", "fv-validations" => "required;", "fv-messages" => "Cannot be empty.;"}} %>
			</div>

			<!-- industry -->
			<div class="form">
				<%= f.label :industry_id, "Industry" %>
				<%= f.select :industry_id, Industry.all.asc(:name).collect{|industry| [industry.name, industry.id]}, {}, {:class => "chosen-select-no-single", :data => {"placeholder" => "Select Industry", "fv-validations" => "required;", "fv-messages" => "Cannot be empty.;"}} %>
			</div>

			<!-- keywords -->
			<div class="form">
        <h5>Skills</h5>
        <ul id="skill-tags">
          <% @job.skill_tags.each do |tag| %>
            <li><%= tag.name %></li>
          <% end %>
        </ul>
        <div class="hint">
          Please press enter after every skill. Short keywords in skills will result in better search. Longer skill tags will not come up in search. You can input any number of skill tags.  For example: <ul class="skill-set"><li>PHP</li><li>RUBY</li><li>QA</li></ul>
          <div style="color:red;">Skill tags longer than 40 characters will be not added.</div>
        </div>
      </div>

			<!-- job type -->
			<div class="form">

				<%= f.label :job_type, "Job Type" %>
				<%= f.select :job_type, Job.get_job_types, {}, {:class => "chosen-select-no-single", :data => {"placeholder" => "Select Job type"}} %>
			</div>

			<!-- location -->
			<div class="form">
				<%= f.label :location_id, "Location" %>
				<%= f.select :location_ids, ImportantLocation.all.asc(:name).collect{|loc| [loc.name, loc.id]}, {}, {:class => "chosen-select-no-single",:multiple => "multiple", :data => {"placeholder" => "Select Location", "fv-validations" => "required;", "fv-messages" => "Cannot be empty.;"}} %>
			</div>

			<!-- salary -->
			<div class="form">
				<%= f.label :salary, "Salary" %>
				<%= select_tag 'lacs', options_for_select((0..30).collect{ |i| [i, i] }), :class => "small-chosen salary" %> 
				<span style="margin: 10px;">Lac(s)</span>
				<%= select_tag 'thousands', options_for_select((0..19).collect{ |i| [i*5, i*5] }), :class => "small-chosen salary" %> 
		    <span style="margin: 10px;">Thousand(s)</span>
				<%= f.hidden_field :salary, :data => {"fv-validations" => "required;", "fv-messages" => "Cannot be empty.;"} %>
			</div>

			<div class="form">
			  <%= f.label :max_salary, "Max Salary", :class => "control-label" %>
			  <div class="controls">
			    <%= select_tag 'max-lacs', options_for_select((1..30).collect{ |i| [i, i] }), :class => "small-chosen max-salary "%>
			      <span style="margin: 10px;">Lac(s)</span>
			    <%= select_tag 'max-thousands', options_for_select((0..19).collect{ |i| [i*5, i*5] }), :class => "small-chosen max-salary" %> 
			    <span style="margin: 10px;">Thousand(s)</span>
			    <%= f.hidden_field :max_salary %>
			  </div>
			</div>

			<!-- can display salary -->
			<div class="form">
				<%= f.check_box :display_salary %> <span style="margin: 10px;">Can display salary?</span>
			</div>

			<!-- minimum exp years -->
			<div class="form">
				<%= f.label :min_experience_years, "Experience Years" %>
				<%= f.select :min_experience_years, (0..30).collect{|i| [i,i]}, {}, {:class => "chosen-select-no-single small-chosen"} %>
				<span style="margin: 10px;"> - </span>
				<%= f.select :max_experience_years, (0..30).collect{|i| [i,i]}, {}, {:class => "chosen-select-no-single small-chosen"} %>
			</div>
			
			<!-- minimum qualification type -->
			<div class="form">
				<%= f.label :min_qualification_type, "Minimum Qualification Type" %>
				<%= f.select :min_qualification_type, Job.get_qualification_types, {}, {:class => "chosen-select-no-single"} %>
			</div>
			
			<div class="ug-qualification" style="padding-left: 50px;">
				<!-- ug qualification -->
				<div class="form">
					<%= f.label :ug_qualification_id, "Under Graduation" %>
					<%= f.select :ug_qualification_id, @ug_qualifications.collect{|ug| [ug.name, ug.id]}, {}, {:class => "chosen-select-no-single qualification", :data => {:for => "ug"}} %>
				</div>
				<div class="form">
					<%= f.label :subject_id, "Subject" %>
					<%= f.select :subject_id, @subjects.collect{|sub| [sub.name, sub.id]}, {}, {:class => "chosen-select-no-single qualification-type spec"} %>
				</div>
			</div>
			<div class="pg-qualification qual-area" style="display: none; padding-left: 50px;">
				<!-- pg qualification -->
				<div class="form">
					<%= f.label :pg_qualification_id, "Post Graduation" %>
					<%= f.select :pg_qualification_id, @pg_qualifications.collect{|pg| [pg.name, pg.id]}, {}, {:class => "chosen-select-no-single qualification", :data => {:for => "pg"}} %>
				</div>
				<div class="form">
					<%= f.label :specialization_id, "Specialization" %>
					<%= f.select :specialization_id, @specializations.collect{|sub| [sub.name, sub.id]}, {}, {:class => "chosen-select-no-single spec"} %>
				</div>
			</div>
			<div class="phd-qualification qual-area" style="display: none; padding-left: 50px;">
				<!-- phd qualification -->
				<div class="form">
					<%= f.label :phd_qualification_id, "PhD" %>
					<%= f.select :phd_qualification_id, @phd_qualifications.collect{|phd| [phd.name, phd.id]}, {}, {:class => "chosen-select-no-single qualification", :data => {:for => "phd"}} %>
				</div>
				<div class="form">
					<%= f.label :phd_specialization_id, "PhD Specialization" %>
					<%= f.select :phd_specialization_id, @phd_specializations.collect{|sub| [sub.name, sub.id]}, {}, {:class => "chosen-select-no-single spec"} %>
				</div>
			</div>
			<div class="form">
				<% if params[:page] %>
					<input type="hidden" value="<%= params[:page] %>" name="page" >
				<% end %>
      	<%= f.submit "Save", :class => "button border fw margin-top-10" %>
				<input type="button" class="button border fw margin-top-10" onclick="window.history.back(); return false;" value="Back">
      </div>      
		</div>
	</div>
</div>
<% content_for :page_specific_js do %>
	<!-- WYSIWYG Editor -->
	<script type="text/javascript" src="/assets/jquery.sceditor.bbcode.min.js"></script>
	<script type="text/javascript" src="/assets/jquery.sceditor.js"></script>
	
	<script type="text/javascript">
		var jobform = $("form.job-form").validateIt();
		$("#job_job_category").on("change", function(){
			var val = $(this).val();
			$.ajax({
				url : "/member/jobs/get_job_sub",
				data : {"job_category" : val},
				dataType : "html",
				type : "get"
			}).done(function(html){
				var select = $("#job_job_sub_category");
				select.chosen("destroy");
				select.html(html)
				select.chosen({disable_search_threshold:10, width:"100%"});
			})
		})
		$(".small-chosen").chosen({disable_search_threshold:10, width:"15%"});
		$(".salary").on("change", function(){
			$("#job_salary").val($("#lacs").val() + "," + $("#thousands").val());
		})
		$(".max-salary").on("change", function(){
      $("#job_max_salary").val($("#max-lacs").val() + "," + $("#max-thousands").val());
    })
		$("#job_min_qualification_type").on("change",function(){
			$(".qual-area").hide();
			switch($(this).val()){
				case "1":
					$(".ug-qualification").show();
					$(".pg-qualification").show();
					break;
				case "2":
					$(".ug-qualification").show();
					$(".pg-qualification").show();
					$(".phd-qualification").show();
					break; 
			}
		})

		$(".qualification").on("change", function(){
			var val = $(this).val(),
					type = $(this).data("for");
			$.ajax({
				url : "/member/jobs/get_specialization",
				data : {"type" : type, "id" : val},
				dataType : "html",
				type : "get"
			}).done(function(html){
				switch(type){
					case "ug":
						var select = $(".ug-qualification .spec");
						break;
					case "pg":
						var select = $(".pg-qualification .spec");
						break;
					case "phd":
						var select = $(".phd-qualification .spec");
						break;
				}
				select.chosen("destroy");
				select.html(html);
				select.chosen({disable_search_threshold:10, width:"100%"});
			})
		})
		var skill_tags_ids = <%= @tag_array_with_ids.to_json.html_safe %>;
    $("#skill-tags").tagit({
      fieldName : "job[skill_tag_ids][]",
      availableTags : <%= @tag_array.to_json.html_safe %>,
      placeholder : "Specify your skill set",
      allowSpaces : true,
      allowDuplicates : false,
      beforeTagAdded: function(event, ui) {
        var tags = $("#skill-tags").tagit("assignedTags");
        if(skill_tags_ids[ui.tagLabel] != undefined){
          if(tags.indexOf(skill_tags_ids[ui.tagLabel]) == -1){
            ui.tag.find("input.tagit-hidden-field").val(skill_tags_ids[ui.tagLabel])          
          }else{
            return false;
          }
        }else{
          ui.tag.find("input.tagit-hidden-field").attr("name", "new_skill_tags[]")
        }
      }
    });
	</script>
<% end %>


