<tr>
	<% job_designation = Designation.find(:id => job.designation_id ) %>
	<td class="title"><a href="<%= job_path(job.uid) %>" target="_blank"><%= job_designation.name %></a></td>
	<td class="centered">-</td>
	<td><%= job.created_at.strftime("%B %d %Y") %></td>
	<td class="centered"><a href="<%= applications_member_jobs_path %>" class="button">Show (<%= job.job_applications.count %>)</a></td>
	<td class="action">
		<!-- <a href="edit_member_job_path"><i class="fa fa-pencil"></i> Edit</a> -->
		<a href="<%= edit_member_job_path(job.uid, :page=>params[:page]) %>"><i class="fa fa-pencil"></i>Edit</a>
		<a href="<%= fill_status_member_job_path(job.id) %>" data-status="notfilled"><i class="fa fa-check "></i> <span>Mark Filled</span></a>
		<%= link_to member_job_path(:id => job.id) , :method => :delete, :data => {:confirm => "Are you sure?"} do %>
				<i class="fa fa-remove"></i> Delete
		<% end %>
		
	</td>
</tr>	