<%= csrf_meta_tags %>
<% content_for :page_specific_breadcrumb do %>
<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg" style="background-image: url(/assets/all-categories-photo.jpg);">
    <div class="container">
        <div class="sixteen columns">
            <h2>Manage Applications</h2>
						<nav id="breadcrumbs">
							<ul>
								<li>You are here:</li>
								<li><a href="<%= member_dashboards_path %>">Dashboard</a></li>
								<li>Applications</li>
							</ul>
						</nav>
        </div>
    </div>
</div>
<% end %>
<!-- Content
================================================== -->
<div class="container">
	<div class="sixteen columns">
		<p class="margin-bottom-25" style="float: left;">The job applications for <strong><a href="<%= job_path(@job.uid) %>" target="_blank"><%= Designation.find(:id => @job.designation_id ).name rescue "Not Applicable" %></a></strong> are listed below.</p>
		<!-- <strong><a href="#" class="download-csv">Download CSV</a></strong> -->
	</div>
	<form method="get" id="filter-form">
		<div class="eight columns">
		<!-- Select -->
			<select data-placeholder="Filter by status" name="status" class="app-filter chosen-select-no-single">
				<option value="0">Filter by status</option>
				<option <%= params[:status] == "0" ? "selected=selected" : "" %> value="0">New</option>
				<option <%= params[:status] == "1" ? "selected=selected" : "" %> value="1">Interviewed</option>
				<option <%= params[:status] == "2" ? "selected=selected" : "" %> value="2">Offer extended</option>
				<option <%= params[:status] == "3" ? "selected=selected" : "" %> value="3">Hired</option>
				<option <%= params[:status] == "4" ? "selected=selected" : "" %> value="4">Archived</option>
			</select>
			<div class="margin-bottom-15"></div>
		</div>

		<div class="eight columns">
			<!-- Select -->
			<select data-placeholder="Newest first" name="sort" class="app-filter chosen-select-no-single">
				<option <%= params[:sort] == "date" ? "selected=selected" : "" %> value="date">Newest first</option>
				<option <%= params[:sort] == "name" ? "selected=selected" : "" %> value="name">Sort by name</option>
				<option <%= params[:sort] == "rating" ? "selected=selected" : "" %> value="rating">Sort by rating</option>
			</select>
			<div class="margin-bottom-35"></div>
		</div>
		<input type="submit" style="display: none;" name="">
	</form>
	<div class="sixteen columns" id="application-area">
		<%= render :partial => "application", :collection => @applications %>
	</div>
</div>
<div id="success-message">
	<div class="notification success closeable">
		<p><span>Success!</span> Info saved successfully for the candidate.</p>
		<a class="close" href="#"></a>
	</div>
</div>
<%= content_for :page_specific_js do %>
	<script type="text/javascript">
		var successAlert = $("#success-message");
		$("#application-area a.save-rating").on("click",function(){
			var el = $(this).parent(),
					status = el.find("select[name=status]").val(),
					rating = el.find("input[name=rating]").val(),
					application_id = el.find("input[name=application_id]").val();

			if(status != "" || rating != "'"){
				$.ajax({
					url : "<%= application_info_member_job_path(@job.uid) %>",
					data : {"status" : status, "rating" : rating, "application_id" : application_id},
					dtaType : "json",
					headers: {
				    'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
				  },
					type : "post"
				}).done(function(data){
					if(data.success){
						var rating = $("#application-" + application_id).find(".rating"),
								statusArea = $("#application-" + application_id).find(".application-status-area");
						classes = rating.attr("class");
						classes = classes.replace("rating ","");
						rating.removeClass(classes);
						rating.addClass(data.rating + "-stars");
						statusArea.text(data.status);
						successAlert.slideDown();
						setTimeout(function(){
							successAlert.slideUp();
						}, 3000);
					}
				})
			}
			return false;
		})
		$("#application-area a.save-note").on("click",function(){
			var el = $(this).parent(),
					note = el.find("textarea[name=note]").val(),
					application_id = el.find("input[name=application_id]").val();

			if(note != ""){
				$.ajax({
					url : "<%= application_info_member_job_path(@job.uid) %>",
					data : {"note" : note, "application_id" : application_id},
					dtaType : "json",
					headers: {
				    'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
				  },
					type : "post"
				}).done(function(data){
					if(data.success){
						successAlert.slideDown();
						setTimeout(function(){
							successAlert.slideUp();
						}, 3000);
					}
				})
			}
			return false;
		})
		$(".app-filter").chosen().change(function(){
			$("#filter-form").submit();
		})
		$(".application-show-btn").on("click",function(){
			var el = $(this);
			if(el.data("application-status") == "none"){
				$.ajax({
					url : "/member/jobs/set_review_status",
					data : {"id" : el.data("application-id")},
					dtaType : "json",
					headers: {
				    'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
				  },
					type : "post"
				}).done(function(){
					el.data("application-status","reviewed");
				})
			}
		})
	</script>
<% end %>

