<!-- Titlebar
================================================== -->
<div id="titlebar" class="single submit-page">
	<div class="container">

		<div class="sixteen columns">
			<h2><i class="fa fa-plus-circle"></i> Add Job</h2>
		</div>

	</div>
</div>
<%= form_for @job, :url => {:action => "create"}, :html => {:class => "job-form"} do |f| %>
	<%= render :partial => "form", :locals => {:f => f} %>
<% end %>