<% qual = edu.get_qualification %>
<% special = edu.get_specialization %>
<dt>
	<small class="date"><%= edu.get_qualification_type %> from <%= edu.get_duration %></small>
	<% if !qual.nil? %>
		<strong><%= qual.name %> at <%= edu.school_name %></strong>
	<% end %>
	<% if !special.nil? && special.name != "" %>
		<span style="font-style: italic;">Specializing in <b><%= special.name %></b></span>
		<div class="margin-bottom-10"></div>
	<% end %>
</dt>
<dd>
	<p><%= simple_format(edu.note) %></p>
</dd>