<dt>
	<small class="date"><%= exp.get_duration %></small>
	<% if !exp.designation.blank? && !exp.company_name.blank? %>
		<strong><%= exp.designation %> at <%= exp.company_name %></strong>
	<% elsif !exp.designation.blank? && exp.company_name.blank? %>
		<strong><%= exp.designation %></strong>
	<% elsif exp.designation.blank? && !exp.company_name.blank? %>
		<strong><%= exp.company_name %></strong>
	<% end %>
</dt>
<dd>
	<p><%= simple_format(exp.note) %></p>
</dd>