<% profile = current_user.profile %>
<div>
	<div><strong>Dear <%= user.name rescue "" %></strong>,</div>
	<p style="margin-top: 10px;">Its a pleasure to inform you that we have a job opportunity for you. Please go through our company's profile and job description. You may apply on <a href="http://www.skynetplacements.com/jobs/<%= job.uid rescue "" %>" target="_blank">www.skynetplacements.com</a>.</p>
	<p style="margin-top: 10px;">
		<%= profile.company_name %>'s profile: <br/>
		<%= profile.company_profile.gsub(/h3|h2|h1/,"h4").html_safe rescue "" %>
	</p>
	<div>
		<strong>Job Profile: </strong> <%= job.job_profile rescue "" %>
	</div>
	<p>
		<%= job.job_description.gsub(/h3|h2|h1/,"h4").html_safe rescue "" %>
	</p>
	<div>
		<strong>Experience required for the Job: </strong>
		<% if !job.nil? %>
			<% if job.min_experience_years == 0 && job.max_experience_years == 0 %>
				Fresher
			<% else %>
				<%= job.min_experience_years %> year(s) ~ <%= job.max_experience_years %> year(s)
			<% end %>
		<% end %>
	</div>
	<div>
		<strong>Annual Salary of the Job: </strong> <%= job.get_salary_in_words rescue "" %>
	</div>
	<div>
		<strong>Job Location: </strong> <%= job.get_locations.join(", ") rescue "" %>
	</div>
	<div style="margin-top: 15px;"><a href="http://www.skynetplacements.com/jobs/<%= job.uid rescue "" %>" target="_blank">Click here to see and apply for this job on SkynetPlacements.</a></div>
	<div style="margin-top: 10px;">
		Regards <br>
		<%= profile.contact_person %> <br>
		<%= profile.company_name %>
	</div>
</div>