<li>
	<a href="<%= resume_path(resume.user.uid) %>">
		<img src="<%= resume.get_avatar %>" />
		<div class="resumes-list-content">
			<h4>
				<%= resume.user.name %> 
				<span>
					<% lexp = resume.get_latest_exp %>
					<% if !lexp.nil? %>
						<%= lexp.designation.capitalize %>
					<% else %>
						<%= resume.professional_title.capitalize rescue "" %>
					<% end %>
				</span>
			</h4>
			<% if !resume.full_location.nil? %>
				<span><i class="fa fa-map-marker"></i> <%= resume.full_location %></span>
			<% end %>
			<% if resume.years_of_exp > 0 %>
					<span class="icons"><i class="fa fa-line-chart"></i> <%= resume.years_of_exp %> year(s)</span>
			<% else %>
					<span class="icons"><i class="fa fa-line-chart"></i> Fresher</span>
			<% end %>
			<% if resume.ctc_available? && resume.years_of_exp > 0 %>
				<span><i class="fa fa-inr"></i> <%= resume.get_current_ctc %></span>
			<% end %>
			<p><%= resume.headline %></p>
			<div class="skills">
				<% resume.skill_tags.each do |st| %>
					<span><%= st.name %></span>
				<% end %>
			</div>
			<div class="clearfix"></div>
		</div>
	</a>
	<div class="clearfix"></div>
</li>