<% content_for :page_specific_breadcrumb do %>
<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg" style="background-image: url(/assets/resume-page.jpg);">
	<div class="container">
		<div class="ten columns">
			<span>We found <%= @resumes.count %> candidate(s) for you.</span>
			<% if @optimized %>	
				<h2>Optimized for jobs posted</h2>
			<% elsif params[:keywords].present? %>
				<h2><%= params[:keywords] %></h2>
			<% elsif 	params[:sort].present? || params[:years].present? || params[:location].present? || params[:skills].present?  %>
				<h2>Filtered</h2>
			<% else %>
				<h2>All candidates</h2>
			<% end %>
		</div>
	</div>
</div>
<% end %>
<!-- Content
================================================== -->
<div class="container">
	<!-- Recent Jobs -->
	<div class="eleven columns">
	<div class="padding-right">
		
		<form action="" method="get" class="list-search">
			<button><i class="fa fa-search"></i></button>
			<input type="text" name="keywords" placeholder="Designation, keywords etc; Seperate keywords with a comma (,)" value="<%= params[:keywords] %>"/>
			<div class="clearfix"></div>
			<div class="margin-bottom-10"></div>
			<% if params[:sort].present? || params[:years].present? || params[:location].present? || params[:skills].present? || params[:keywords].present? || params[:industry].present? %>
				<a href="<%= resumes_path %>">Clear all filters</button>
			<% elsif @optimized %>
				<div style="color:red;">Resumes shown are based on your latest job post(s). You are free to search other resumes as per to your needs. <a href="<%= resumes_path(:show => "all") %>">Show all resumes.</a></div>
			<% end %>
		</form>

		<ul class="resumes-list">
			<%= render :partial => "resume", :collection => @resumes %>
		</ul>
		<div class="clearfix"></div>

		<div class="pagination-container">
			<!-- <nav class="pagination">
				<ul>
					<li><a href="#" class="current-page">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li class="blank">...</li>
					<li><a href="#">22</a></li>
				</ul>
			</nav>

			<nav class="pagination-next-prev">
				<ul>
					<li><a href="#" class="prev">Previous</a></li>
					<li><a href="#" class="next">Next</a></li>
				</ul>
			</nav> -->
			<% if !@resumes.empty? %>
				<%= paginate(@resumes, :window => 2) %>
			<% end %>
		</div>

	</div>
	</div>


	<!-- Widgets -->
	<div class="five columns">
	<form id="search_form" action="" method="get">

		<!-- Sort by -->
		<div class="widget">
			<h4>Sort by</h4>

			<!-- Select -->
			<select data-placeholder="Choose Category" name="sort" class="chosen-select-no-single">
				<option <%= params[:sort].present? && params[:sort] == "desc" ? "selected=selected" : "" %> value="desc">Newest</option>
				<option <%= params[:sort] == "asc" ? "selected=selected" : "" %> value="asc">Oldest</option>
			</select>

		</div>

		<!-- Industries -->
		<div class="widget">
			<h4>Industry</h4>
			<select data-placeholder="Choose Industry" name="industry" class="chosen-select-no-single">
				<option></option>
				<% Industry.all.asc(:name).each do |industry| %>
					<option <%= params[:industry].present? && params[:industry] == industry.id.to_s ? "selected=selected" : "" %> value="<%= industry.id.to_s %>"><%= industry.name %></option>
				<% end %>
			</select>
		</div>

		<!-- Category -->
		<div class="widget">
			<h4>Functional Area</h4>
			<select data-placeholder="Job Category" id="job_job_category" name="job_category" class="chosen-select-no-single">
				<option></option>
				<% JobCategory.all.asc(:name).each do |cat| %>
					<option <%= params[:job_category].present? && params[:job_category] == cat.id.to_s ? "selected=selected" : "" %> value="<%= cat.id.to_s %>"><%= cat.name %></option>
				<% end %>
			</select>
			<div id="sub_category_filter" style="<%= !params[:job_sub_category].present? ? "display: none;" : "" %>">
				<div class="margin-bottom-10"></div>
				<select data-placeholder="Job Sub Category" id="job_job_sub_category" name="job_sub_category" class="chosen-select-no-single">
					<option></option>
					<% if params[:job_sub_category].present? %>
						<% JobSubCategory.find(params[:job_sub_category]).job_category.job_sub_categories.all.asc(:name).each do |cat| %>
							<option <%= params[:job_sub_category] == cat.id.to_s ? "selected=selected" : "" %> value="<%= cat.id.to_s %>"><%= cat.name %></option>
						<% end %>
					<% end %>
				</select>
			</div>
		</div>

		<!-- Location -->
		<div class="widget">
			<h4>Location</h4>
			<select data-placeholder="Choose City" multiple="multiple" name="location[]" class="chosen-select-no-single">
				<option></option>
				<% ImportantLocation.all.asc(:name).each do |loc| %>
					<option <%= params[:location].present? && params[:location].include?(loc.id.to_s) ? "selected=selected" : "" %> value="<%= loc.id.to_s %>"><%= loc.name %></option>
				<% end %>
			</select>
		</div>

		<!-- Qualification -->
		<div class="widget">
			<h4>Minimun Qualification</h4>
			<select data-placeholder="Select minimum qualification" name="qualification" class="chosen-select-no-single">
				<option value="">Any Qualification</option>
				<% Education.get_qualification_types.each do |qual| %>
					<option <%= params[:qualification].present? && params[:qualification] == qual.last.to_s ? "selected=selected" : "" %> value="<%= qual.last %>"><%= qual.first %></option>
				<% end %>
			</select>
		</div>

		<!-- Min Exp -->
		<div class="widget">
			<h4>Minimun Experience</h4>
			<select data-placeholder="Select Year(s)" name="years" class="chosen-select-no-single">
				<option></option>
				<% (0..30).each do |i| %>
					<option <%= params[:years].present? && params[:years] == i.to_s ? "selected=selected" : "" %> value="<%= i %>"><%= i == 0 ? "Fresher" : i %></option>
				<% end %>
			</select>
		</div>
		
		<!-- skills -->
		<div class="widget">
			<h4>Skills</h4>
			<select data-placeholder="Choose Skills" multiple="multiple" name="skills[]" class="chosen-select-no-single">
				<option></option>
				<% SkillTag.all.asc(:name).each do |st| %>
					<option <%= params[:skills].present? && params[:skills].include?(st.id.to_s) ? "selected=selected" : "" %> value="<%= st.id.to_s %>"><%= st.name %></option>
				<% end %>
			</select>
		</div>


		<% if params[:keywords] %>
			<input type="hidden" name="keywords" value="<%= params[:keywords] %>" />
		<% end %>
		<button class="button">Filter</button>
	</form>
	<div class="margin-bottom-50"></div>
	</div>
	<!-- Widgets / End -->
</div>
<% content_for :page_specific_js do %>
	<script type="text/javascript">
		$(function() {
		   $("#search_form").submit(function() {
		      $(this).find(":input").filter(function(){ return !this.value; }).attr("disabled", "disabled");
		      return true; // ensure form still submits
		    });
		});

		$("#job_job_category").on("change", function(){
			var val = $(this).val();
			if(val != ""){
				$("#sub_category_filter").show();
				$.ajax({
					url : "/jobs/get_job_sub",
					data : {"job_category" : val},
					dataType : "html",
					type : "get"
				}).done(function(html){
					var select = $("#job_job_sub_category");
					select.chosen("destroy");
					select.html(html)
					select.chosen({disable_search_threshold:10, width:"100%"});
				})
			}
		})
	</script>
<% end %>