<% content_for :page_specific_breadcrumb do %>
<!-- Titlebar
================================================== -->
<div id="titlebar" class="resume">
	<div class="container">
		<div class="ten columns">
			<div class="resume-titlebar">
				<img src="<%= @profile.get_avatar %>" alt="<%= @user.name %>">
				<div class="resumes-list-content">
					<h4><%= @user.name %> <span><%= @profile.professional_title.capitalize %></span></h4>
					<span class="icons"><i class="fa fa-map-marker"></i> <%= @profile.full_location %></span>
					<span class="icons"><a href="mailto:<%= @user.email %>"><i class="fa fa-envelope"></i> <%= @user.email %></a></span>
					<span class="icons"><a href="#"><i class="fa fa-phone"></i><%= @profile.contact_phone_number %></a></span>
					<% if @profile.years_of_exp > 0 %>
						<span class="icons"><a href="#"><i class="fa fa-line-chart"></i> <%= @profile.years_of_exp %> year(s)</a></span>
					<% else %>
						<span class="icons"><a href="#"><i class="fa fa-line-chart"></i> Fresher</a></span>
					<% end %>
					<% if @profile.ctc_available? && @profile.years_of_exp > 0 %>
						<span class="icons"><a href="#"><i class="fa fa-inr"></i><%= @profile.get_current_ctc %></a></span>
					<% end %>

					<% if !@profile.resume.url.nil? %>
						<span>
							<a href="<%= @profile.resume.url %>" target="_blank">
								<i class="fa fa-file-text"></i> Download CV
							</a>
						</span>
					<% end %>
					<br />
					<ul class="skill-set skills">
						<% @profile.skill_tags.each do |st| %>
							<li><%= st.name %></li>
						<% end %>
					</ul>
					<p><strong><%= @profile.headline %></strong></p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<% if !current_user.nil? && current_user.is_employer? %>
			<div class="six columns">
				<div class="two-buttons">

					<a href="#small-dialog" class="popup-with-zoom-anim button"><i class="fa fa-envelope"></i> Send Message</a>

					<div id="small-dialog" class="zoom-anim-dialog mfp-hide apply-popup">
						<div class="small-dialog-headline">
							<h2>Send Message to <%= @user.name %></h2>
						</div>

						<div class="small-dialog-content">
							<div class="notification notice closeable" style="display: none;" id="message-notification-info">
								<p><span>Please wait!</span> We are sending email for you.</p>
								<a class="close" href="#"></a>
							</div>
							<div class="notification success closeable" style="display: none;" id="message-notification">
								<p><span>Success!</span> Mail has been sent successfully.</p>
								<a class="close" href="#"></a>
							</div>
							<div class="notification error closeable" style="display: none;" id="message-notification-error">
								<p><span>Error!</span> Failed to send application.</p>
								<a class="close" href="#"></a>
							</div>
							<form action="#" method="get" >
								<input type=hidden name="authenticity_token" id="csrf-token" value="<%= form_authenticity_token %>">
								<% jobs = current_user.profile.jobs.not_filled %>
								<% if jobs.count > 0 %>
									<label for="job_id">Select a job:</label>
									<%= select_tag :job_id, options_for_select(jobs.collect{|job| [Designation.find(job.designation_id).name, job.id.to_s]}, jobs.first.id.to_s), :class => "chosen-select-no-single" %>
									<div class="margin-bottom-5"></div>
									<label for="">Job letter (You can edit the message):</label>
									<div id="application-message" contenteditable="true">
										<%= render :partial => "message", :locals => {:job => jobs.first, :user => @user} %>
									</div>
								<% else %>
									<label for="">Job letter (You can edit the message):</label>
									<div id="application-message" contenteditable="true">
										<%= render :partial => "message", :locals => {:job => nil, :user => @user} %>
									</div>
								<% end %>
								<button class="send" id="send_application">Send Application</button>
							</form>
						</div>
						
					</div>
					<% if current_user.profile.bookmarked_resumes.include?(@user.uid) %>
						<a href="<%= bookmark_resume_path(@user.uid, :status => false) %>" class="bookmark-btn button dark"><i class="fa fa-star bookmarked"></i> <b>Remove Bookmark</b></a>
					<% else %>
						<a href="<%= bookmark_resume_path(@user.uid, :status => true) %>" class="bookmark-btn button dark"><i class="fa fa-star"></i> <b>Bookmark This Resume</b></a>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
</div>
<% end %>

<!-- Content -->
<div class="container">
	<!-- Recent Jobs -->
	<div class="eight columns resume-content">
		<div class="padding-right margin-bottom-20">
			<h3 class="margin-bottom-15">Resume</h3>
				<% content = strip_tags(@profile.resume_content) %>
				<% if !content.blank? %>
					<p class="margin-reset">
						<%= @profile.resume_content.html_safe %>
					</p>
				<% else %>
					<% if !@profile.resume.url.nil? %>
						<p><a href="<%= @profile.resume.url %>" target="_blank">Click to download the resume.</a></p>
					<% else %>
						<p>No resume available.</p>
					<% end %>
				<% end %>
		</div>
		<a href="" class="button" onclick="window.history.back();return false;">Back</a>
	</div>


	<!-- Widgets -->
	<div class="eight columns">
		<% if @profile.experiences.count > 0 %>
			<div>
				<h3 class="margin-bottom-20">Experience</h3>
				<!-- Resume Table -->
				<dl class="resume-table">
					<%= render :partial => "exp", :collection => @profile.experiences.desc(:start_date) %>
				</dl>
			</div>
		<% end %>
		<% if @profile.educations.count > 0 %>
			<div>
				<h3 class="margin-bottom-20">Education</h3>
				<!-- Resume Table -->
				<dl class="resume-table">
					<%= render :partial => "edu", :collection => @profile.educations %>
				</dl>
			</div>
		<% end %>
	</div>

</div>
<% content_for :page_specific_js do %>
<script type="text/javascript">
	$(document).ajaxSend(function(elm, xhr, s){
    if (s.type == "POST") {
        xhr.setRequestHeader('x-csrf-token', $('#csrf-token').val());
    }
	});

	$(".bookmark-btn").on("click",function(){
		var el = $(this),
				i = el.find("i");
		$.ajax({
			url : el.attr("href"),
			type : "get",
			dataType : "json"
		}).done(function(data){
			if(data.success){
				if(i.hasClass("bookmarked")){
					i.removeClass("bookmarked");
					el.find("b").text("Bookmark This Resume");
				}else{
					i.addClass("bookmarked");
					el.find("b").text("Remove Bookmark");
				}
			}
		})
		return false;
	})
	$("#small-dialog select#job_id").on("change",function(){
		var el = $(this);
		$.ajax({
			url : "/member/jobs/" + el.val() + "/job_letter",
			type : "get",
			data : {"user" : "<%= @user.id.to_s %>"},
			dataType : "html" 
		}).done(function(html){
			$("#application-message").html(html);
		})
	})
	$("#send_application").on("click",function(){
		if(confirm("Are you sure that you want to send the letter?")){
			$("#message-notification-info").slideDown();
			var offset = $("#message-notification-info").offset().top - 100;
			$("*").animate({scrollTop:offset}, '300');
			$.ajax({
				url : "/member/jobs/send_job_letter",
				type : "post",
				data : {"user" : "<%= @user.id.to_s %>", "msg" : $("#application-message").html()},
				dataType : "json"
			}).done(function(data){
				$("#message-notification-info").slideUp();
				if(data.success){
					$("#message-notification").slideDown();
					setTimeout(function(){$("#message-notification").slideUp();}, 8000);
					var offset = $("#message-notification").offset().top - 100;
				}else{
					$("#message-notification-error").slideDown();
					setTimeout(function(){$("#message-notification-error").slideUp();}, 8000);
				}
			}).error(function(){
				$("#message-notification-info").slideUp();
				$("#message-notification-error").slideDown();
				setTimeout(function(){$("#message-notification-error").slideUp();}, 8000);
			})
		}
		return false;
	})
</script>
<% end %>