<!DOCTYPE html>
<html lang="en">
<head>
<title>Skynet Placements</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon">
<link rel="stylesheet" href="/assets/backend/bootstrap.min.css" />
<link rel="stylesheet" href="/assets/backend/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="/assets/backend/fullcalendar.css" />
<link rel="stylesheet" href="/assets/backend/matrix-style.css" />
<link rel="stylesheet" href="/assets/backend/matrix-media.css" />
<link href="/assets/backend/font-awesome.css" rel="stylesheet" />
<link rel="stylesheet" href="/assets/backend/jquery.gritter.css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
<%= yield :page_specific_css %>
<script type="text/javascript" src="/assets/backend/admin.js"></script>
</head>
<body>

<!-- include header, sidebar, content, footer here -->
<%= render :partial => "shared/back_header" %>
<%= render :partial => "shared/back_sidebar" %>
<!--main-container-part-->
<div id="content">
  <!--breadcrumbs-->
  <div id="content-header">
    <div id="breadcrumb"> 
      <a href="<%= admin_dashboards_path %>" title="Go to Home" class="tip-bottom">
        <i class="icon-dashboard"></i> Dashboard
      </a> 
      <%= yield :breadcrumbs %>
    </div>
    <h1><%= yield :page_title %></h1>
  </div> 
  <%= yield %>
</div>

<script src="/assets/backend/excanvas.min.js"></script> 
<script src="/assets/backend/jquery.min.js"></script> 
<script src="/assets/backend/jquery.ui.custom.js"></script> 
<script src="/assets/backend/bootstrap.min.js"></script> 
<script src="/assets/backend/jquery.flot.min.js"></script> 
<script src="/assets/backend/jquery.flot.resize.min.js"></script> 
<script src="/assets/backend/jquery.peity.min.js"></script> 
<script src="/assets/backend/fullcalendar.min.js"></script> 
<script src="/assets/backend/matrix.js"></script> 
<script src="/assets/backend/jquery.gritter.min.js"></script> 
<script src="/assets/backend/matrix.interface.js"></script> 
<script src="/assets/backend/matrix.chat.js"></script> 
<script src="/assets/backend/jquery.validate.js"></script> 
<% if params[:action] != "index" %>
  <script src="/assets/backend/matrix.form_validation.js"></script> 
  <script src="/assets/backend/matrix.tables.js"></script> 
<% end %>
<script src="/assets/backend/jquery.wizard.js"></script> 
<script src="/assets/backend/jquery.uniform.js"></script> 
<script src="/assets/backend/select2.min.js"></script> 
<script src="/assets/backend/matrix.popover.js"></script> 
<script src="/assets/backend/jquery.dataTables.min.js"></script> 


<script type="text/javascript">
  // This function is called from the pop-up menus to transfer to
  // a different page. Ignore if the value returned is a null string:
  function goPage (newURL) {

      // if url is empty, skip the menu dividers and reset the menu selection to default
      if (newURL != "") {
      
          // if url is "-", it is this page -- reset the menu:
          if (newURL == "-" ) {
              resetMenu();            
          } 
          // else, send page to designated URL            
          else {  
            document.location.href = newURL;
          }
      }
  }

// resets the menu selection upon entry to this page:
function resetMenu() {
   document.gomenu.selector.selectedIndex = 2;
}
</script>
<%= yield :page_specific_js %>
</body>
</html>
