<!DOCTYPE html>
<html>
<head>
<%= render :partial => "shared/metas" %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<%= csrf_meta_tags %>
</head>
<body data-menu-position="closed">
<div id="wrapper">
  <%= render :partial => "shared/front_header" %>
  <%= yield :page_specific_breadcrumb %>
  <%= yield %>
  <%= render :partial => "shared/front_footer" %>
  <div id="backtotop"><a href="#"></a></div>
</div>
<!-- Scripts
================================================== -->
<script src="/assets/jquery-2.1.3.min.js"></script>
<script src="/assets/custom.js"></script>
<script src="/assets/jquery.superfish.js"></script>
<script src="/assets/jquery.themepunch.tools.min.js"></script>
<script src="/assets/jquery.themepunch.revolution.min.js"></script>
<script src="/assets/jquery.themepunch.showbizpro.min.js"></script>
<script src="/assets/jquery.flexslider-min.js"></script>
<script src="/assets/chosen.jquery.min.js"></script>
<script src="/assets/jquery.magnific-popup.min.js"></script>
<script src="/assets/waypoints.min.js"></script>
<script src="/assets/jquery.counterup.min.js"></script>
<script src="/assets/jquery.jpanelmenu.js"></script>
<script src="/assets/stacktable.js"></script>
<script src="/assets/headroom.min.js"></script>
<script src="/assets/validateit.js"></script>
<%= yield :page_specific_js %>
</body>
</html>
